@mixin navbar(
    $color: null,
    $hover-color: null,
    $padding: 0px 14px,
    $line-height: null,
    $bg-color: null,
    $bg-hover-color: null,
    $border: null,
    $border-radius: null,
    $hover-border: null,
    $uppercase: null
) {
    ul,
    li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    a {
        color: $color;
        text-decoration: none;
        height: $line-height;
        line-height: $line-height;
        padding: $padding;
        display: block;
        border: $border;
        border-radius: $border-radius;
        white-space: nowrap;

        &:hover {
            color: $hover-color;
            text-decoration: none;
            border: $hover-border;
        }
    }

    ul {
        border-radius: $border-radius;
    }

    > ul {
        background-color: $bg-color;

        > li {
            border-radius: $border-radius;

            a:focus,
            a:hover {
                background-color: $bg-hover-color;
            }

            > a {
                text-transform: $uppercase;

                // root title
                span {
                    margin-left: 10px;
                }
            }

            &.selected > a {
                color: $hover-color;
                background-color: $bg-hover-color;
            }

            &.expand > a {
                //color: $hover-color;
                background-color: $bg-hover-color;
            }
        }
    }
}

@mixin navbar-nested(
    $color: null,
    $hover-color: null,
    $padding: null,
    $bg-color: #fff,
    $bg-hover-color: null,
    $separator-color: null,
    $box-shadow: null
) {
    > ul > li {
        position: relative;

        > ul {
            background: $bg-color;
            box-shadow: $box-shadow;

            > li:hover a {
                background: $bg-hover-color;
            }
        }

        ul li {
            a {
                color: $color;
                padding: $padding;
                display: block;

                &:hover {
                    color: $hover-color;
                }
            }

            &.separator {
                font-size: 1px;
                margin: 2px 0 2px 0;
                border-bottom-width: $border-width;
                border-bottom-style: $border-style;
                border-bottom-color: $separator-color;
                height: 0;
                line-height: 0;
            }

            ul li {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

@mixin navbar-horizontal {
    > ul {
        display: flex;
        flex-wrap: wrap;
    }
}

@mixin navbar-inline {
    > ul {
        > li {
            display: inline-block;
        }
    }
}

@mixin navbar-dropdown($box-shadow: null, $left: null, $right: null, $position: absolute, $width: 180px) {
    > ul > li {
        > ul {
            min-width: $width;
            box-shadow: $box-shadow;
            position: $position;
            right: $right;
            left: $left;
            display: none;
            z-index: $zindex-navbar;

            &.active {
                display: block;
            }
        }
    }
}

@mixin navbar-hover-dropdown {
    > ul > li:hover > ul {
        display: block;
    }
}

@mixin navbar-hover-title {
    > ul > li {
        > a > span {
            display: none;
        }

        > ul {
            display: none !important;
        }
    }

    > ul:hover > li {
        > a > span {
            display: inline;
        }

        &.expand > ul {
            display: block !important;
        }
    }
}

// button
@mixin navbar-btn($color: null, $hover-color: null, $font-size: null) {
    font-size: $font-size;
    color: $color;
    display: none;

    &:hover {
        color: $hover-color;
    }

    @media (max-width: $screen-small) {
        display: inline-block;
    }
}

.navbar-control {
    > ul > li > ul {
        display: none;
    }

    > ul > li.expand > ul {
        display: block;
    }
}

// pull-navbar
.pull-navbar {
    background: var(--solid-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    transform: translateX(-100%);
    z-index: $zindex-pullnav + 1;
    zoom: 1;
    overflow-y: auto;
    transition: transform 0.2s ease-out;
}

.pull-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: $zindex-pullnav;
}

.pull-target {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10px;
    background: rgba(0, 0, 0, 0);
    z-index: $zindex-pullnav + 2;
}

.pull-on {
    position: absolute;
    width: 100%;
    // overflow: hidden;

    .pull-navbar {
        transform: translateX(0%);
    }

    .pull-overlay {
        display: block;
    }

    .pull-target {
        left: auto;
        right: 0;
        width: calc(30% + 10px);
    }
}
