/* --- Usys --------------------------------------------- */
.usys {
    &-wrapper {
        margin: var(--spacing-12) auto;
        max-width: 700px;
    }

    &-modal {
        margin: var(--spacing-4) var(--spacing-8);
    }

    &-login {
        max-width: 400px !important;

        .reset-pwd {
            margin-left: var(--spacing-4);
        }

        button {
            width: 100%;
        }
    }

    &-connect {
        margin-top: var(--spacing-2);

        a {
            font-weight: bold;
            color: var(--solid-font-color);
            background: var(--solid-bg-color);
            padding: var(--spacing-3) var(--spacing-4);
            display: block;
            position: relative;
            text-decoration: none;

            i {
                margin-right: var(--spacing-4);
            }
        }
    }

    &-reset-act {
        margin: var(--spacing-12) auto;

        #new-email {
            margin: 0;
            padding: 0;
            list-style: none;

            span {
                font-style: italic;
                margin-right: var(--spacing-4);
                padding: 0;
            }
        }
    }

    //&-signup {}
    //&-reset-pwd {}
    //&-edit-pwd {}
}
