/* --- Badge --------------------------------------------------*/
.badge {
    text-decoration: none;
    white-space: nowrap;
    border-width: var(--border-width);
    border-style: var(--border-style);
    padding: $badge-padding-y $badge-padding-x;
    vertical-align: baseline;
    border-radius: var(--rounded-md);
    display: inline-block;

    & ~ & {
        margin-left: var(--border-width);
    }

    &-small {
        font-size: var(--font-size-sm);
    }

    &-large {
        font-size: var(--font-size-lg);
    }
}
