/* -------- borders ------------------------------------------------- */
.rounded {
    border-radius: var(--rounded-md);
}

.rounded-small {
    border-radius: var(--rounded-sm);
}

.rounded-large {
    border-radius: var(--rounded-lg);
}

.rounded-full {
    border-radius: var(--rounded-full);
}
