/* -------- dialog ------------------------------------------------- */
.dialog {
    margin-bottom: $spacing;
    padding: $dialog-padding;
    border-width: $dialog-border-width;
    border-style: $border-style;
    border-radius: $medium-border-radius;
}
