/* -------- dialog ------------------------------------------------- */
.dialog {
    margin-bottom: var(--spacing-4);
    padding: $dialog-padding;
    border-width: $dialog-border-width;
    border-style: var(--border-style);
    border-radius: var(--rounded-md);
}
