/* --- grid ---------------------------- */
.grid {
    display: grid;
    gap: var(--spacing-4);

    &-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    &-12 {
        grid-template-columns: 1fr 2fr;
    }

    &-21 {
        grid-template-columns: 2fr 1fr;
    }

    &-13 {
        grid-template-columns: 1fr 3fr;
    }

    &-31 {
        grid-template-columns: 3fr 1fr;
    }

    &-14 {
        grid-template-columns: 1fr 4fr;
    }

    &-41 {
        grid-template-columns: 4fr 1fr;
    }

    &-small-box {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }

    &-medium-box {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

    &-large-box {
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    }
}

@each $size, $value in $css-spacers {
    .gap-#{$size} {
        gap: $value;
    }
}

@media (max-width: $screen-lg) {
    .grid-responsive.grid {
        &-4 {
            grid-template-columns: 1fr 1fr;
        }

        &-13 {
            grid-template-columns: 1fr 2fr;
        }

        &-31 {
            grid-template-columns: 2fr 1fr;
        }
    }
}

@media (max-width: $screen-md) {
    .grid-responsive.grid {
        &-2,
        &-3,
        &-4,
        &-5,
        &-12,
        &-21,
        &-13,
        &-31,
        &-14,
        &-41 {
            grid-template-columns: 1fr;
        }
    }
}

/* --- container ----------------- */
.container,
.container-fluid {
    width: 100%;
    padding-right: var(--spacing-4);
    padding-left: var(--spacing-4);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: $screen-sm) {
    .container {
        max-width: calc($screen-sm - 2 * var(--spacing-4));
    }
}

@media (min-width: $screen-md) {
    .container {
        max-width: calc($screen-md - 3 * var(--spacing-4));
    }
}

@media (min-width: $screen-lg) {
    .container {
        max-width: calc($screen-lg - 2 * var(--spacing-4));
    }
}

@media (min-width: $screen-xl) {
    .container {
        max-width: calc($screen-xl - 3 * var(--spacing-4));
    }
}
