/* --- notify --- */
.notify-box {
    position: relative;
    z-index: $notify-zindex;

    > span {
        display: flex;
        justify-content: center;
        position: fixed;
        left: 0;
        right: 0;

        > span {
            color: $notify-color;
            position: absolute;
            top: $notify-top;
            margin: 0 var(--spacing-4);
            padding: var(--spacing-2) var(--spacing-4);
            background: $notify-bg-color;
            border-radius: var(--rounded-md);
            box-shadow: var(--box-shadow-dropdown);
            animation-name: notify;
            animation-duration: 0.5s;
        }
    }
}

@keyframes notify {
    from {
        opacity: 0;
        top: $notify-top - 40px;
    }

    to {
        opacity: 1;
        top: $notify-top;
    }
}

@media (min-width: $screen-md) {
    .notify-box > span > span {
        max-width: 80%;
    }
}

@media (min-width: $screen-lg) {
    .notify-box > span > span {
        max-width: 60%;
    }
}
