/* -------- panel ------------------------------------------------- */
.panel {
    background-color: var(--regular-surface-color);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-radius: var(--rounded-md);
    box-shadow: var(--box-shadow-template);
    position: relative;

    &-header {
        padding: var(--spacing-4);
        border-bottom-width: var(--border-width);
        border-bottom-style: var(--border-style);

        h1,
        h2,
        h3,
        h4,
        h5 {
            margin: 0;
        }
    }

    &-body {
        padding: var(--spacing-4);
        overflow-x: auto;

        .panel-stat-value {
            font-size: var(--font-size-2xl);
        }
    }

    &-footer {
        padding: var(--spacing-4);
        border-top-width: var(--border-width);
        border-top-style: var(--border-style);
    }
}
