/* -------- tiles ------------------------------------------------- */
.tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: var(--spacing-4);

    & > div {
        min-width: 100px;
        min-height: 100px;
        background-color: var(--regular-bg-color);
        border-radius: var(--rounded-md);
        display: flex;
        flex-direction: column;

        &:hover {
            transform: scale(1.04);
        }

        & > a {
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .tile-content {
        margin: auto 0;
        padding: 0.25rem;
        text-align: center;
    }

    .tile-wrapper {
        padding: 0 1.75rem;
        display: inline-block;
        position: relative;
    }

    .tile-icon {
        font-size: 1.5rem;
    }

    .tile-caption {
        color: var(--regular-font-color);
        font-weight: bold;
        font-size: var(--font-size-sm);
    }

    .tile-badge {
        position: absolute;
        inset: auto 0 -0.25rem auto;
    }

    &.tiles-medium > div {
        min-width: 140px;
        min-height: 140px;

        .tile-icon {
            font-size: 2.5rem;
        }

        .tile-caption {
            font-size: var(--font-size-base);
        }
    }

    &.tiles-large > div {
        min-width: 180px;
        min-height: 180px;

        .tile-icon {
            font-size: 3rem;
        }

        .tile-caption {
            font-size: var(--font-size-lg);
        }
    }

    &-fieldset {
        margin: 0;
        margin-bottom: var(--spacing-4);
        background-color: var(--regular-surface-color);
        border-width: var(--border-width);
        border-style: var(--border-style);
        border-color: var(--regular-border-color);
        border-radius: var(--rounded-md);
        box-shadow: var(--box-shadow-template);

        > legend {
            color: var(--regular-font-color);
        }
    }
}
