/* --- tipography ------------------------------------------- */
body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    font-weight: normal;
    line-height: var(--line-height-base);
    color: var(--regular-font-color);
}

// link
a {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }

    &:focus {
        color: $link-hover-color;
    }
}

// font-family
.font-sans {
    font-family: var(--font-family-sans);
}

.font-serif {
    font-family: var(--font-family-serif);
}

.font-mono {
    font-family: var(--font-family-mono);
}

// font-size
.font-small {
    font-size: var(--font-size-sm);
}

.font-large {
    font-size: var(--font-size-lg);
}

//
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

// headers
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--regular-heading-color);
    text-wrap: balance;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

@each $name, $size in $heading-sizes {
    #{$name} {
        font-size: $size;
    }
}

// others
img {
    border-style: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-wrap: pretty;
}

// code
code,
kbd,
pre,
samp {
    font-family: var(--font-family-mono);
}

code {
    font-size: $code-font-size;
    color: $code-color;
    background-color: $code-bg-color;
    padding: $code-padding;
    border-radius: var(--rounded-md);
}

pre {
    code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        background-color: transparent;
        border-radius: 0;
    }
}

// selection
::selection {
    color: $font-selection-color;
    background: $font-selection-bg;
}

// form
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

::placeholder {
    color: currentColor;
    opacity: 0.5;
}
