/* -------- toasts ------------------------------------------------- */
.toast-container {
    width: $toast-max-width;
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: var(--zindex-toast);
}

.toast {
    box-shadow: var(--box-shadow-dropdown);
    border-radius: var(--rounded-md);
    display: flex;

    > div {
        padding: 0.5rem 0.75rem;
    }

    &-body {
        flex: auto;
    }

    &-close {
        flex: none !important;

        & i {
            cursor: pointer;
        }
    }
    & ~ .toast {
        margin-top: var(--spacing-4);
    }
}
