// General
// -----------------------------------------------
// light
$default-light-surface-color: #ffffff !default;
$default-light-color: #d1d4d8 !default;
$default-light-font-color: #202428 !default;
// dark
$default-dark-surface-color: #202428 !default;
$default-dark-color: #34383c !default;
$default-dark-font-color: #e5e9ec !default;

//
$primary-color: #009eff !default; // #009eff #3366cc #ff6633 #EDAE49
$secondary-color: #eb51aa !default;

//
$blue: #067bcc !default;
$green: #34a745 !default;
$orange: #fd7e24 !default;
$red: #dc3540 !default;
$yellow: #ffc134 !default;
$black: #000000 !default;

$colors: () !default;
$colors: map-merge(
    (
        "blue": $blue,
        "green": $green,
        "orange": $orange,
        "red": $red,
        "yellow": $yellow
    ),
    $colors
);

$theme-colors: () !default;
$theme-colors: map-merge(
    (
        "default": (
            "light": $default-light-color,
            "dark": $default-dark-color,
            "contrast": "primary"
        ),
        "primary": (
            "light": $primary-color,
            "dark": $primary-color,
            "contrast": "secondary"
        ),
        "secondary": (
            "light": $secondary-color,
            "dark": $secondary-color,
            "contrast": "primary"
        ),
        "success": (
            "light": $green,
            "dark": $green,
            "contrast": "default"
        ),
        "info": (
            "light": $blue,
            "dark": $blue,
            "contrast": "default"
        ),
        "warning": (
            "light": $yellow,
            "dark": $yellow,
            "contrast": "default"
        ),
        "danger": (
            "light": $red,
            "dark": $red,
            "contrast": "default"
        )
    ),
    $theme-colors
);

@function to-rgb($color) {
    @return red($color) "," green($color) "," blue($color);
}

// regular-colors
@function create-regular-light-color-map($key, $color) {
    $surface-color: null;
    $font-color: null;
    $subtle-font-color: null;
    $border-color: $color;
    $bg-color: mix(white, $color, 66%);

    @if ($key == "default") {
        $surface-color: $default-light-surface-color;
        $font-color: $default-light-font-color;
        $subtle-font-color: mix(white, $font-color, 55%); // 58%
    } @else {
        $surface-color: $color;
        $font-color: mix(black, $color, 60%);
        $subtle-font-color: mix(white, $font-color, 80%);
    }

    $map: (
        "surface": $surface-color,
        "surface-rgb": to-rgb($surface-color),
        //
        "font": $font-color,
        "active-font": darken($font-color, 30%),
        "disabled-font": lighten($font-color, 30%),
        "heading": $font-color,
        "subtle-font": $subtle-font-color,
        //
        "border": $border-color,
        "active-border": darken($border-color, 5%),
        "disabled-border": lighten($border-color, 5%),
        //
        "bg": $bg-color,
        "active-bg": darken($bg-color, 10%),
        "disabled-bg": lighten($bg-color, 10%)
    );
    @return $map;
}

// regular-colors
@function create-regular-dark-color-map($key, $color) {
    $surface-color: null;
    $font-color: null;
    $subtle-font-color: null;
    $bg-color: null;

    @if ($key == "default") {
        $surface-color: $default-dark-surface-color;
        //$color: $default-dark-color;
        $font-color: $default-dark-font-color;
        $bg-color: mix(black, $color, 20%);
    } @else {
        $surface-color: $color;
        $color: mix(black, $color, 40%);
        $font-color: mix(white, $color, 80%);
        $bg-color: mix(white, $color, 25%);
    }

    $subtle-font-color: mix(black, $font-color, 40%);
    $border-color: $color;
    $map: (
        "surface": $surface-color,
        "surface-rgb": to-rgb($surface-color),
        //
        "font": $font-color,
        "active-font": darken($font-color, 30%),
        "disabled-font": darken($font-color, 50%),
        "heading": $font-color,
        "subtle-font": $subtle-font-color,
        //
        "border": $border-color,
        "active-border": lighten($border-color, 5%),
        "disabled-border": darken($border-color, 30%),
        //
        "bg": $bg-color,
        "active-bg": darken($bg-color, 10%),
        "disabled-bg": darken($bg-color, 20%)
    );
    @return $map;
}

$regular-light-colors: () !default;
$regular-dark-colors: () !default;

@each $key, $color in $theme-colors {
    $map: ();
    $map: map-merge(
        $map,
        (
            $key: create-regular-light-color-map($key, map-get($color, "light"))
        )
    );
    $regular-light-colors: map-merge($regular-light-colors, $map);
    $map: ();
    $map: map-merge(
        $map,
        (
            $key: create-regular-dark-color-map($key, map-get($color, "dark"))
        )
    );
    $regular-dark-colors: map-merge($regular-dark-colors, $map);
}

// solid-colors
@function create-solid-light-color-map($key, $color) {
    @if ($key == "default") {
        $color: $default-light-font-color;
    }

    $font-color: mix(white, $color, 94%);
    $subtle-font-color: mix(white, $color, 60%);
    $border-color: mix(white, $color, 25%);
    $bg-color: $color;
    $map: (
        "surface": $color,
        "surface-rgb": to-rgb($color),
        //
        "font": $font-color,
        "active-font": darken($font-color, 15%),
        "disabled-font": lighten($font-color, 15%),
        "heading": $font-color,
        "subtle-font": $subtle-font-color,
        //
        "border": $border-color,
        "active-border": darken($border-color, 20%),
        "disabled-border": lighten($border-color, 15%),
        //
        "bg": $bg-color,
        "active-bg": darken($bg-color, 15%),
        "disabled-bg": lighten($bg-color, 15%)
    );
    @return $map;
}

@function create-solid-dark-color-map($key, $color) {
    @if ($key == "default") {
        $color: mix(black, $color, 20%);
    } @else {
        $color: mix(black, $color, 30%);
    }

    $font-color: mix(white, $color, 94%);
    $subtle-font-color: mix(white, $color, 70%);
    $border-color: mix(white, $color, 25%);
    $bg-color: $color;
    $map: (
        "surface": $color,
        "surface-rgb": to-rgb($color),
        //
        "font": $font-color,
        "active-font": darken($font-color, 15%),
        "disabled-font": darken($font-color, 40%),
        "heading": $font-color,
        "subtle-font": $subtle-font-color,
        //
        "border": $border-color,
        "active-border": darken($border-color, 20%),
        "disabled-border": darken($border-color, 40%),
        //
        "bg": $bg-color,
        "active-bg": darken($bg-color, 10%),
        "disabled-bg": darken($bg-color, 20%)
    );
    @return $map;
}

$solid-light-colors: () !default;
$solid-dark-colors: () !default;

@each $key, $color in $theme-colors {
    // light
    $map: ();
    $map: map-merge(
        $map,
        (
            $key: create-solid-light-color-map($key, map-get($color, "light"))
        )
    );
    $solid-light-colors: map-merge($solid-light-colors, $map);
    // dark
    $map: ();
    $map: map-merge(
        $map,
        (
            $key: create-solid-dark-color-map($key, map-get($color, "dark"))
        )
    );
    $solid-dark-colors: map-merge($solid-dark-colors, $map);
}

// tipography
$line-height-base: 1.5 !default;

$font-family-sans: ui-sans-serif, system-ui, sans-serif !default;
$font-family-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-family-mono: monospace !default;
$font-family-base: $font-family-sans !default;

$font-size-base: 1rem !default; // .875rem
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-xl: $font-size-base * 1.5 !default;
$font-size-2xl: $font-size-base * 2 !default;
$font-size-3xl: $font-size-base * 2.5 !default;

$heading-font-family: inherit !default;
$heading-font-weight: normal !default;
$heading-sizes: () !default;
$heading-sizes: map-merge(
    (
        "h1": 2rem,
        "h2": 1.75rem,
        "h3": 1.5rem,
        "h4": 1.25rem,
        "h5": 1.125rem,
        "h6": 1rem
    ),
    $heading-sizes
);

// selection
$font-selection-color: var(--solid-primary-font-color) !default;
$font-selection-bg: var(--solid-primary-bg-color) !default;

// link // ?
$link-color: $primary-color !default;
$link-decoration: null !default;

$link-hover-color: $primary-color !default;
$link-hover-decoration: null !default;

// code
$code-font-size: $font-size-sm !default;
$code-color: $link-color !default;
$code-padding: 0.25rem 0.375rem !default;
$code-bg-color: var(--regular-bg-color) !default;

// screen
$screen-sm: 600px !default;
$screen-md: 770px !default;
$screen-lg: 990px !default;
$screen-xl: 1200px !default;

// z-index
$zindex-navbar: 1000 !default;
$zindex-dropdown: 1000 !default;
$zindex-modal: 1050 !default;
$zindex-lightbox: 1050 !default;
$zindex-tooltip: 1070 !default;
$zindex-loading: 1080 !default;
$zindex-toast: 1080 !default;
$zindex-pullnav: 2000 !default;

// shadows
$shadow-color: rgba(var(--solid-surface-rgb-color), 0.1) !default;

$box-shadow-sm:
    0 1px 3px 0 $shadow-color,
    0 1px 2px -1px $shadow-color !default;
$box-shadow-md:
    0 4px 6px -1px $shadow-color,
    0 2px 4px -2px $shadow-color !default;
$box-shadow-lg:
    0 10px 15px -3px $shadow-color,
    0 4px 6px -4px $shadow-color !default;
$box-shadow-xl:
    0 20px 25px -5px $shadow-color,
    0 8px 10px -6px $shadow-color !default;

$box-shadow-template: var(--box-shadow-md) !default;
$box-shadow-dropdown: var(--box-shadow-lg) !default;
$box-shadow-button: var(--box-shadow-sm) !default;
$box-shadow-input: var(--box-shadow-sm) !default;

// overlay
$overlay-color-1: rgba(0, 0, 0, 0.3) !default;
$overlay-color-2: rgba(0, 0, 0, 0.8) !default;

// border
$border-width: 1px !default;
$border-style: solid !default;
//
$border-radius-sm: 0.25rem !default; // 4px
$border-radius-md: 0.375rem !default; // 6px
$border-radius-lg: 0.5rem !default; // 8px
$border-radius-xl: 0.625rem !default; // 10px
$border-radius-full: 9999px !default;

// spacing
$spacing: 1rem !default;
$var-spacers: (
    1: $spacing * 0.25,
    2: $spacing * 0.5,
    3: $spacing * 0.75,
    4: $spacing,
    6: $spacing * 1.5,
    8: $spacing * 2,
    12: $spacing * 3
) !default;
$css-spacers: (
    0: 0,
    1: $spacing * 0.25,
    2: $spacing * 0.5,
    4: $spacing,
    6: $spacing * 1.5,
    8: $spacing * 2
) !default;

// sizing
$sizing: $font-size-base !default;

// Components
// -----------------------------------------------

// Badge
// -----------------------------------------------
$badge-padding-y: 0 !default;
$badge-padding-x: 0.625rem !default;

// dialog
// -----------------------------------------------
$dialog-padding: var(--spacing-4) !default;
$dialog-border-width: 0 0 0 5px !default;

// notify
// -----------------------------------------------
$notify-color: var(--solid-primary-font-color) !default;
$notify-bg-color: rgba(var(--solid-primary-surface-rgb-color), 0.75) !default;
$notify-zindex: var(--zindex-toast);
$notify-top: -30px;

// lightbox
// -----------------------------------------------
$lightbox-bg-color: rgba(0, 0, 0, 0.9) !default;
$lightbox-cross-size: 32px !default;
$lightbox-max-width: $screen-xl !default;
$lightbox-zindex: var(--zindex-lightbox) !default;

// loading
// -----------------------------------------------
$loading-color: $secondary-color !default;

// table
// -----------------------------------------------
$table-border-width: var(--border-width) !default;
$table-border-style: var(--border-style) !default;

$table-padding: var(--spacing-2) !default;

// toasts
// -----------------------------------------------
$toast-max-width: 350px !default;

// tooltip
// -----------------------------------------------
$tooltip-color: var(--solid-font-color);
$tooltip-bg-color: rgba(var(--solid-surface-rgb-color), 0.8);
$tooltip-border-radius: var(--rounded-md);
