// functions
// -----------------------------------------------
@function scale-color($color, $weight) {
    @if ($weight == 50) {
        @return mix(white, $color, 90%);
    }
    @if ($weight == 100) {
        @return mix(white, $color, 80%);
    }
    @if ($weight == 200) {
        @return mix(white, $color, 60%);
    }
    @if ($weight == 300) {
        @return mix(white, $color, 40%);
    }
    @if ($weight == 400) {
        @return mix(white, $color, 20%);
    }
    @if ($weight == 500) {
        @return $color;
    }
    @if ($weight == 600) {
        @return mix(black, $color, 20%);
    }
    @if ($weight == 700) {
        @return mix(black, $color, 40%);
    }
    @if ($weight == 800) {
        @return mix(black, $color, 60%);
    }
    @if ($weight == 900) {
        @return mix(black, $color, 80%);
    }
    @if ($weight == 950) {
        @return mix(black, $color, 90%);
    }

    @return "";
}

@function is-bright($color) {
    $r: red($color) / 255;
    $g: green($color) / 255;
    $b: blue($color) / 255;

    $lightness: (0.2126 * $r) + (0.7152 * $g) + (0.0722 * $b);
    @return $lightness > 0.4;
}

@function to-rgb($color) {
    @return red($color) "," green($color) "," blue($color);
}

// General
// -----------------------------------------------
//
$default-color: #303438 !default;
$primary-color: #3063c9 !default; // #009eff #3366cc 0369a6
$secondary-color: #c6107a !default;
//
$surface-color-light: #ffffff !default;
$surface-color-dark: #202428 !default;
//
$blue: #305cde !default; // #305cde
$indigo: #560591 !default;
$cyan: #1bb3b3 !default;
$green: #0c7e28 !default;
$teal: #00897b !default;
$yellow: #f3b600 !default;
$orange: #fd7e24 !default;
$red: #c22731 !default;
$pink: #ff5c77 !default;
$purple: #9d00ff !default;

$colors: () !default;
$colors: map-merge(
    (
        "blue": $blue,
        "indigo": $indigo,
        "cyan": $cyan,
        "yellow": $yellow,
        "green": $green,
        "teal": $teal,
        "orange": $orange,
        "red": $red,
        "pink": $pink,
        "purple": $purple
    ),
    $colors
);

$theme-colors: () !default;
$theme-colors: map-merge(
    (
        "default": (
            "color": $default-color,
            "contrast": "primary"
        ),
        "primary": (
            "color": $primary-color,
            "contrast": "secondary"
        ),
        "secondary": (
            "color": $secondary-color,
            "contrast": "primary"
        ),
        "success": (
            "color": $green,
            "contrast": "default"
        ),
        "info": (
            "color": $cyan,
            "contrast": "default"
        ),
        "warning": (
            "color": $yellow,
            "contrast": "default"
        ),
        "danger": (
            "color": $red,
            "contrast": "default"
        )
    ),
    $theme-colors
);

// regular-colors
@function create-regular-light-color-map($key, $color) {
    @if ($key == "default") {
        $color: mix(white, $color, 75%);
    }

    $font-color: scale-color($color, 950);
    $map: (
        "subtle-font": scale-color($color, 800),
        "disabled-font": scale-color($color, 700),
        "font": $font-color,
        "heading": $font-color,
        "active-font": scale-color($color, 900),
        //
        "disabled-bg": scale-color($color, 100),
        "bg": scale-color($color, 200),
        "active-bg": scale-color($color, 300),
        // 400?
        //
        "disabled-border": scale-color($color, 400),
        "border": scale-color($color, 500),
        "active-border": scale-color($color, 600)
    );

    @return $map;
}

// regular-colors
@function create-regular-dark-color-map($key, $color) {
    @if ($key == "default") {
        //$color: mix(black, $color, 80%);
    } @else {
        $color: mix(black, $color, 60%);
    }

    $font-color: scale-color($color, 50);
    $map: (
        "subtle-font": scale-color($color, 200),
        "disabled-font": scale-color($color, 300),
        "font": $font-color,
        "heading": $font-color,
        "active-font": scale-color($color, 100),
        //
        "bg": scale-color($color, 600),
        "active-bg": scale-color($color, 800),
        "disabled-bg": scale-color($color, 900),
        //
        "border": scale-color($color, 400),
        "active-border": scale-color($color, 500),
        "disabled-border": scale-color($color, 600)
    );

    @return $map;
}

$regular-light-colors: () !default;
$regular-dark-colors: () !default;

@each $key, $color in $theme-colors {
    $map: ();
    $map: map-merge(
        $map,
        (
            $key: create-regular-light-color-map($key, map-get($color, "color"))
        )
    );
    $regular-light-colors: map-merge($regular-light-colors, $map);
    $map: ();
    $map: map-merge(
        $map,
        (
            $key: create-regular-dark-color-map($key, map-get($color, "color"))
        )
    );
    $regular-dark-colors: map-merge($regular-dark-colors, $map);
}

// solid-colors
@function create-solid-light-color-map($key, $color) {
    @if ($key == "default") {
        $color: mix(black, $color, 60%);
    } @else {
        //$color: mix(black, $color, 20%);
    }

    $bg-color: scale-color($color, 500);
    $is-bright: is-bright($bg-color);
    //
    $font-color: scale-color($color, if($is-bright, 950, 50));
    $subtle-font-color: scale-color($color, if($is-bright, 900, 100));
    $map: (
        "subtle-font": $subtle-font-color,
        "disabled-font": $subtle-font-color,
        "font": $font-color,
        "heading": $font-color,
        "active-font": $font-color,
        //
        "disabled-bg": scale-color($color, 400),
        "bg": $bg-color,
        "active-bg": scale-color($color, 600),
        //
        "disabled-border": scale-color($color, 200),
        "border": scale-color($color, 300),
        "active-border": scale-color($color, 400)
    );

    @return $map;
}

@function create-solid-dark-color-map($key, $color) {
    @if ($key == "default") {
        $color: mix(black, $color, 60%);
    } @else {
        $color: mix(black, $color, 20%);
    }

    $bg-color: scale-color($color, 500);
    $is-bright: is-bright($bg-color);
    //
    $font-color: scale-color($color, if($is-bright, 950, 50));
    $subtle-font-color: scale-color($color, if($is-bright, 900, 200));
    $map: (
        "subtle-font": $subtle-font-color,
        "disabled-font": $subtle-font-color,
        "font": $font-color,
        "heading": $font-color,
        "active-font": scale-color($color, if($is-bright, 800, 100)),
        //
        "bg": $bg-color,
        "active-bg": scale-color($color, 600),
        "disabled-bg": scale-color($color, 700),
        //
        "border": scale-color($color, 300),
        "active-border": scale-color($color, 400),
        "disabled-border": scale-color($color, 500)
    );

    @return $map;
}

$solid-light-colors: () !default;
$solid-dark-colors: () !default;

@each $key, $color in $theme-colors {
    // light
    $map: ();
    $map: map-merge(
        $map,
        (
            $key: create-solid-light-color-map($key, map-get($color, "color"))
        )
    );
    $solid-light-colors: map-merge($solid-light-colors, $map);
    // dark
    $map: ();
    $map: map-merge(
        $map,
        (
            $key: create-solid-dark-color-map($key, map-get($color, "color"))
        )
    );
    $solid-dark-colors: map-merge($solid-dark-colors, $map);
}

// tipography
$line-height-base: 1.5 !default;

$font-family-sans: ui-sans-serif, system-ui, sans-serif !default;
$font-family-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-family-mono: monospace !default;
$font-family-base: $font-family-sans !default;

$font-size-base: 1rem !default; // .875rem
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-xl: $font-size-base * 1.5 !default;
$font-size-2xl: $font-size-base * 2 !default;
$font-size-3xl: $font-size-base * 2.5 !default;

$heading-font-family: inherit !default;
$heading-font-weight: normal !default;
$heading-sizes: () !default;
$heading-sizes: map-merge(
    (
        "h1": 2rem,
        "h2": 1.75rem,
        "h3": 1.5rem,
        "h4": 1.25rem,
        "h5": 1.125rem,
        "h6": 1rem
    ),
    $heading-sizes
);

// selection
$font-selection-color: var(--solid-primary-font-color) !default;
$font-selection-bg: var(--solid-primary-bg-color) !default;

// link
$link-color-light: mix(black, $primary-color, 20%) !default;
$link-hover-color-light: mix(black, $primary-color, 40%) !default;

$link-color-dark: mix(white, $primary-color, 30%) !default;
$link-hover-color-dark: mix(white, $primary-color, 10%) !default;

$link-decoration: none !default;
$link-hover-decoration: underline !default;

// code
$code-font-size: $font-size-sm !default;
$code-font-color: var(--link-color) !default;
$code-padding: 0.25rem 0.375rem !default;
$code-bg-color: var(--regular-bg-color) !default;

// screen
$screen-sm: 600px !default;
$screen-md: 770px !default;
$screen-lg: 990px !default;
$screen-xl: 1200px !default;

// z-index
$zindex-navbar: 1000 !default;
$zindex-dropdown: 1000 !default;
$zindex-modal: 1050 !default;
$zindex-lightbox: 1050 !default;
$zindex-tooltip: 1070 !default;
$zindex-loading: 1080 !default;
$zindex-toast: 1080 !default;
$zindex-pullnav: 2000 !default;

// shadows
$shadow-color: rgba(0, 0, 0, 0.1) !default;

$box-shadow-sm:
    0 1px 3px 0 $shadow-color,
    0 1px 2px -1px $shadow-color !default;
$box-shadow-md:
    0 4px 6px -1px $shadow-color,
    0 2px 4px -2px $shadow-color !default;
$box-shadow-lg:
    0 10px 15px -3px $shadow-color,
    0 4px 6px -4px $shadow-color !default;
$box-shadow-xl:
    0 20px 25px -5px $shadow-color,
    0 8px 10px -6px $shadow-color !default;

$box-shadow-template: var(--box-shadow-md) !default;
$box-shadow-dropdown: var(--box-shadow-lg) !default;
$box-shadow-button: var(--box-shadow-sm) !default;
$box-shadow-input: var(--box-shadow-sm) !default;

// overlay
$overlay-color-1: rgba(0, 0, 0, 0.3) !default;
$overlay-color-2: rgba(0, 0, 0, 0.8) !default;

// border
$border-width: 1px !default;
$border-style: solid !default;
//
$border-radius-sm: 0.25rem !default; // 4px
$border-radius-md: 0.375rem !default; // 6px
$border-radius-lg: 0.5rem !default; // 8px
$border-radius-xl: 0.625rem !default; // 10px
$border-radius-full: 9999px !default;

// spacing
$spacing: 1rem !default;
$var-spacers: (
    1: $spacing * 0.25,
    2: $spacing * 0.5,
    3: $spacing * 0.75,
    4: $spacing,
    6: $spacing * 1.5,
    8: $spacing * 2,
    12: $spacing * 3
) !default;
$css-spacers: (
    0: 0,
    1: $spacing * 0.25,
    2: $spacing * 0.5,
    4: $spacing,
    6: $spacing * 1.5,
    8: $spacing * 2
) !default;

// sizing
$sizing: $font-size-base !default;

// Components
// -----------------------------------------------

// Badge
// -----------------------------------------------
$badge-padding-y: 0 !default;
$badge-padding-x: 0.625rem !default;

// dialog
// -----------------------------------------------
$dialog-padding: var(--spacing-4) !default;
$dialog-border-width: 0 0 0 5px !default;

// notify
// -----------------------------------------------
$notify-color: var(--solid-primary-font-color) !default;
$notify-bg-color: rgba(var(--theme-primary-rgb-color), 0.9) !default;
$notify-zindex: var(--zindex-toast);
$notify-top: -30px;

// lightbox
// -----------------------------------------------
$lightbox-bg-color: rgba(0, 0, 0, 0.9) !default;
$lightbox-cross-size: 32px !default;
$lightbox-max-width: $screen-xl !default;
$lightbox-zindex: var(--zindex-lightbox) !default;

// loading
// -----------------------------------------------
$loading-color: $secondary-color !default;

// table
// -----------------------------------------------
$table-border-width: var(--border-width) !default;
$table-border-style: var(--border-style) !default;

$table-padding: var(--spacing-2) !default;

// toasts
// -----------------------------------------------
$toast-max-width: 350px !default;

// tooltip
// -----------------------------------------------
$tooltip-color: var(--solid-font-color);
$tooltip-bg-color: var(--solid-active-bg-color);
$tooltip-border-radius: var(--rounded-md);
