/* --- modal ----------------------------------------- */
.modal {
  position: relative;
  background-color: var(--regular-surface-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--regular-border-color);
  border-radius: var(--rounded-md);
  box-shadow: var(--box-shadow-dropdown);
  animation-name: modal;
  animation-duration: 0.4s;
}
.modal-small, .modal-medium, .modal-large, .modal-x-large, .modal-full {
  position: absolute;
  margin: 0 auto;
  inset: 30px 0 auto;
  z-index: var(--zindex-modal);
}
.modal-small {
  max-width: 380px;
}
.modal-medium {
  max-width: 600px;
}
.modal-large {
  max-width: 900px;
}
.modal-x-large {
  max-width: 1200px;
}
.modal-header {
  padding: var(--spacing-4);
  border-bottom-width: var(--border-width);
  border-bottom-style: var(--border-style);
  border-bottom-color: var(--regular-border-color);
}
.modal-header .modal-title-group {
  display: flex;
  gap: 0.5rem;
}
.modal-header .modal-title-group, .modal-header .modal-title-group h3 {
  font-size: 1.5rem;
  margin: 0;
}
.modal-header .modal-title-group .modal-title {
  flex: auto;
}
.modal-body {
  padding: var(--spacing-4);
  min-height: 3rem;
  position: relative;
}
.modal-footer {
  padding: var(--spacing-4);
}
.modal-footer .btn {
  margin: 1px 2px;
}
.modal-overlay {
  padding: var(--spacing-8) var(--spacing-4);
  position: fixed;
  inset: 0;
  overflow: auto;
  z-index: var(--zindex-modal);
  background: var(--overlay-color-1);
}
.modal-overlay > div {
  position: static;
}
.modal-fixed {
  overflow: hidden;
}

@keyframes modal {
  from {
    opacity: 0;
    bottom: var(--spacing-8);
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}
/* alert */
.modal-alert .modal-body,
.modal-alert .modal-footer {
  text-align: center;
}

/* default */
.modal-default .modal-footer {
  text-align: right;
  border-top-width: var(--border-width);
  border-top-style: var(--border-style);
  border-top-color: var(--regular-border-color);
}