/* --- backList -------------------------------------------- */
.backlist-box {
  position: relative;
  margin-bottom: 1rem;
}

.backlist-slot {
  overflow: hidden;
  position: relative;
}

.backlist-wrapper .empty-list {
  text-align: center;
  padding: 0 1rem;
}
.backlist-wrapper .empty-list p {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--regular-subtle-font-color);
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid var(--regular-border-color);
  border-radius: 0.375rem;
  display: inline-block;
}
.backlist-wrapper .footer {
  padding: 1rem 0.5rem;
}

.kl-body {
  font-size: 0.875rem;
  color: var(--regular-subtle-font-color);
}
.kl-body > div:nth-child(2) {
  display: none;
}
.kl-body.expand > div {
  display: none;
}
.kl-body.expand > div:nth-child(2) {
  display: block;
}
.kl-body .kl-tg:before {
  content: ". . .";
}

.kl-sort, .kl-sort:hover {
  color: var(--regular-font-color) !important;
  border-bottom-width: 1px dashed var(--regular-border-color);
  text-decoration: none;
}

.kl-editable {
  cursor: text;
}
.kl-editable input {
  font-size: 0.875rem;
}

/* --- actions --- */
.backlist-actions {
  z-index: 1;
  position: sticky;
  border-radius: 0.375rem;
  background-color: var(--regular-surface-color);
}
.backlist-actions.active {
  border: 1px solid var(--regular-border-color);
  box-shadow: 0 2px 2px 0 rgba(var(--solid-surface-rgb-color), 0.075), 0 3px 1px -2px rgba(var(--solid-surface-rgb-color), 0.075), 0 1px 5px 0 rgba(var(--solid-surface-rgb-color), 0.075);
}
.backlist-actions > div:first-child {
  display: flex;
  padding: 0.5rem;
}
.backlist-actions > div:first-child > div {
  flex: auto;
}
.backlist-actions .btn-create {
  display: inline;
}
.backlist-actions .btn-create input {
  width: 3rem;
}

/* --- filters --- */
.backlist-filters {
  text-align: right;
  padding: 0.5rem;
  background: var(--regular-bg-color);
}
.backlist-filters input.btn {
  width: 140px;
}

/* --- pagination --- */
.backlist-pagination .info {
  text-wrap: nowrap;
  margin: 1rem;
  display: inline-block;
}