/* --- notifications ----------------------------------------- */
.notifications {
	max-width: $screen-large;
	background-color: var(--regular-surface-color);
	padding: $spacing;
	border-radius: $medium-border-radius;
}