/* --- notifications ----------------------------------------- */
.notifications {
    max-width: $screen-lg;
    background-color: var(--regular-surface-color);
    padding: var(--spacing-4);
    border-radius: var(--rounded-md);
}
