/* --- Usys --------------------------------------------- */
.usys-wrapper {
  margin: var(--spacing-12) auto;
  max-width: 700px;
}
.usys-modal {
  margin: var(--spacing-4) var(--spacing-8);
}
.usys-login {
  max-width: 400px !important;
}
.usys-login .reset-pwd {
  margin-left: var(--spacing-4);
}
.usys-login button {
  width: 100%;
}
.usys-connect {
  margin-top: var(--spacing-2);
}
.usys-connect a {
  font-weight: bold;
  color: var(--solid-font-color);
  background: var(--solid-bg-color);
  padding: var(--spacing-3) var(--spacing-4);
  display: block;
  position: relative;
  text-decoration: none;
}
.usys-connect a i {
  margin-right: var(--spacing-4);
}
.usys-reset-act {
  margin: var(--spacing-12) auto;
}
.usys-reset-act #new-email {
  margin: 0;
  padding: 0;
  list-style: none;
}
.usys-reset-act #new-email span {
  font-style: italic;
  margin-right: var(--spacing-4);
  padding: 0;
}