/* --- portal-contact ---------------------------------------- */
.portal-contact {
  background-color: var(--regular-bg-color);
  padding: var(--spacing-4) 0;
}
.portal-contact .container {
  max-width: calc(var(--sizing) * 32);
}