/* --- contact-form ---------------------------------------- */
.widget-contact-form {
  background-color: var(--regular-bg-color);
  padding: 20px 0 40px;
}
.widget-contact-form .container {
  max-width: 500px;
  margin: 0 auto;
}