/* --- contact-info ---------------------------------------- */
.widget-contact .ci-icon {
  font-size: var(--font-size-lg);
}
.widget-contact .ci-links a {
  font-size: var(--font-size-xl);
  color: var(--regular-font-color);
  background-color: var(--regular-border-color);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0 10px 2px 0;
  height: calc(var(--font-size-xl) * 2);
  width: calc(var(--font-size-xl) * 2);
  border-radius: var(--rounded-full);
}
.widget-contact .ci-links a:hover {
  color: var(--solid-font-color);
  background-color: var(--solid-primary-bg-color);
}
.widget-contact .ci-links a i {
  line-height: calc(var(--font-size-xl) * 2);
}