/* --- Tabs ----------------------------------------- */
.tablist {
  margin: 0 var(--spacing-4);
  padding: 0;
}
.tablist li {
  line-height: var(--line-height-base);
  margin: 0;
  padding: 0.375rem 0.875rem;
  list-style: none;
  display: inline-block;
  background-color: var(--regular-bg-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--regular-border-color);
  border-radius: var(--rounded-md) var(--rounded-md) 0 0;
  cursor: default;
}
.tablist li .on-small {
  display: none;
}
.tablist li:focus {
  border-color: var(--regular-active-border-color);
}
.tablist li ~ li {
  margin-left: 0.125rem;
}
.tablist li:hover,
.tablist li.selected {
  color: inherit;
  background: var(--regular-disabled-bg-color);
  border-color: var(--regular-active-border-color);
  border-bottom-style: solid;
  border-bottom-color: var(--regular-disabled-bg-color);
  position: relative;
}

.tabpanel-group {
  background: var(--regular-surface-color);
  margin: calc(var(--border-width) * -1) auto var(--spacing-4);
  padding: var(--spacing-8) var(--spacing-4);
  border-top-width: var(--border-width);
  border-top-style: var(--border-style);
  border-top-color: var(--regular-border-color);
}
.tabpanel-group > div {
  display: none;
}
.tabpanel-group > div.selected {
  display: block;
}

.tab-large.tablist li {
  font-size: var(--font-size-lg);
  padding: 0.625rem 1.125rem;
  border-radius: var(--rounded-lg) var(--rounded-lg) 0 0;
}

@media (max-width: 600px) {
  .tablist li:not(.selected) .on-small {
    display: inline-block;
  }
  .tablist li:not(.selected) .on-large {
    display: none;
  }
}