/* --- contact-form ---------------------------------------- */
.widget-contact-form {
    background-color: $contact-form-bg-color;
    padding: $contact-form-padding;

    .container {
        max-width: 500px;
        margin: 0 auto;
    }
}
