/* --- portal-contact ---------------------------------------- */
.portal-contact {
    background-color: $contact-portal-bg-color;
    padding: $contact-portal-padding;

    .container {
        max-width: $contact-portal-width;
    }
}
