// portal
$contact-portal-bg-color: var(--regular-bg-color) !default;
$contact-portal-padding: var(--spacing-4) 0 !default;
$contact-portal-width: calc(var(--sizing) * 32) !default;

// widgets
$contact-icon-color: null !default;
$contact-icon-size: var(--font-size-lg) !default;

$contact-links-font-size: var(--font-size-xl) !default;
$contact-links-size: calc($contact-links-font-size * 2) !default;
$contact-links-margin: 0 10px 2px 0 !default;
$contact-links-border-radius: var(--rounded-full) !default;
//
$contact-links-color: var(--regular-font-color) !default;
$contact-links-bg-color: var(--regular-border-color) !default;
$contact-links-hover-color: var(--solid-font-color) !default;
$contact-links-hover-bg-color: var(--solid-primary-bg-color) !default;
