/* --- contact-info ---------------------------------------- */
.widget-contact {
    .ci-icon {
        color: $contact-icon-color;
        font-size: $contact-icon-size;
    }

    .ci-links {
        a {
            font-size: $contact-links-font-size;
            color: $contact-links-color;
            background-color: $contact-links-bg-color;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            margin: $contact-links-margin;
            height: $contact-links-size;
            width: $contact-links-size;
            border-radius: $contact-links-border-radius;

            &:hover {
                color: $contact-links-hover-color;
                background-color: $contact-links-hover-bg-color;
            }

            i {
                line-height: $contact-links-size;
            }
        }
    }
}
