/* --- Frontlist Comments -------------------------------- */
.fl-comments {
    .list-row {
        margin-bottom: var(--spacing-4);

        &.response {
            padding-left: var(--spacing-4);
            border-left: 3px solid var(--regular-border-color);
        }
    }

    .header,
    .message {
        margin-bottom: var(--spacing-1);
    }

    .author {
        font-weight: bold;
    }

    .date {
        color: var(--regular-subtle-font-color);
    }

    .to {
        color: var(--regular-subtle-font-color);

        &:hover {
            color: var(--regular-subtle-font-color);
        }
    }

    .options {
        font-size: var(--font-size-sm);

        a {
            //color: var(--regular-font-color);
            color: var(--regular-subtle-font-color);
            margin: 0 5px;
            padding: 0 3px;

            &:hover {
                color: var(--regular-primary-surface-color);
            }
        }

        .votes {
            font-weight: bold;
            display: inline;
            margin-left: 5px;
        }
    }
}
