/* --- Frontlist - three -------------------------------- */
.frontlist-three {
    article {
        border-radius: $frontlist-three-border-radius;
        box-shadow: var(--box-shadow-sm);
        position: relative;
        overflow: hidden;

        .article-media {
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                display: block;
            }
        }

        .article-container {
            padding: $frontlist-three-padding;
        }

        h3 {
            font-size: var(--font-size-lg);
            margin: 0;

            a {
                color: var(--regular-font-color);
                text-decoration: none;
            }
        }

        .article-author,
        .article-date {
            color: $frontlist-three-subtle-font-color;
            font-size: var(--font-size-sm);
        }

        .article-desc {
            color: $frontlist-three-desc-color;
            background-color: $frontlist-three-desc-bg-color;
            padding: $frontlist-three-padding;
            position: absolute;
            inset: auto 0 0;
            transition: all 0.5s ease;
            transform: translateY(100%);
        }

        &:hover {
            box-shadow: var(--box-shadow-lg) !important;

            .article-desc {
                transform: translateY(0%);
            }
        }

        .article-button {
            text-align: center;
        }
    }
}
