/* --- Frontlist ------------------------------- */
.frontlist {
    article {
        grid-template-columns: min-content auto min-content;
        border-bottom-width: var(--border-width);
        border-bottom-style: var(--border-style);
        border-bottom-color: $fronlist-default-border-color;

        > div {
            padding-bottom: 1px;
        }

        .article-media {
            width: $fronlist-default-media-width;

            img {
                display: block;
                width: 100%;
            }
        }

        .article-container {
            h3 {
                font-size: var(--font-size-lg);
                margin: 0;

                a {
                    color: var(--regular-font-color);
                    text-decoration: none;
                }
            }
        }
    }

    .article-author,
    .article-date {
        font-size: var(--font-size-sm);
        color: $fronlist-default-subtle-font-color;
    }

    .article-desc {
        color: $fronlist-default-subtle-font-color;
        padding-bottom: var(--spacing-2);
    }

    .article-footer {
        padding-bottom: var(--spacing-2);
    }
}
