/* --- Filters ---------------------------------------------- */
.frontlist-filters {
    text-align: right;
    background: $fronlist-filters-bg-color;
    margin-bottom: var(--spacing-4);
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--rounded-md);
    position: relative;

    form > div {
        display: inline-block;
        gap: var(--spacing-4);
        flex-wrap: wrap;
    }

    input.btn[name="search"] {
        width: 150px;
    }
}
