/* --- Frontlist box ------------------------------- */
.frontlist-box {
    .empty-list {
        color: var(--regular-subtle-font-color);
        font-size: var(--font-size-lg);
        font-weight: bold;
        text-align: center;
        width: calc(var(--sizing) * 10);
        margin: var(--spacing-4) auto;
        padding: var(--spacing-2) var(--spacing-4);
        border-width: var(--border-width);
        border-style: solid;
        border-color: var(--regular-border-color);
        border-radius: var(--rounded-md);
    }

    .article-pagination {
        margin: var(--spacing-4) 0;
        text-align: center;
    }
}

.frontlist-actions {
    margin-bottom: var(--spacing-4);
}
