/* --- Filters ---------------------------------------------- */
.frontlist-filters {
	text-align: right;
	background: $fronlist-filters-bg-color;
	margin-bottom: $spacing;
	padding: ($spacing * .5) $spacing;
	border-radius: $medium-border-radius;
	position: relative;

	form>div {
		display: inline-block;
		gap: $spacing;
		flex-wrap: wrap;
	}

	input.btn[name=search] {
		width: 150px;
	}
}