/* --- Frontlist box ------------------------------- */
.frontlist-box {
    .empty-list {
        color: var(--regular-subtle-font-color);
        font-size: $large-font-size;
        font-weight: bold;
        text-align: center;
        width: $font-size * 10;
        margin: $spacing auto;
        padding: ($spacing * 0.5) $spacing;
        border: $border-width solid var(--regular-border-color);
        border-radius: $medium-border-radius;
    }

    .fl-pagination {
        margin: $spacing 0;
        text-align: center;
    }
}

.frontlist-actions {
    margin-bottom: $spacing;
}
