/* --- Frontlist Two -------------------------------- */
.frontlist-two {
    article {
        .article-wrapper {
            grid-template-columns: $frontlist-two-media-width auto;
            background-color: $frontlist-two-bg-color;
            overflow: hidden;

            & > div {
                padding: $frontlist-two-padding;
                position: relative;
                overflow: hidden;

                & ~ div {
                    padding-left: 0;
                }
            }

            & h3 {
                font-size: var(--font-size-lg);
                margin: 0;

                a {
                    color: var(--regular-font-color);
                    text-decoration: none;
                }
            }
        }

        .article-media {
            position: relative;

            img {
                display: block;
                width: 100%;
            }
        }

        .article-author,
        .article-date {
            color: $frontlist-two-subtle-font-color;
            font-size: var(--font-size-sm);
        }

        .article-description {
            color: $frontlist-two-subtle-font-color;
        }

        .article-button {
            text-align: right;
        }

        .article-labels {
            background-color: var(--regular-bg-color);
            color: $frontlist-two-subtle-font-color;
            font-size: var(--font-size-sm);
        }

        .article-footer {
            margin-top: 2px;
            background-color: $frontlist-two-bg-color;
            padding: $frontlist-two-padding;
        }
    }
}
