/* --- Pagination -------------------------------- */
.fl-comments-pagination {
    background: var(--regular-bg-color);
    margin-bottom: var(--spacing-4);
    padding: var(--spacing-4);

    a,
    span {
        padding: 0 var(--spacing-2);
    }
}
