// filters
$fronlist-filters-bg-color: var(--regular-bg-color) !default;

// frontlist - default
$fronlist-border-color: var(--regular-border-color) !default;
$fronlist-desc-color: var(--regular-subtle-font-color) !default;

// frontlist - two
$frontlist-two-border-color: var(--regular-border-color) !default;
$frontlist-two-desc-color: var(--regular-subtle-font-color) !default;

// frontlist - three
$frontlist-three-desc-color: #fff !default;
$frontlist-three-margin: 4%;
$frontlist-three-padding: 10px;
