/* --- Layout ------------------------------------------------- */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    background-color: var(--regular-bg-color);
}

.layout-header {
    padding: $bakend-header-padding-y var(--spacing-4);
    box-shadow: $bakend-header-box-shadow;
    position: fixed;
    inset: 0 0 auto;
    z-index: 3;
}

.layout-aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: $backend-navbar-bg-color;
    border-right: var(--border-width) var(--border-style) var(--regular-border-color);
    z-index: 2;
    overflow-y: auto;
}

.layout-main {
    position: relative;
    min-height: 100%;
    margin-left: $backend-navbar-width;
    padding-top: $bakend-header-height;
    padding-bottom: $backend-footer-height;
    transition: margin-left 0.2s ease-out;
}

.layout-content {
    margin: 0 var(--spacing-4);
}

.layout-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* --- Layout content --- */
.accessibility-nav {
    text-align: center;
    position: fixed;
    inset: 0 0 auto;
    z-index: var(--zindex-dropdown);

    a {
        margin: 0var (--spacing-2);
        padding: var(--spacing-2) var(--spacing-8);
        background-color: var(--regular-surface-color);
    }
}

.layout-header > div {
    display: flex;
    gap: var(--spacing-4);
    align-items: center;
}

.layout-logo {
    a {
        text-decoration: none;
        white-space: nowrap;
    }
}

.layout-sitename {
    display: inline;

    span:first-child {
        font-weight: bold;
    }
}

.layout-capital {
    //font-weight: bold;
    text-align: center;
    border-radius: var(--rounded-full);
    display: none;
    padding: 0 5px;
}

.layout-search {
    text-align: center;
    flex: auto;
    position: relative;

    .input-icon-group {
        max-width: 540px;
    }

    input,
    input:hover,
    input:focus {
        background-color: transparent;
        box-shadow: none;
    }

    .dropdown-menu {
        width: 100%;
        z-index: var(--zindex-dropdown);
    }
}

.layout-topbar {
    white-space: nowrap;

    .th-btn {
        font-size: $bakend-topbar-font-size;
        background: none;
        border: none;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .badge {
        margin-left: calc(var(--spacing-2) * -1);
    }

    .theme-selector {
        display: flex;
        background-color: var(--regular-bg-color);
        border-radius: var(--rounded-full);
        overflow: hidden;

        & > a {
            flex: auto;
            text-align: center;
        }
    }
}

.layout-topbar .theme-selector > a:hover,
.mode-light .active-on-light,
.mode-auto .active-on-auto,
.mode-dark .active-on-dark {
    background-color: var(--regular-active-bg-color) !important;
}

.theme-color {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-1);

    & > a {
        padding: var(--spacing-1) var(--spacing-2) !important;
        border-radius: var(--rounded-full);
        overflow: hidden;

        & > i {
            margin: 0 !important;
        }
    }
}

.layout-title-group {
    display: flex;
    gap: 0.5rem;

    &,
    & h1 {
        font-size: 1.5rem;
    }

    > div {
        padding: 0.5rem 0;
    }

    .layout-title {
        flex: auto;
    }
}

.layout-footer {
    .content {
        color: var(--regular-subtle-font-color);
        text-align: center;
        padding: $backend-footer-padding;
    }
}
