//
$bakend-topbar-font-size: var(--font-size-xl);

$bakend-header-box-shadow: var(--box-shadow-template) !default;
$bakend-header-padding-y: 0.125rem;
$bakend-header-height: calc(
    $bakend-topbar-font-size * var(--line-height-base) + $bakend-header-padding-y * 2 + var(--border-width) * 2
);
$backend-footer-padding: var(--spacing-4);
$backend-footer-height: calc($backend-footer-padding * 2 + var(--font-size-base) * var(--line-height-base));

// navbar
$backend-navbar-width: calc(var(--sizing) * 16) !default;
$backend-navbar-minimized-width: calc(var(--sizing) * 4.25) !default;
$backend-navbar-minimizer-bg-color: var(--regular-active-bg-color) !default;

//
$backend-navbar-color: var(--regular-font-color) !default;
$backend-navbar-hover-color: var(--regular-hover-font-color) !default;
$backend-navbar-bg-color: var(--regular-bg-color) !default;
$backend-navbar-bg-hover-color: var(--regular-active-bg-color) !default;

$backend-navbar-nested-color: null !default; //
$backend-navbar-nested-bg-color: var(--regular-disabled-bg-color) !default;
$backend-navbar-nested-hover-bg-color: null !default; //var(--regular-bg-color)
$backend-navbar-separator-color: var(--regular-border-color) !default;

// thirdbar
$backend-thirdbar-padding: var(--spacing-3) var(--spacing-4) !default;
$backend-thirdbar-font-color: var(--regular-font-color) !default;
$backend-thirdbar-separator-color: var(--regular-border-color) !default;
$backend-thirdbar-hover-color: inherit !default;
$backend-thirdbar-bg-color: var(--regular-surface-color) !default;
$backend-thirdbar-hover-bg-color: var(--regular-active-border-color) !default;
$backend-thirdbar-nested-bg-color: $backend-thirdbar-bg-color !default;
