/* --- root ------------------------------------------- */
:root,
[data-theme=light] {
  --regular-surface-color: #ffffff;
  --regular-surface-rgb-color: 255 , 255 , 255;
  --regular-font-color: #202428;
  --regular-active-font-color: black;
  --regular-disabled-font-color: rgb(100, 112.5, 125);
  --regular-heading-color: #202428;
  --regular-subtle-font-color: rgb(154.65, 156.45, 158.25);
  --regular-border-color: #d1d4d8;
  --regular-active-border-color: rgb(195.2, 199.1, 204.3);
  --regular-disabled-border-color: rgb(222.8, 224.9, 227.7);
  --regular-bg-color: rgb(239.36, 240.38, 241.74);
  --regular-active-bg-color: rgb(211.76, 214.58, 218.34);
  --regular-disabled-bg-color: white;
  --regular-primary-surface-color: #009eff;
  --regular-primary-surface-rgb-color: 0 , 158 , 255;
  --regular-primary-font-color: rgb(0, 63.2, 102);
  --regular-primary-active-font-color: black;
  --regular-primary-disabled-font-color: #009eff;
  --regular-primary-heading-color: rgb(0, 63.2, 102);
  --regular-primary-subtle-font-color: rgb(204, 216.64, 224.4);
  --regular-primary-border-color: #009eff;
  --regular-primary-active-border-color: rgb(0, 142.2, 229.5);
  --regular-primary-disabled-border-color: rgb(25.5, 167.7, 255);
  --regular-primary-bg-color: rgb(168.3, 222.02, 255);
  --regular-primary-active-bg-color: rgb(117.3, 202.62, 255);
  --regular-primary-disabled-bg-color: rgb(219.3, 241.42, 255);
  --regular-secondary-surface-color: #eb51aa;
  --regular-secondary-surface-rgb-color: 235 , 81 , 170;
  --regular-secondary-font-color: rgb(94, 32.4, 68);
  --regular-secondary-active-font-color: black;
  --regular-secondary-disabled-font-color: rgb(195.8905063291, 83.5094936709, 148.4569620253);
  --regular-secondary-heading-color: rgb(94, 32.4, 68);
  --regular-secondary-subtle-font-color: rgb(222.8, 210.48, 217.6);
  --regular-secondary-border-color: #eb51aa;
  --regular-secondary-active-border-color: rgb(232.3711340206, 58.1288659794, 158.8273195876);
  --regular-secondary-disabled-border-color: rgb(237.6288659794, 103.8711340206, 181.1726804124);
  --regular-secondary-bg-color: rgb(248.2, 195.84, 226.1);
  --regular-secondary-active-bg-color: rgb(242.9422680412, 150.0977319588, 203.7546391753);
  --regular-secondary-disabled-bg-color: rgb(253.4577319588, 241.5822680412, 248.4453608247);
  --regular-success-surface-color: #34a745;
  --regular-success-surface-rgb-color: 52 , 167 , 69;
  --regular-success-font-color: rgb(20.8, 66.8, 27.6);
  --regular-success-active-font-color: black;
  --regular-success-disabled-font-color: rgb(57.1287671233, 183.4712328767, 75.8054794521);
  --regular-success-heading-color: rgb(20.8, 66.8, 27.6);
  --regular-success-subtle-font-color: rgb(208.16, 217.36, 209.52);
  --regular-success-border-color: #34a745;
  --regular-success-active-border-color: rgb(45.9452054795, 147.5547945205, 60.9657534247);
  --regular-success-disabled-border-color: rgb(58.0547945205, 186.4452054795, 77.0342465753);
  --regular-success-bg-color: rgb(185.98, 225.08, 191.76);
  --regular-success-active-bg-color: rgb(150.4026804124, 209.6573195876, 159.1620618557);
  --regular-success-disabled-bg-color: rgb(221.5573195876, 240.5026804124, 224.3579381443);
  --regular-info-surface-color: #067bcc;
  --regular-info-surface-rgb-color: 6 , 123 , 204;
  --regular-info-font-color: rgb(2.4, 49.2, 81.6);
  --regular-info-active-font-color: black;
  --regular-info-disabled-font-color: rgb(6.7714285714, 138.8142857143, 230.2285714286);
  --regular-info-heading-color: rgb(2.4, 49.2, 81.6);
  --regular-info-subtle-font-color: rgb(204.48, 213.84, 220.32);
  --regular-info-border-color: #067bcc;
  --regular-info-active-border-color: rgb(5.2714285714, 108.0642857143, 179.2285714286);
  --regular-info-disabled-border-color: rgb(6.7285714286, 137.9357142857, 228.7714285714);
  --regular-info-bg-color: rgb(170.34, 210.12, 237.66);
  --regular-info-active-bg-color: rgb(128.01, 187.68, 228.99);
  --regular-info-disabled-bg-color: rgb(212.67, 232.56, 246.33);
  --regular-warning-surface-color: #ffc134;
  --regular-warning-surface-rgb-color: 255 , 193 , 52;
  --regular-warning-font-color: rgb(102, 77.2, 20.8);
  --regular-warning-active-font-color: black;
  --regular-warning-disabled-font-color: rgb(215.3309446254, 168.0332247557, 60.4690553746);
  --regular-warning-heading-color: rgb(102, 77.2, 20.8);
  --regular-warning-subtle-font-color: rgb(224.4, 219.44, 208.16);
  --regular-warning-border-color: #ffc134;
  --regular-warning-active-border-color: rgb(255, 185.2118226601, 26.5);
  --regular-warning-disabled-border-color: rgb(255, 200.7881773399, 77.5);
  --regular-warning-bg-color: rgb(255, 233.92, 185.98);
  --regular-warning-active-bg-color: rgb(255, 218.3436453202, 134.98);
  --regular-warning-disabled-bg-color: rgb(255, 249.4963546798, 236.98);
  --regular-danger-surface-color: #dc3540;
  --regular-danger-surface-rgb-color: 220 , 53 , 64;
  --regular-danger-font-color: rgb(88, 21.2, 25.6);
  --regular-danger-active-font-color: black;
  --regular-danger-disabled-font-color: rgb(206.8923076923, 55.3076923077, 65.2923076923);
  --regular-danger-heading-color: rgb(88, 21.2, 25.6);
  --regular-danger-subtle-font-color: rgb(221.6, 208.24, 209.12);
  --regular-danger-border-color: #dc3540;
  --regular-danger-active-border-color: rgb(210.9493670886, 36.5506329114, 48.0379746835);
  --regular-danger-disabled-border-color: rgb(223.7658227848, 74.7341772152, 84.5506329114);
  --regular-danger-bg-color: rgb(243.1, 186.32, 190.06);
  --regular-danger-active-bg-color: rgb(235.5683544304, 142.8516455696, 148.9587341772);
  --regular-danger-disabled-bg-color: rgb(250.6316455696, 229.7883544304, 231.1612658228);
  --solid-surface-color: #202428;
  --solid-surface-rgb-color: 32 , 36 , 40;
  --solid-font-color: rgb(241.62, 241.86, 242.1);
  --solid-active-font-color: rgb(202.671369863, 203.61, 204.548630137);
  --solid-disabled-font-color: white;
  --solid-heading-color: rgb(241.62, 241.86, 242.1);
  --solid-subtle-font-color: rgb(165.8, 167.4, 169);
  --solid-border-color: rgb(87.75, 90.75, 93.75);
  --solid-active-border-color: rgb(38.4359504132, 39.75, 41.0640495868);
  --solid-disabled-border-color: rgb(124.8347107438, 129, 133.1652892562);
  --solid-bg-color: #202428;
  --solid-active-bg-color: black;
  --solid-disabled-bg-color: rgb(66, 74.25, 82.5);
  --solid-primary-surface-color: #009eff;
  --solid-primary-surface-rgb-color: 0 , 158 , 255;
  --solid-primary-font-color: rgb(239.7, 249.18, 255);
  --solid-primary-active-font-color: rgb(163.2, 220.08, 255);
  --solid-primary-disabled-font-color: white;
  --solid-primary-heading-color: rgb(239.7, 249.18, 255);
  --solid-primary-subtle-font-color: rgb(153, 216.2, 255);
  --solid-primary-border-color: rgb(63.75, 182.25, 255);
  --solid-primary-active-border-color: rgb(0, 134.3, 216.75);
  --solid-primary-disabled-border-color: rgb(140.25, 211.35, 255);
  --solid-primary-bg-color: #009eff;
  --solid-primary-active-bg-color: rgb(0, 110.6, 178.5);
  --solid-primary-disabled-bg-color: rgb(76.5, 187.1, 255);
  --solid-secondary-surface-color: #eb51aa;
  --solid-secondary-surface-rgb-color: 235 , 81 , 170;
  --solid-secondary-font-color: rgb(253.8, 244.56, 249.9);
  --solid-secondary-active-font-color: rgb(245.9134020619, 175.9465979381, 216.3819587629);
  --solid-secondary-disabled-font-color: white;
  --solid-secondary-heading-color: rgb(253.8, 244.56, 249.9);
  --solid-secondary-subtle-font-color: rgb(247, 185.4, 221);
  --solid-secondary-border-color: rgb(240, 124.5, 191.25);
  --solid-secondary-active-border-color: rgb(229.4845360825, 33.0154639175, 146.5592783505);
  --solid-secondary-disabled-border-color: rgb(247.8865979381, 193.1134020619, 224.7680412371);
  --solid-secondary-bg-color: #eb51aa;
  --solid-secondary-active-bg-color: rgb(214.8092783505, 24.6907216495, 134.5644329897);
  --solid-secondary-disabled-bg-color: rgb(242.8865979381, 149.6134020619, 203.5180412371);
  --solid-success-surface-color: #34a745;
  --solid-success-surface-rgb-color: 52 , 167 , 69;
  --solid-success-font-color: rgb(242.82, 249.72, 243.84);
  --solid-success-active-font-color: rgb(189.4540206186, 226.5859793814, 194.9430927835);
  --solid-success-disabled-font-color: white;
  --solid-success-heading-color: rgb(242.82, 249.72, 243.84);
  --solid-success-subtle-font-color: rgb(173.8, 219.8, 180.6);
  --solid-success-border-color: rgb(102.75, 189, 115.5);
  --solid-success-active-border-color: rgb(57.381443299, 132.368556701, 68.4664948454);
  --solid-success-disabled-border-color: rgb(156.1159793814, 212.1340206186, 164.3969072165);
  --solid-success-bg-color: #34a745;
  --solid-success-active-bg-color: rgb(33.8356164384, 108.6643835616, 44.897260274);
  --solid-success-disabled-bg-color: rgb(91.4315068493, 204.0684931507, 108.0821917808);
  --solid-info-surface-color: #067bcc;
  --solid-info-surface-rgb-color: 6 , 123 , 204;
  --solid-info-font-color: rgb(240.06, 247.08, 251.94);
  --solid-info-active-font-color: rgb(176.565, 213.42, 238.935);
  --solid-info-disabled-font-color: white;
  --solid-info-heading-color: rgb(240.06, 247.08, 251.94);
  --solid-info-subtle-font-color: rgb(155.4, 202.2, 234.6);
  --solid-info-border-color: rgb(68.25, 156, 216.75);
  --solid-info-active-border-color: rgb(31.11, 102.48, 151.89);
  --solid-info-disabled-border-color: rgb(131.745, 189.66, 229.755);
  --solid-info-bg-color: #067bcc;
  --solid-info-active-bg-color: rgb(3.8142857143, 78.1928571429, 129.6857142857);
  --solid-info-disabled-bg-color: rgb(37.8857142857, 162.4071428571, 248.6142857143);
  --solid-warning-surface-color: #ffc134;
  --solid-warning-surface-rgb-color: 255 , 193 , 52;
  --solid-warning-font-color: rgb(255, 251.28, 242.82);
  --solid-warning-active-font-color: rgb(255, 227.9154679803, 166.32);
  --solid-warning-disabled-font-color: white;
  --solid-warning-heading-color: rgb(255, 251.28, 242.82);
  --solid-warning-subtle-font-color: rgb(255, 230.2, 173.8);
  --solid-warning-border-color: rgb(255, 208.5, 102.75);
  --solid-warning-active-border-color: rgb(255, 177.3472906404, 0.75);
  --solid-warning-disabled-border-color: rgb(255, 231.8645320197, 179.25);
  --solid-warning-bg-color: #ffc134;
  --solid-warning-active-bg-color: rgb(230.5, 160.1009852217, 0);
  --solid-warning-disabled-bg-color: rgb(255, 216.3645320197, 128.5);
  --solid-danger-surface-color: #dc3540;
  --solid-danger-surface-rgb-color: 220 , 53 , 64;
  --solid-danger-font-color: rgb(252.9, 242.88, 243.54);
  --solid-danger-active-font-color: rgb(241.6025316456, 177.6774683544, 181.8881012658);
  --solid-danger-disabled-font-color: white;
  --solid-danger-heading-color: rgb(252.9, 242.88, 243.54);
  --solid-danger-subtle-font-color: rgb(241, 174.2, 178.6);
  --solid-danger-border-color: rgb(228.75, 103.5, 111.75);
  --solid-danger-active-border-color: rgb(196.246835443, 34.003164557, 44.6898734177);
  --solid-danger-disabled-border-color: rgb(240.0474683544, 168.7025316456, 173.4018987342);
  --solid-danger-bg-color: #dc3540;
  --solid-danger-active-bg-color: rgb(167.4810126582, 29.0189873418, 38.1392405063);
  --solid-danger-disabled-bg-color: rgb(231.2974683544, 118.2025316456, 125.6518987342);
}

[data-theme=dark] {
  --regular-surface-color: #202428;
  --regular-surface-rgb-color: 32 , 36 , 40;
  --regular-font-color: #e5e9ec;
  --regular-active-font-color: rgb(140.6, 158.2, 171.4);
  --regular-disabled-font-color: rgb(88.6666666667, 107.3333333333, 121.3333333333);
  --regular-heading-color: #e5e9ec;
  --regular-subtle-font-color: rgb(137.4, 139.8, 141.6);
  --regular-border-color: #34383c;
  --regular-active-border-color: rgb(63.8392857143, 68.75, 73.6607142857);
  --regular-disabled-border-color: black;
  --regular-bg-color: rgb(41.6, 44.8, 48);
  --regular-active-bg-color: rgb(17.9214285714, 19.3, 20.6785714286);
  --regular-disabled-bg-color: black;
  --regular-primary-surface-color: #009eff;
  --regular-primary-surface-rgb-color: 0 , 158 , 255;
  --regular-primary-font-color: rgb(204, 222.96, 234.6);
  --regular-primary-active-font-color: rgb(94.7142857143, 154.3028571429, 190.8857142857);
  --regular-primary-disabled-font-color: rgb(52.4571428571, 101.2114285714, 131.1428571429);
  --regular-primary-heading-color: rgb(204, 222.96, 234.6);
  --regular-primary-subtle-font-color: rgb(122.4, 133.776, 140.76);
  --regular-primary-border-color: rgb(0, 94.8, 153);
  --regular-primary-active-border-color: rgb(0, 110.6, 178.5);
  --regular-primary-disabled-border-color: black;
  --regular-primary-bg-color: rgb(63.75, 134.85, 178.5);
  --regular-primary-active-bg-color: rgb(50.3289473684, 106.4605263158, 140.9210526316);
  --regular-primary-disabled-bg-color: rgb(36.9078947368, 78.0710526316, 103.3421052632);
  --regular-secondary-surface-color: #eb51aa;
  --regular-secondary-surface-rgb-color: 235 , 81 , 170;
  --regular-secondary-font-color: rgb(232.2, 213.72, 224.4);
  --regular-secondary-active-font-color: rgb(177.7617977528, 115.1582022472, 151.3382022472);
  --regular-secondary-disabled-font-color: rgb(122.9896629213, 67.9303370787, 99.7503370787);
  --regular-secondary-heading-color: rgb(232.2, 213.72, 224.4);
  --regular-secondary-subtle-font-color: rgb(139.32, 128.232, 134.64);
  --regular-secondary-border-color: rgb(141, 48.6, 102);
  --regular-secondary-active-border-color: rgb(159.9636075949, 55.1363924051, 115.7183544304);
  --regular-secondary-disabled-border-color: rgb(27.2183544304, 9.3816455696, 19.6898734177);
  --regular-secondary-bg-color: rgb(169.5, 100.2, 140.25);
  --regular-secondary-active-bg-color: rgb(140.8853932584, 77.8146067416, 114.2646067416);
  --regular-secondary-disabled-bg-color: rgb(108.0314606742, 59.6685393258, 87.6185393258);
  --regular-success-surface-color: #34a745;
  --regular-success-surface-rgb-color: 52 , 167 , 69;
  --regular-success-font-color: rgb(210.24, 224.04, 212.28);
  --regular-success-active-font-color: rgb(119.797844691, 161.482155309, 125.9598732171);
  --regular-success-disabled-font-color: rgb(73.3030744849, 105.9769255151, 78.1331220285);
  --regular-success-heading-color: rgb(210.24, 224.04, 212.28);
  --regular-success-subtle-font-color: rgb(126.144, 134.424, 127.368);
  --regular-success-border-color: rgb(31.2, 100.2, 41.4);
  --regular-success-active-border-color: rgb(37.2547945205, 119.6452054795, 49.4342465753);
  --regular-success-disabled-border-color: black;
  --regular-success-bg-color: rgb(87.15, 138.9, 94.8);
  --regular-success-active-bg-color: rgb(67.4877571334, 107.5622428666, 73.4118115461);
  --regular-success-disabled-bg-color: rgb(47.8255142668, 76.2244857332, 52.0236230922);
  --regular-info-surface-color: #067bcc;
  --regular-info-surface-rgb-color: 6 , 123 , 204;
  --regular-info-font-color: rgb(204.72, 218.76, 228.48);
  --regular-info-active-font-color: rgb(104.5528125, 146.563125, 175.6471875);
  --regular-info-disabled-font-color: rgb(61.5346875, 94.111875, 116.6653125);
  --regular-info-heading-color: rgb(204.72, 218.76, 228.48);
  --regular-info-subtle-font-color: rgb(122.832, 131.256, 137.088);
  --regular-info-border-color: rgb(3.6, 73.8, 122.4);
  --regular-info-active-border-color: rgb(4.3285714286, 88.7357142857, 147.1714285714);
  --regular-info-disabled-border-color: black;
  --regular-info-bg-color: rgb(66.45, 119.1, 155.55);
  --regular-info-active-bg-color: rgb(51.1844594595, 91.7391891892, 119.8155405405);
  --regular-info-disabled-bg-color: rgb(35.9189189189, 64.3783783784, 84.0810810811);
  --regular-warning-surface-color: #ffc134;
  --regular-warning-surface-rgb-color: 255 , 193 , 52;
  --regular-warning-font-color: rgb(234.6, 227.16, 210.24);
  --regular-warning-active-font-color: rgb(186.6994475138, 161.7898342541, 105.1405524862);
  --regular-warning-disabled-font-color: rgb(130.4057458564, 108.7297237569, 59.4342541436);
  --regular-warning-heading-color: rgb(234.6, 227.16, 210.24);
  --regular-warning-subtle-font-color: rgb(140.76, 136.296, 126.144);
  --regular-warning-border-color: rgb(153, 115.8, 31.2);
  --regular-warning-active-border-color: rgb(174.180781759, 131.8309446254, 35.519218241);
  --regular-warning-disabled-border-color: rgb(25.9153094463, 19.6143322476, 5.2846905537);
  --regular-warning-bg-color: rgb(178.5, 150.6, 87.15);
  --regular-warning-active-bg-color: rgb(147.4483425414, 122.9395027624, 67.2016574586);
  --regular-warning-disabled-bg-color: rgb(112.4151933702, 93.729558011, 51.2348066298);
  --regular-danger-surface-color: #dc3540;
  --regular-danger-surface-rgb-color: 220 , 53 , 64;
  --regular-danger-font-color: rgb(230.4, 210.36, 211.68);
  --regular-danger-active-font-color: rgb(176.0412478336, 111.7187521664, 115.9555632582);
  --regular-danger-disabled-font-color: rgb(119.7620797227, 65.9979202773, 69.5392720971);
  --regular-danger-heading-color: rgb(230.4, 210.36, 211.68);
  --regular-danger-subtle-font-color: rgb(138.24, 126.216, 127.008);
  --regular-danger-border-color: rgb(132, 31.8, 38.4);
  --regular-danger-active-border-color: rgb(152.5494505495, 36.7505494505, 44.378021978);
  --regular-danger-disabled-border-color: rgb(8.7032967033, 2.0967032967, 2.5318681319);
  --regular-danger-bg-color: rgb(162.75, 87.6, 92.55);
  --regular-danger-active-bg-color: rgb(129.595416417, 69.754583583, 73.6961953265);
  --regular-danger-disabled-bg-color: rgb(96.440832834, 51.909167166, 54.8423906531);
  --solid-surface-color: rgb(41.6, 44.8, 48);
  --solid-surface-rgb-color: 42 , 45 , 48;
  --solid-font-color: rgb(242.196, 242.388, 242.58);
  --solid-active-font-color: rgb(203.363697431, 204.138, 204.912302569);
  --solid-disabled-font-color: rgb(138.6431931494, 140.388, 142.1328068506);
  --solid-heading-color: rgb(242.196, 242.388, 242.58);
  --solid-subtle-font-color: rgb(190.98, 191.94, 192.9);
  --solid-border-color: rgb(94.95, 97.35, 99.75);
  --solid-active-border-color: rgb(45.2073189522, 46.35, 47.4926810478);
  --solid-disabled-border-color: black;
  --solid-bg-color: rgb(41.6, 44.8, 48);
  --solid-active-bg-color: rgb(17.9214285714, 19.3, 20.6785714286);
  --solid-disabled-bg-color: black;
  --solid-primary-surface-color: rgb(0, 110.6, 178.5);
  --solid-primary-surface-rgb-color: 0 , 111 , 179;
  --solid-primary-font-color: rgb(239.7, 246.336, 250.41);
  --solid-primary-active-font-color: rgb(180.8538461538, 213.0129230769, 232.7561538462);
  --solid-primary-disabled-font-color: rgb(82.7769230769, 157.4744615385, 203.3330769231);
  --solid-primary-heading-color: rgb(239.7, 246.336, 250.41);
  --solid-primary-subtle-font-color: rgb(178.5, 211.68, 232.05);
  --solid-primary-border-color: rgb(63.75, 146.7, 197.625);
  --solid-primary-active-border-color: rgb(36.7788461538, 89.9519230769, 122.5961538462);
  --solid-primary-disabled-border-color: rgb(13.2403846154, 32.3826923077, 44.1346153846);
  --solid-primary-bg-color: rgb(0, 110.6, 178.5);
  --solid-primary-active-bg-color: rgb(0, 79, 127.5);
  --solid-primary-disabled-bg-color: rgb(0, 47.4, 76.5);
  --solid-secondary-surface-color: rgb(164.5, 56.7, 119);
  --solid-secondary-surface-rgb-color: 165 , 57 , 119;
  --solid-secondary-font-color: rgb(249.57, 243.102, 246.84);
  --solid-secondary-active-font-color: rgb(225.5975277008, 190.5744722992, 210.8150692521);
  --solid-secondary-disabled-font-color: rgb(185.6434072022, 103.0285927978, 150.7735180055);
  --solid-secondary-heading-color: rgb(249.57, 243.102, 246.84);
  --solid-secondary-subtle-font-color: rgb(227.85, 195.51, 214.2);
  --solid-secondary-border-color: rgb(187.125, 106.275, 153);
  --solid-secondary-active-border-color: rgb(131.4218144044, 59.9781855956, 101.2670360111);
  --solid-secondary-disabled-border-color: rgb(61.3851108033, 28.0148891967, 47.3002770083);
  --solid-secondary-bg-color: rgb(164.5, 56.7, 119);
  --solid-secondary-active-bg-color: rgb(126.5727848101, 43.6272151899, 91.5632911392);
  --solid-secondary-disabled-bg-color: rgb(88.6455696203, 30.5544303797, 64.1265822785);
  --solid-success-surface-color: rgb(36.4, 116.9, 48.3);
  --solid-success-surface-rgb-color: 36 , 117 , 48;
  --solid-success-font-color: rgb(241.884, 246.714, 242.598);
  --solid-success-active-font-color: rgb(195.001746005, 217.096253995, 198.2678906644);
  --solid-success-disabled-font-color: rgb(116.8646560135, 167.7333439865, 124.3843751051);
  --solid-success-heading-color: rgb(241.884, 246.714, 242.598);
  --solid-success-subtle-font-color: rgb(189.42, 213.57, 192.99);
  --solid-success-border-color: rgb(91.05, 151.425, 99.975);
  --solid-success-active-border-color: rgb(52.748731828, 87.726268172, 57.9193241571);
  --solid-success-disabled-border-color: rgb(14.447463656, 24.027536344, 15.8636483143);
  --solid-success-bg-color: rgb(36.4, 116.9, 48.3);
  --solid-success-active-bg-color: rgb(24.2904109589, 78.0095890411, 32.2315068493);
  --solid-success-disabled-bg-color: rgb(12.1808219178, 39.1191780822, 16.1630136986);
  --solid-info-surface-color: rgb(4.2, 86.1, 142.8);
  --solid-info-surface-rgb-color: 4 , 86 , 143;
  --solid-info-font-color: rgb(239.952, 244.866, 248.268);
  --solid-info-active-font-color: rgb(187.0974545455, 209.2713719008, 224.6225454545);
  --solid-info-disabled-font-color: rgb(99.0065454545, 149.9469917355, 185.2134545455);
  --solid-info-heading-color: rgb(239.952, 244.866, 248.268);
  --solid-info-subtle-font-color: rgb(179.76, 204.33, 221.34);
  --solid-info-border-color: rgb(66.9, 128.325, 170.85);
  --solid-info-active-border-color: rgb(38.1984227129, 73.2707413249, 97.5515772871);
  --solid-info-disabled-border-color: rgb(9.4968454259, 18.2164826498, 24.2531545741);
  --solid-info-bg-color: rgb(4.2, 86.1, 142.8);
  --solid-info-active-bg-color: rgb(2.7428571429, 56.2285714286, 93.2571428571);
  --solid-info-disabled-bg-color: rgb(1.2857142857, 26.3571428571, 43.7142857143);
  --solid-warning-surface-color: rgb(178.5, 135.1, 36.4);
  --solid-warning-surface-rgb-color: 179 , 135 , 36;
  --solid-warning-font-color: rgb(250.41, 247.806, 241.884);
  --solid-warning-active-font-color: rgb(230.5785869197, 216.7238244663, 185.2154130803);
  --solid-warning-disabled-font-color: rgb(197.5262317858, 164.9201985768, 90.7677682142);
  --solid-warning-heading-color: rgb(250.41, 247.806, 241.884);
  --solid-warning-subtle-font-color: rgb(232.05, 219.03, 189.42);
  --solid-warning-border-color: rgb(197.625, 165.075, 91.05);
  --solid-warning-active-border-color: rgb(138.2824635717, 110.8283971535, 48.3925364283);
  --solid-warning-disabled-border-color: rgb(62.7243476788, 50.2712978651, 21.9506523212);
  --solid-warning-bg-color: rgb(178.5, 135.1, 36.4);
  --solid-warning-active-bg-color: rgb(136.1384364821, 103.0381107492, 27.7615635179);
  --solid-warning-disabled-bg-color: rgb(93.7768729642, 70.9762214984, 19.1231270358);
  --solid-danger-surface-color: rgb(154, 37.1, 44.8);
  --solid-danger-surface-rgb-color: 154 , 37 , 45;
  --solid-danger-font-color: rgb(248.94, 241.926, 242.388);
  --solid-danger-active-font-color: rgb(224.7114016933, 189.6545983067, 191.9637290687);
  --solid-danger-disabled-font-color: rgb(184.3304045155, 102.5355954845, 107.9232775165);
  --solid-danger-heading-color: rgb(248.94, 241.926, 242.388);
  --solid-danger-subtle-font-color: rgb(224.7, 189.63, 191.94);
  --solid-danger-border-color: rgb(179.25, 91.575, 97.35);
  --solid-danger-active-border-color: rgb(115.355809031, 53.469190969, 57.5455550329);
  --solid-danger-disabled-border-color: rgb(45.6606067733, 21.1643932267, 22.7779162747);
  --solid-danger-bg-color: rgb(154, 37.1, 44.8);
  --solid-danger-active-bg-color: rgb(112.9010989011, 27.1989010989, 32.843956044);
  --solid-danger-disabled-bg-color: rgb(71.8021978022, 17.2978021978, 20.8879120879);
}

/* --- reboot ------------------------------------------- */
* {
  box-sizing: border-box;
  scrollbar-color: var(--regular-active-bg-color) var(--regular-bg-color);
}

::-webkit-scrollbar {
  background-color: var(--regular-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--regular-active-bg-color);
}

[data-theme=dark] ::-webkit-inner-spin-button,
[data-theme=dark] ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* --- tipography ------------------------------------------- */
body {
  font-family: system-ui;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--regular-font-color);
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

::placeholder {
  color: currentColor;
  opacity: 0.5;
}

a {
  color: #009eff;
}
a:hover {
  color: #009eff;
}
a:focus {
  color: #009eff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--regular-heading-color);
  font-weight: 300;
  text-wrap: balance;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

img {
  border-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-wrap: pretty;
}

.font-small {
  font-size: 0.875rem;
}

.font-large {
  font-size: 1.25rem;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

::selection {
  color: #fff;
  background: #009eff;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

code {
  font-size: 0.875rem;
  color: #009eff;
  background: var(--regular-bg-color);
  padding: 0.25rem 0.375rem;
  border-radius: 0.375rem;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/* --- Badge --------------------------------------------------*/
.badge {
  text-decoration: none;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  padding: 0 0.625rem;
  vertical-align: baseline;
  border-radius: 0.375rem;
  display: inline-block;
}
.badge ~ .badge {
  margin-left: 1px;
}
.badge-small {
  font-size: 0.875rem;
}
.badge-large {
  font-size: 1.25rem;
}

/* -------- borders ------------------------------------------------- */
.rounded {
  border-radius: 0.375rem;
}

.rounded-small {
  border-radius: 0.25rem;
}

.rounded-large {
  border-radius: 0.5rem;
}

.rounded-full,
.rounded-circle {
  border-radius: 9999px;
}

/* -------- dialog ------------------------------------------------- */
.dialog {
  margin-bottom: 1rem;
  padding: 1rem;
  border-width: 0 0 0 5px;
  border-style: solid;
  border-radius: 0.375rem;
}

/* -------- flex ------------------------------------------------- */
.flex {
  display: flex;
}
.flex-auto {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}

.inline-flex {
  display: inline-flex;
}

/* --- grid ---------------------------- */
.grid {
  display: grid;
  gap: 1rem;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-12 {
  grid-template-columns: 1fr 2fr;
}
.grid-21 {
  grid-template-columns: 2fr 1fr;
}
.grid-13 {
  grid-template-columns: 1fr 3fr;
}
.grid-31 {
  grid-template-columns: 3fr 1fr;
}
.grid-14 {
  grid-template-columns: 1fr 4fr;
}
.grid-41 {
  grid-template-columns: 4fr 1fr;
}
.grid-small-box {
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
.grid-medium-box {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.grid-large-box {
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}

.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

@media (max-width: 990px) {
  .grid-responsive.grid-4 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-responsive.grid-13 {
    grid-template-columns: 1fr 2fr;
  }
  .grid-responsive.grid-31 {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 770px) {
  .grid-responsive.grid-2, .grid-responsive.grid-3, .grid-responsive.grid-4, .grid-responsive.grid-5, .grid-responsive.grid-12, .grid-responsive.grid-21, .grid-responsive.grid-13, .grid-responsive.grid-31, .grid-responsive.grid-14, .grid-responsive.grid-41 {
    grid-template-columns: 1fr;
  }
}
/* --- container ----------------- */
.container,
.container-fluid {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 600px) {
  .container {
    max-width: calc(600px - 2rem);
  }
}
@media (min-width: 770px) {
  .container {
    max-width: calc(770px - 3rem);
  }
}
@media (min-width: 990px) {
  .container {
    max-width: calc(990px - 2rem);
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: calc(1200px - 3rem);
  }
}
/* --- Lightbox ---------------------------------- */
.lightbox {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1050;
  padding: 1rem;
}
.lightbox-fixed {
  overflow: hidden;
}
.lightbox.valign-center {
  display: flex;
  align-items: center;
}
.lightbox > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.lightbox > div > div {
  flex: auto;
}
.lightbox > i {
  color: #fff;
  font-size: 32px;
  text-align: center;
  display: block;
  line-height: 32px;
  padding: 0 16px 0 8px;
  border-radius: 8px 0 0 8px;
  position: fixed;
  right: 0;
  top: 20px;
  cursor: pointer;
  z-index: 100;
}
.lightbox > i:hover {
  background: #666;
}

/* --- loading ----------------------------------------- */
.js-loading {
  background: rgba(235, 81, 170, 0.3);
  height: 4px;
  position: fixed;
  inset: 0 0 auto;
  z-index: 1080;
}
.js-loading:after, .js-loading:before {
  content: "";
  background: rgba(235, 81, 170, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
}
.js-loading:after {
  width: 20%;
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.js-loading:before {
  width: 10%;
  animation-name: spinner-short;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinner {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes spinner-short {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
.box-loading {
  text-align: center;
  background-color: var(--regular-bg-color);
  padding: 1rem;
}

/* -------- media ------------------------------------------------- */
video.responsive,
img.responsive {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: text-top;
}

.video-player {
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  position: relative;
}
.video-player iframe,
.video-player object,
.video-player embed,
.video-player video {
  border: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

/* --- notify ------------------------------------------ */
.notify-box {
  position: relative;
  z-index: 1080;
}
.notify-box > span {
  position: fixed;
  left: 0;
  right: 0;
}
.notify-box > span > span {
  color: var(--solid-primary-font-color);
  position: absolute;
  bottom: -3px;
  padding: 0.625rem 1rem;
  background: rgba(var(--solid-primary-surface-rgb-color), 0.75);
  border-radius: 0.375rem;
  box-shadow: 1px 1px 2px rgba(var(--solid-surface-rgb-color), 0.075);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation-name: notify;
  -webkit-animation-duration: 0.5s;
  animation-name: notify;
  animation-duration: 0.5s;
}

@keyframes notify {
  from {
    opacity: 0;
    bottom: 40px;
  }
  to {
    opacity: 1;
    bottom: -3px;
  }
}
/* -------- panel ------------------------------------------------- */
.panel {
  background-color: var(--regular-surface-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 0.375rem;
  box-shadow: 0 2px 2px 0 rgba(var(--solid-surface-rgb-color), 0.075), 0 3px 1px -2px rgba(var(--solid-surface-rgb-color), 0.075), 0 1px 5px 0 rgba(var(--solid-surface-rgb-color), 0.075);
  position: relative;
}
.panel-header {
  padding: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.panel-header h1,
.panel-header h2,
.panel-header h3,
.panel-header h4,
.panel-header h5 {
  margin: 0;
}
.panel-body {
  padding: 1rem;
  overflow-x: auto;
}
.panel-body .panel-stat-value {
  font-size: 2.1rem;
}
.panel-footer {
  padding: 1rem;
  border-top-width: 1px;
  border-top-style: solid;
}

/* -------- spacing ------------------------------------------------- */
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.mt-0 {
  margin-top: 0;
}

.pt-0 {
  padding-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.pr-0 {
  padding-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.pl-0 {
  padding-left: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.m-1 {
  margin: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.m-2 {
  margin: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.m-4 {
  margin: 1rem;
}

.p-4 {
  padding: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.m-6 {
  margin: 1.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.m-8 {
  margin: 2rem;
}

.p-8 {
  padding: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

/* -------- system ------------------------------------------------- */
.float-right {
  float: right;
}
.float-left {
  float: left;
}

.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-move {
  cursor: move;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@media (max-width: 990px) {
  .visually-responsive-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}
.only-to-print {
  display: none;
}

@media print {
  .only-to-print {
    display: block;
  }
  .do-not-print {
    display: none;
  }
}
.only-on-small-screen {
  display: none;
}

@media (max-width: 600px) {
  .only-on-small-screen {
    display: inherit;
  }
  .only-on-large-screen {
    display: none;
  }
}
/* --- overflow ---- */
.overflow-auto {
  overflow: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-clip {
  overflow: clip;
}

.overflow-x-clip {
  overflow-x: clip;
}

.overflow-y-clip {
  overflow-y: clip;
}

/* -------- table ------------------------------------------------- */
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  cursor: default;
}
.table thead {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--regular-border-color);
}
.table th {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}
.table th,
.table td {
  padding: 0.5rem;
  vertical-align: baseline;
}
.table.table-auto {
  width: initial;
}
.table .table-auto {
  width: 0;
}
.table.table-striped > tbody > tr:nth-child(even) {
  background: var(--regular-bg-color);
}
.table.table-highlight > tbody > tr:hover > td {
  background: var(--regular-active-bg-color);
}
.table.table-bordered {
  border-width: 1px;
  border-style: solid;
  border-color: var(--regular-border-color);
}
.table.table-bordered th,
.table.table-bordered td {
  border-width: 1px;
  border-style: solid;
  border-color: var(--regular-border-color);
}
.table.table-condensed th, .table.table-condensed td {
  padding-top: 0;
  padding-bottom: 0;
}
.table tbody > tr.active td {
  background: var(--regular-primary-bg-color) !important;
}
.table .table-linked a,
.table a.table-linked {
  color: var(--regular-font-color) !important;
  text-decoration: none !important;
}
.table .table-linked a:hover,
.table a.table-linked:hover {
  color: var(--regular-disabled-font-color) !important;
  border-bottom: 1px dotted var(--regular-disabled-font-color) !important;
}
.table td.table-dimmed, .table td.table-dimmed a,
.table td .table-dimmed,
.table td .table-dimmed a {
  color: var(--regular-subtle-font-color) !important;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* -------- text ------------------------------------------------- */
.underline {
  text-decoration: underline !important;
}

.line-through {
  text-decoration: line-through !important;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

/* -------- tiles ------------------------------------------------- */
.tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1rem;
}
.tiles > div {
  min-width: 100px;
  min-height: 100px;
  background-color: var(--regular-bg-color);
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
}
.tiles > div:hover {
  transform: scale(1.04);
}
.tiles > div > a {
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tiles .tile-content {
  margin: auto 0;
  padding: 0.25rem;
  text-align: center;
}
.tiles .tile-wrapper {
  padding: 0 1.75rem;
  display: inline-block;
  position: relative;
}
.tiles .tile-icon {
  font-size: 1.5rem;
}
.tiles .tile-caption {
  color: var(--regular-font-color);
  font-weight: bold;
  font-size: 0.875rem;
}
.tiles .tile-badge {
  position: absolute;
  inset: auto 0 -0.25rem auto;
}
.tiles.tiles-medium > div {
  min-width: 140px;
  min-height: 140px;
}
.tiles.tiles-medium > div .tile-icon {
  font-size: 2.5rem;
}
.tiles.tiles-medium > div .tile-caption {
  font-size: 1rem;
}
.tiles.tiles-large > div {
  min-width: 180px;
  min-height: 180px;
}
.tiles.tiles-large > div .tile-icon {
  font-size: 3rem;
}
.tiles.tiles-large > div .tile-caption {
  font-size: 1.25rem;
}
.tiles-fieldset {
  margin: 0;
  margin-bottom: 1rem;
  background-color: var(--regular-surface-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--regular-border-color);
  border-radius: 0.375rem;
  box-shadow: 0 2px 2px 0 rgba(var(--solid-surface-rgb-color), 0.075), 0 3px 1px -2px rgba(var(--solid-surface-rgb-color), 0.075), 0 1px 5px 0 rgba(var(--solid-surface-rgb-color), 0.075);
}
.tiles-fieldset > legend {
  color: var(--regular-font-color);
}

/* -------- toasts ------------------------------------------------- */
.toast-container {
  width: 350px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 1080;
}

.toast {
  box-shadow: 0 2px 2px 0 rgba(var(--solid-surface-rgb-color), 0.075), 0 3px 1px -2px rgba(var(--solid-surface-rgb-color), 0.075), 0 1px 5px 0 rgba(var(--solid-surface-rgb-color), 0.075);
  border-radius: 0.375rem;
  display: flex;
}
.toast > div {
  padding: 0.5rem 0.75rem;
}
.toast-body {
  flex: auto;
}
.toast-close {
  flex: none !important;
}
.toast-close i {
  cursor: pointer;
}
.toast ~ .toast {
  margin-top: 1rem;
}

/* --- tooltip ------------------------------------------- */
.tooltip {
  color: var(--solid-font-color);
  padding: 0 10px;
  background-color: rgba(var(--solid-surface-rgb-color), 0.8);
  border-radius: 0.375rem;
  position: absolute;
  top: -2000px;
  left: -2000px;
  z-index: 1070;
  visibility: hidden;
  transition: opacity 300ms;
  opacity: 0;
}
.tooltip:before {
  content: "";
  width: 0;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 5px);
  border-width: 5px 5px 0;
  border-style: solid;
  border-color: rgba(var(--solid-surface-rgb-color), 0.8) transparent;
  display: block;
}
.tooltip.bottom:before {
  bottom: auto;
  top: -5px;
  border-width: 0px 5px 5px;
}
.tooltip.right:before {
  bottom: calc(50% - 5px);
  left: -5px;
  border-width: 5px 5px 5px 0px;
  border-color: transparent rgba(var(--solid-surface-rgb-color), 0.8);
}
.tooltip.left:before {
  bottom: calc(50% - 5px);
  left: auto;
  right: -5px;
  border-width: 5px 0px 5px 5px;
  border-color: transparent rgba(var(--solid-surface-rgb-color), 0.8);
}
.tooltip.show {
  visibility: visible;
  display: block;
  opacity: 1;
}

/* --- colors ------------------------------------------- */
.badge,
a.badge {
  color: var(--solid-font-color);
  background-color: var(--solid-bg-color);
  border-color: var(--solid-bg-color);
}

.badge.badge-regular,
a.badge.badge-regular {
  color: var(--regular-font-color);
  background-color: var(--regular-bg-color);
  border-color: var(--regular-border-color);
}

.dialog {
  color: var(--regular-font-color);
  background-color: var(--regular-bg-color);
  border-color: var(--regular-border-color);
}

.panel {
  border-color: var(--regular-border-color);
}
.panel .panel-header,
.panel .panel-footer {
  border-color: var(--regular-border-color);
}
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6 {
  color: var(--regular-heading-color);
}

.panel.panel-regular {
  color: var(--regular-font-color);
  background-color: var(--regular-bg-color);
}

.panel.panel-solid {
  color: var(--solid-font-color);
  background-color: var(--solid-bg-color);
  border-color: var(--solid-border-color);
}
.panel.panel-solid .panel-header,
.panel.panel-solid .panel-footer {
  border-color: var(--solid-border-color);
}
.panel.panel-solid h1,
.panel.panel-solid h2,
.panel.panel-solid h3,
.panel.panel-solid h4,
.panel.panel-solid h5,
.panel.panel-solid h6 {
  color: var(--solid-heading-color);
}

.toast {
  color: var(--solid-font-color);
  background-color: var(--solid-bg-color);
}

.badge-primary,
a.badge-primary {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
  border-color: var(--solid-primary-bg-color);
}

.badge-primary.badge-regular,
a.badge-primary.badge-regular {
  color: var(--regular-primary-font-color);
  background-color: var(--regular-primary-bg-color);
  border-color: var(--regular-primary-border-color);
}

.dialog-primary {
  color: var(--regular-primary-font-color);
  background-color: var(--regular-primary-bg-color);
  border-color: var(--regular-primary-border-color);
}

.panel-primary {
  border-color: var(--regular-primary-border-color);
}
.panel-primary .panel-header,
.panel-primary .panel-footer {
  border-color: var(--regular-primary-border-color);
}
.panel-primary h1,
.panel-primary h2,
.panel-primary h3,
.panel-primary h4,
.panel-primary h5,
.panel-primary h6 {
  color: var(--regular-primary-heading-color);
}

.panel-primary.panel-regular {
  color: var(--regular-primary-font-color);
  background-color: var(--regular-primary-bg-color);
}

.panel-primary.panel-solid {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
  border-color: var(--solid-primary-border-color);
}
.panel-primary.panel-solid .panel-header,
.panel-primary.panel-solid .panel-footer {
  border-color: var(--solid-primary-border-color);
}
.panel-primary.panel-solid h1,
.panel-primary.panel-solid h2,
.panel-primary.panel-solid h3,
.panel-primary.panel-solid h4,
.panel-primary.panel-solid h5,
.panel-primary.panel-solid h6 {
  color: var(--solid-primary-heading-color);
}

.toast-primary {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
}

.badge-secondary,
a.badge-secondary {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
  border-color: var(--solid-secondary-bg-color);
}

.badge-secondary.badge-regular,
a.badge-secondary.badge-regular {
  color: var(--regular-secondary-font-color);
  background-color: var(--regular-secondary-bg-color);
  border-color: var(--regular-secondary-border-color);
}

.dialog-secondary {
  color: var(--regular-secondary-font-color);
  background-color: var(--regular-secondary-bg-color);
  border-color: var(--regular-secondary-border-color);
}

.panel-secondary {
  border-color: var(--regular-secondary-border-color);
}
.panel-secondary .panel-header,
.panel-secondary .panel-footer {
  border-color: var(--regular-secondary-border-color);
}
.panel-secondary h1,
.panel-secondary h2,
.panel-secondary h3,
.panel-secondary h4,
.panel-secondary h5,
.panel-secondary h6 {
  color: var(--regular-secondary-heading-color);
}

.panel-secondary.panel-regular {
  color: var(--regular-secondary-font-color);
  background-color: var(--regular-secondary-bg-color);
}

.panel-secondary.panel-solid {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
  border-color: var(--solid-secondary-border-color);
}
.panel-secondary.panel-solid .panel-header,
.panel-secondary.panel-solid .panel-footer {
  border-color: var(--solid-secondary-border-color);
}
.panel-secondary.panel-solid h1,
.panel-secondary.panel-solid h2,
.panel-secondary.panel-solid h3,
.panel-secondary.panel-solid h4,
.panel-secondary.panel-solid h5,
.panel-secondary.panel-solid h6 {
  color: var(--solid-secondary-heading-color);
}

.toast-secondary {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
}

.badge-success,
a.badge-success {
  color: var(--solid-success-font-color);
  background-color: var(--solid-success-bg-color);
  border-color: var(--solid-success-bg-color);
}

.badge-success.badge-regular,
a.badge-success.badge-regular {
  color: var(--regular-success-font-color);
  background-color: var(--regular-success-bg-color);
  border-color: var(--regular-success-border-color);
}

.dialog-success {
  color: var(--regular-success-font-color);
  background-color: var(--regular-success-bg-color);
  border-color: var(--regular-success-border-color);
}

.panel-success {
  border-color: var(--regular-success-border-color);
}
.panel-success .panel-header,
.panel-success .panel-footer {
  border-color: var(--regular-success-border-color);
}
.panel-success h1,
.panel-success h2,
.panel-success h3,
.panel-success h4,
.panel-success h5,
.panel-success h6 {
  color: var(--regular-success-heading-color);
}

.panel-success.panel-regular {
  color: var(--regular-success-font-color);
  background-color: var(--regular-success-bg-color);
}

.panel-success.panel-solid {
  color: var(--solid-success-font-color);
  background-color: var(--solid-success-bg-color);
  border-color: var(--solid-success-border-color);
}
.panel-success.panel-solid .panel-header,
.panel-success.panel-solid .panel-footer {
  border-color: var(--solid-success-border-color);
}
.panel-success.panel-solid h1,
.panel-success.panel-solid h2,
.panel-success.panel-solid h3,
.panel-success.panel-solid h4,
.panel-success.panel-solid h5,
.panel-success.panel-solid h6 {
  color: var(--solid-success-heading-color);
}

.toast-success {
  color: var(--solid-success-font-color);
  background-color: var(--solid-success-bg-color);
}

.badge-info,
a.badge-info {
  color: var(--solid-info-font-color);
  background-color: var(--solid-info-bg-color);
  border-color: var(--solid-info-bg-color);
}

.badge-info.badge-regular,
a.badge-info.badge-regular {
  color: var(--regular-info-font-color);
  background-color: var(--regular-info-bg-color);
  border-color: var(--regular-info-border-color);
}

.dialog-info {
  color: var(--regular-info-font-color);
  background-color: var(--regular-info-bg-color);
  border-color: var(--regular-info-border-color);
}

.panel-info {
  border-color: var(--regular-info-border-color);
}
.panel-info .panel-header,
.panel-info .panel-footer {
  border-color: var(--regular-info-border-color);
}
.panel-info h1,
.panel-info h2,
.panel-info h3,
.panel-info h4,
.panel-info h5,
.panel-info h6 {
  color: var(--regular-info-heading-color);
}

.panel-info.panel-regular {
  color: var(--regular-info-font-color);
  background-color: var(--regular-info-bg-color);
}

.panel-info.panel-solid {
  color: var(--solid-info-font-color);
  background-color: var(--solid-info-bg-color);
  border-color: var(--solid-info-border-color);
}
.panel-info.panel-solid .panel-header,
.panel-info.panel-solid .panel-footer {
  border-color: var(--solid-info-border-color);
}
.panel-info.panel-solid h1,
.panel-info.panel-solid h2,
.panel-info.panel-solid h3,
.panel-info.panel-solid h4,
.panel-info.panel-solid h5,
.panel-info.panel-solid h6 {
  color: var(--solid-info-heading-color);
}

.toast-info {
  color: var(--solid-info-font-color);
  background-color: var(--solid-info-bg-color);
}

.badge-warning,
a.badge-warning {
  color: var(--solid-warning-font-color);
  background-color: var(--solid-warning-bg-color);
  border-color: var(--solid-warning-bg-color);
}

.badge-warning.badge-regular,
a.badge-warning.badge-regular {
  color: var(--regular-warning-font-color);
  background-color: var(--regular-warning-bg-color);
  border-color: var(--regular-warning-border-color);
}

.dialog-warning {
  color: var(--regular-warning-font-color);
  background-color: var(--regular-warning-bg-color);
  border-color: var(--regular-warning-border-color);
}

.panel-warning {
  border-color: var(--regular-warning-border-color);
}
.panel-warning .panel-header,
.panel-warning .panel-footer {
  border-color: var(--regular-warning-border-color);
}
.panel-warning h1,
.panel-warning h2,
.panel-warning h3,
.panel-warning h4,
.panel-warning h5,
.panel-warning h6 {
  color: var(--regular-warning-heading-color);
}

.panel-warning.panel-regular {
  color: var(--regular-warning-font-color);
  background-color: var(--regular-warning-bg-color);
}

.panel-warning.panel-solid {
  color: var(--solid-warning-font-color);
  background-color: var(--solid-warning-bg-color);
  border-color: var(--solid-warning-border-color);
}
.panel-warning.panel-solid .panel-header,
.panel-warning.panel-solid .panel-footer {
  border-color: var(--solid-warning-border-color);
}
.panel-warning.panel-solid h1,
.panel-warning.panel-solid h2,
.panel-warning.panel-solid h3,
.panel-warning.panel-solid h4,
.panel-warning.panel-solid h5,
.panel-warning.panel-solid h6 {
  color: var(--solid-warning-heading-color);
}

.toast-warning {
  color: var(--solid-warning-font-color);
  background-color: var(--solid-warning-bg-color);
}

.badge-danger,
a.badge-danger {
  color: var(--solid-danger-font-color);
  background-color: var(--solid-danger-bg-color);
  border-color: var(--solid-danger-bg-color);
}

.badge-danger.badge-regular,
a.badge-danger.badge-regular {
  color: var(--regular-danger-font-color);
  background-color: var(--regular-danger-bg-color);
  border-color: var(--regular-danger-border-color);
}

.dialog-danger {
  color: var(--regular-danger-font-color);
  background-color: var(--regular-danger-bg-color);
  border-color: var(--regular-danger-border-color);
}

.panel-danger {
  border-color: var(--regular-danger-border-color);
}
.panel-danger .panel-header,
.panel-danger .panel-footer {
  border-color: var(--regular-danger-border-color);
}
.panel-danger h1,
.panel-danger h2,
.panel-danger h3,
.panel-danger h4,
.panel-danger h5,
.panel-danger h6 {
  color: var(--regular-danger-heading-color);
}

.panel-danger.panel-regular {
  color: var(--regular-danger-font-color);
  background-color: var(--regular-danger-bg-color);
}

.panel-danger.panel-solid {
  color: var(--solid-danger-font-color);
  background-color: var(--solid-danger-bg-color);
  border-color: var(--solid-danger-border-color);
}
.panel-danger.panel-solid .panel-header,
.panel-danger.panel-solid .panel-footer {
  border-color: var(--solid-danger-border-color);
}
.panel-danger.panel-solid h1,
.panel-danger.panel-solid h2,
.panel-danger.panel-solid h3,
.panel-danger.panel-solid h4,
.panel-danger.panel-solid h5,
.panel-danger.panel-solid h6 {
  color: var(--solid-danger-heading-color);
}

.toast-danger {
  color: var(--solid-danger-font-color);
  background-color: var(--solid-danger-bg-color);
}

.color-blue,
a.color-blue {
  color: #067bcc;
}

.bg-blue {
  background-color: #067bcc;
}

.color-green,
a.color-green {
  color: #34a745;
}

.bg-green {
  background-color: #34a745;
}

.color-orange,
a.color-orange {
  color: #fd7e24;
}

.bg-orange {
  background-color: #fd7e24;
}

.color-red,
a.color-red {
  color: #dc3540;
}

.bg-red {
  background-color: #dc3540;
}

.color-yellow,
a.color-yellow {
  color: #ffc134;
}

.bg-yellow {
  background-color: #ffc134;
}

.color-default,
a.color-default {
  color: var(--regular-font-color);
}

.bg-default {
  background-color: var(--regular-surface-color);
}

.box-default {
  color: var(--regular-font-color);
  background-color: var(--regular-bg-color);
  border-color: var(--regular-border-color);
}

.box-default.box-solid {
  color: var(--solid-font-color);
  background-color: var(--solid-bg-color);
  border-color: var(--solid-border-color);
}

.color-primary,
a.color-primary {
  color: var(--regular-primary-surface-color);
}

.bg-primary {
  background-color: var(--regular-primary-surface-color);
}

.box-primary {
  color: var(--regular-primary-font-color);
  background-color: var(--regular-primary-bg-color);
  border-color: var(--regular-primary-border-color);
}

.box-primary.box-solid {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
  border-color: var(--solid-primary-border-color);
}

.color-secondary,
a.color-secondary {
  color: var(--regular-secondary-surface-color);
}

.bg-secondary {
  background-color: var(--regular-secondary-surface-color);
}

.box-secondary {
  color: var(--regular-secondary-font-color);
  background-color: var(--regular-secondary-bg-color);
  border-color: var(--regular-secondary-border-color);
}

.box-secondary.box-solid {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
  border-color: var(--solid-secondary-border-color);
}

.color-success,
a.color-success {
  color: var(--regular-success-surface-color);
}

.bg-success {
  background-color: var(--regular-success-surface-color);
}

.box-success {
  color: var(--regular-success-font-color);
  background-color: var(--regular-success-bg-color);
  border-color: var(--regular-success-border-color);
}

.box-success.box-solid {
  color: var(--solid-success-font-color);
  background-color: var(--solid-success-bg-color);
  border-color: var(--solid-success-border-color);
}

.color-info,
a.color-info {
  color: var(--regular-info-surface-color);
}

.bg-info {
  background-color: var(--regular-info-surface-color);
}

.box-info {
  color: var(--regular-info-font-color);
  background-color: var(--regular-info-bg-color);
  border-color: var(--regular-info-border-color);
}

.box-info.box-solid {
  color: var(--solid-info-font-color);
  background-color: var(--solid-info-bg-color);
  border-color: var(--solid-info-border-color);
}

.color-warning,
a.color-warning {
  color: var(--regular-warning-surface-color);
}

.bg-warning {
  background-color: var(--regular-warning-surface-color);
}

.box-warning {
  color: var(--regular-warning-font-color);
  background-color: var(--regular-warning-bg-color);
  border-color: var(--regular-warning-border-color);
}

.box-warning.box-solid {
  color: var(--solid-warning-font-color);
  background-color: var(--solid-warning-bg-color);
  border-color: var(--solid-warning-border-color);
}

.color-danger,
a.color-danger {
  color: var(--regular-danger-surface-color);
}

.bg-danger {
  background-color: var(--regular-danger-surface-color);
}

.box-danger {
  color: var(--regular-danger-font-color);
  background-color: var(--regular-danger-bg-color);
  border-color: var(--regular-danger-border-color);
}

.box-danger.box-solid {
  color: var(--solid-danger-font-color);
  background-color: var(--solid-danger-bg-color);
  border-color: var(--solid-danger-border-color);
}

.color-light {
  color: var(--regular-subtle-font-color);
}

.outline-none.panel {
  border-color: transparent;
}