/* --- root ------------------------------------------- */
:root,
[data-theme=light] {
  --regular-surface-color: #ffffff;
  --regular-surface-rgb-color: 255 , 255 , 255;
  --regular-font-color: #202428;
  --regular-active-font-color: black;
  --regular-disabled-font-color: #64717d;
  --regular-heading-color: #202428;
  --regular-subtle-font-color: #9b9c9e;
  --regular-border-color: #d1d4d8;
  --regular-active-border-color: #c3c7cc;
  --regular-disabled-border-color: #dfe1e4;
  --regular-bg-color: #eff0f2;
  --regular-active-bg-color: #d3d6db;
  --regular-disabled-bg-color: white;
  --regular-primary-surface-color: #009eff;
  --regular-primary-surface-rgb-color: 0 , 158 , 255;
  --regular-primary-font-color: #003f66;
  --regular-primary-active-font-color: black;
  --regular-primary-disabled-font-color: #009eff;
  --regular-primary-heading-color: #003f66;
  --regular-primary-subtle-font-color: #ccd9e0;
  --regular-primary-border-color: #009eff;
  --regular-primary-active-border-color: #008ee6;
  --regular-primary-disabled-border-color: #1aa8ff;
  --regular-primary-bg-color: #a8deff;
  --regular-primary-active-bg-color: #75cbff;
  --regular-primary-disabled-bg-color: #dbf1ff;
  --regular-secondary-surface-color: #eb51aa;
  --regular-secondary-surface-rgb-color: 235 , 81 , 170;
  --regular-secondary-font-color: #5e2044;
  --regular-secondary-active-font-color: black;
  --regular-secondary-disabled-font-color: #c45395;
  --regular-secondary-heading-color: #5e2044;
  --regular-secondary-subtle-font-color: #dfd2da;
  --regular-secondary-border-color: #eb51aa;
  --regular-secondary-active-border-color: #e83a9f;
  --regular-secondary-disabled-border-color: #ee68b5;
  --regular-secondary-bg-color: #f8c4e2;
  --regular-secondary-active-bg-color: #f396cc;
  --regular-secondary-disabled-bg-color: #fdf2f8;
  --regular-success-surface-color: #34a745;
  --regular-success-surface-rgb-color: 52 , 167 , 69;
  --regular-success-font-color: #15431c;
  --regular-success-active-font-color: black;
  --regular-success-disabled-font-color: #3ab74d;
  --regular-success-heading-color: #15431c;
  --regular-success-subtle-font-color: #d0d9d2;
  --regular-success-border-color: #34a745;
  --regular-success-active-border-color: #2e943d;
  --regular-success-disabled-border-color: #3aba4d;
  --regular-success-bg-color: #bae1c0;
  --regular-success-active-bg-color: #96d2a0;
  --regular-success-disabled-bg-color: #def0e0;
  --regular-info-surface-color: #067bcc;
  --regular-info-surface-rgb-color: 6 , 123 , 204;
  --regular-info-font-color: #023152;
  --regular-info-active-font-color: black;
  --regular-info-disabled-font-color: #068ae7;
  --regular-info-heading-color: #023152;
  --regular-info-subtle-font-color: #ccd6dc;
  --regular-info-border-color: #067bcc;
  --regular-info-active-border-color: #056cb3;
  --regular-info-disabled-border-color: #078ae5;
  --regular-info-bg-color: #aad2ee;
  --regular-info-active-bg-color: #80bce6;
  --regular-info-disabled-bg-color: #d5e9f7;
  --regular-warning-surface-color: #ffc134;
  --regular-warning-surface-rgb-color: 255 , 193 , 52;
  --regular-warning-font-color: #664d15;
  --regular-warning-active-font-color: black;
  --regular-warning-disabled-font-color: #d7a73d;
  --regular-warning-heading-color: #664d15;
  --regular-warning-subtle-font-color: #e0dbd0;
  --regular-warning-border-color: #ffc134;
  --regular-warning-active-border-color: #ffb91b;
  --regular-warning-disabled-border-color: #ffc94e;
  --regular-warning-bg-color: #ffeaba;
  --regular-warning-active-bg-color: #ffda87;
  --regular-warning-disabled-bg-color: #fffaed;
  --regular-danger-surface-color: #dc3540;
  --regular-danger-surface-rgb-color: 220 , 53 , 64;
  --regular-danger-font-color: #58151a;
  --regular-danger-active-font-color: black;
  --regular-danger-disabled-font-color: #cf3742;
  --regular-danger-heading-color: #58151a;
  --regular-danger-subtle-font-color: #ded0d1;
  --regular-danger-border-color: #dc3540;
  --regular-danger-active-border-color: #d32530;
  --regular-danger-disabled-border-color: #e04b55;
  --regular-danger-bg-color: #f3babe;
  --regular-danger-active-bg-color: #eb8f95;
  --regular-danger-disabled-bg-color: #fbe5e7;
  --solid-surface-color: #202428;
  --solid-surface-rgb-color: 32 , 36 , 40;
  --solid-font-color: #f2f2f2;
  --solid-active-font-color: #cccccc;
  --solid-disabled-font-color: white;
  --solid-heading-color: #f2f2f2;
  --solid-subtle-font-color: #a6a7a9;
  --solid-border-color: #585b5e;
  --solid-active-border-color: #272829;
  --solid-disabled-border-color: #7d8185;
  --solid-bg-color: #202428;
  --solid-active-bg-color: black;
  --solid-disabled-bg-color: #424a53;
  --solid-primary-surface-color: #009eff;
  --solid-primary-surface-rgb-color: 0 , 158 , 255;
  --solid-primary-font-color: #f0f9ff;
  --solid-primary-active-font-color: #a4daff;
  --solid-primary-disabled-font-color: white;
  --solid-primary-heading-color: #f0f9ff;
  --solid-primary-subtle-font-color: #99d8ff;
  --solid-primary-border-color: #40b6ff;
  --solid-primary-active-border-color: #0086d9;
  --solid-primary-disabled-border-color: #8dd3ff;
  --solid-primary-bg-color: #009eff;
  --solid-primary-active-bg-color: #006fb3;
  --solid-primary-disabled-bg-color: #4dbbff;
  --solid-secondary-surface-color: #eb51aa;
  --solid-secondary-surface-rgb-color: 235 , 81 , 170;
  --solid-secondary-font-color: #fef5fa;
  --solid-secondary-active-font-color: #f7afd7;
  --solid-secondary-disabled-font-color: white;
  --solid-secondary-heading-color: #fef5fa;
  --solid-secondary-subtle-font-color: #f7b9dd;
  --solid-secondary-border-color: #f07dbf;
  --solid-secondary-active-border-color: #e52292;
  --solid-secondary-disabled-border-color: #f8c2e1;
  --solid-secondary-bg-color: #eb51aa;
  --solid-secondary-active-bg-color: #d71987;
  --solid-secondary-disabled-bg-color: #f396cc;
  --solid-success-surface-color: #34a745;
  --solid-success-surface-rgb-color: 52 , 167 , 69;
  --solid-success-font-color: #f3faf4;
  --solid-success-active-font-color: #bde4c3;
  --solid-success-disabled-font-color: white;
  --solid-success-heading-color: #f3faf4;
  --solid-success-subtle-font-color: #aedcb5;
  --solid-success-border-color: #67bd74;
  --solid-success-active-border-color: #3a8445;
  --solid-success-disabled-border-color: #9cd4a5;
  --solid-success-bg-color: #34a745;
  --solid-success-active-bg-color: #226d2d;
  --solid-success-disabled-bg-color: #5bcc6c;
  --solid-info-surface-color: #067bcc;
  --solid-info-surface-rgb-color: 6 , 123 , 204;
  --solid-info-font-color: #f0f7fc;
  --solid-info-active-font-color: #b0d5ef;
  --solid-info-disabled-font-color: white;
  --solid-info-heading-color: #f0f7fc;
  --solid-info-subtle-font-color: #9bcaeb;
  --solid-info-border-color: #449cd9;
  --solid-info-active-border-color: #1f6698;
  --solid-info-disabled-border-color: #84bee6;
  --solid-info-bg-color: #067bcc;
  --solid-info-active-bg-color: #044e82;
  --solid-info-disabled-bg-color: #26a2f9;
  --solid-warning-surface-color: #ffc134;
  --solid-warning-surface-rgb-color: 255 , 193 , 52;
  --solid-warning-font-color: #fffbf3;
  --solid-warning-active-font-color: #ffe2a7;
  --solid-warning-disabled-font-color: white;
  --solid-warning-heading-color: #fffbf3;
  --solid-warning-subtle-font-color: #ffe6ae;
  --solid-warning-border-color: #ffd167;
  --solid-warning-active-border-color: #ffb201;
  --solid-warning-disabled-border-color: #ffe8b4;
  --solid-warning-bg-color: #ffc134;
  --solid-warning-active-bg-color: #e7a000;
  --solid-warning-disabled-bg-color: #ffd881;
  --solid-danger-surface-color: #dc3540;
  --solid-danger-surface-rgb-color: 220 , 53 , 64;
  --solid-danger-font-color: #fdf3f4;
  --solid-danger-active-font-color: #f2b1b8;
  --solid-danger-disabled-font-color: white;
  --solid-danger-heading-color: #fdf3f4;
  --solid-danger-subtle-font-color: #f1aeb3;
  --solid-danger-border-color: #e56870;
  --solid-danger-active-border-color: #c5222c;
  --solid-danger-disabled-border-color: #f0a9ae;
  --solid-danger-bg-color: #dc3540;
  --solid-danger-active-bg-color: #a71d26;
  --solid-danger-disabled-bg-color: #e7767e;
}

[data-theme=dark] {
  --regular-surface-color: #202428;
  --regular-surface-rgb-color: 32 , 36 , 40;
  --regular-font-color: #e5e9ec;
  --regular-active-font-color: #8d9eab;
  --regular-disabled-font-color: #596b79;
  --regular-heading-color: #e5e9ec;
  --regular-subtle-font-color: #898c8e;
  --regular-border-color: #34383c;
  --regular-active-border-color: #40454a;
  --regular-disabled-border-color: black;
  --regular-bg-color: #2a2d30;
  --regular-active-bg-color: #121415;
  --regular-disabled-bg-color: black;
  --regular-primary-surface-color: #009eff;
  --regular-primary-surface-rgb-color: 0 , 158 , 255;
  --regular-primary-font-color: #ccdfeb;
  --regular-primary-active-font-color: #5e9ac0;
  --regular-primary-disabled-font-color: #346584;
  --regular-primary-heading-color: #ccdfeb;
  --regular-primary-subtle-font-color: #7a868d;
  --regular-primary-border-color: #005f99;
  --regular-primary-active-border-color: #006fb3;
  --regular-primary-disabled-border-color: black;
  --regular-primary-bg-color: #4087b3;
  --regular-primary-active-bg-color: #336b8d;
  --regular-primary-disabled-bg-color: #254e68;
  --regular-secondary-surface-color: #eb51aa;
  --regular-secondary-surface-rgb-color: 235 , 81 , 170;
  --regular-secondary-font-color: #e8d6e0;
  --regular-secondary-active-font-color: #b17496;
  --regular-secondary-disabled-font-color: #7a4562;
  --regular-secondary-heading-color: #e8d6e0;
  --regular-secondary-subtle-font-color: #8b8086;
  --regular-secondary-border-color: #8d3166;
  --regular-secondary-active-border-color: #a03874;
  --regular-secondary-disabled-border-color: #1b0a14;
  --regular-secondary-bg-color: #aa658c;
  --regular-secondary-active-bg-color: #8e4e72;
  --regular-secondary-disabled-bg-color: #6d3c58;
  --regular-success-surface-color: #34a745;
  --regular-success-surface-rgb-color: 52 , 167 , 69;
  --regular-success-font-color: #d2e0d4;
  --regular-success-active-font-color: #77a27d;
  --regular-success-disabled-font-color: #496a4e;
  --regular-success-heading-color: #d2e0d4;
  --regular-success-subtle-font-color: #7e867f;
  --regular-success-border-color: #1f6429;
  --regular-success-active-border-color: #257731;
  --regular-success-disabled-border-color: black;
  --regular-success-bg-color: #578b5f;
  --regular-success-active-bg-color: #436c4a;
  --regular-success-disabled-bg-color: #304c34;
  --regular-info-surface-color: #067bcc;
  --regular-info-surface-rgb-color: 6 , 123 , 204;
  --regular-info-font-color: #cddbe4;
  --regular-info-active-font-color: #6a93ae;
  --regular-info-disabled-font-color: #3e5f74;
  --regular-info-heading-color: #cddbe4;
  --regular-info-subtle-font-color: #7b8389;
  --regular-info-border-color: #044a7a;
  --regular-info-active-border-color: #055993;
  --regular-info-disabled-border-color: black;
  --regular-info-bg-color: #43779b;
  --regular-info-active-bg-color: #345c77;
  --regular-info-disabled-bg-color: #244054;
  --regular-warning-surface-color: #ffc134;
  --regular-warning-surface-rgb-color: 255 , 193 , 52;
  --regular-warning-font-color: #ebe3d2;
  --regular-warning-active-font-color: #bca168;
  --regular-warning-disabled-font-color: #846c3a;
  --regular-warning-heading-color: #ebe3d2;
  --regular-warning-subtle-font-color: #8d887e;
  --regular-warning-border-color: #99741f;
  --regular-warning-active-border-color: #ae8423;
  --regular-warning-disabled-border-color: #1a1405;
  --regular-warning-bg-color: #b39757;
  --regular-warning-active-bg-color: #947b43;
  --regular-warning-disabled-bg-color: #715e33;
  --regular-danger-surface-color: #dc3540;
  --regular-danger-surface-rgb-color: 220 , 53 , 64;
  --regular-danger-font-color: #e6d2d4;
  --regular-danger-active-font-color: #af7076;
  --regular-danger-disabled-font-color: #774247;
  --regular-danger-heading-color: #e6d2d4;
  --regular-danger-subtle-font-color: #8a7e7f;
  --regular-danger-border-color: #842026;
  --regular-danger-active-border-color: #99252c;
  --regular-danger-disabled-border-color: #090203;
  --regular-danger-bg-color: #a3585c;
  --regular-danger-active-bg-color: #824649;
  --regular-danger-disabled-bg-color: #613437;
  --solid-surface-color: #2a2d30;
  --solid-surface-rgb-color: 42 , 45 , 48;
  --solid-font-color: #f2f2f3;
  --solid-active-font-color: #cacace;
  --solid-disabled-font-color: #888891;
  --solid-heading-color: #f2f2f3;
  --solid-subtle-font-color: #bfc0c1;
  --solid-border-color: #5f6264;
  --solid-active-border-color: #2d2f30;
  --solid-disabled-border-color: black;
  --solid-bg-color: #2a2d30;
  --solid-active-bg-color: #121415;
  --solid-disabled-bg-color: black;
  --solid-primary-surface-color: #006fb3;
  --solid-primary-surface-rgb-color: 0 , 111 , 179;
  --solid-primary-font-color: #f0f6fa;
  --solid-primary-active-font-color: #b7d4e7;
  --solid-primary-disabled-font-color: #579ac7;
  --solid-primary-heading-color: #f0f6fa;
  --solid-primary-subtle-font-color: #b3d4e8;
  --solid-primary-border-color: #4093c6;
  --solid-primary-active-border-color: #255a7b;
  --solid-primary-disabled-border-color: #0d212d;
  --solid-primary-bg-color: #006fb3;
  --solid-primary-active-bg-color: #004f80;
  --solid-primary-disabled-bg-color: #00304d;
  --solid-secondary-surface-color: #a53977;
  --solid-secondary-surface-rgb-color: 165 , 57 , 119;
  --solid-secondary-font-color: #faf3f7;
  --solid-secondary-active-font-color: #e4bdd3;
  --solid-secondary-disabled-font-color: #be6397;
  --solid-secondary-heading-color: #faf3f7;
  --solid-secondary-subtle-font-color: #e4c4d6;
  --solid-secondary-border-color: #bc6b99;
  --solid-secondary-active-border-color: #853c65;
  --solid-secondary-disabled-border-color: #3f1c30;
  --solid-secondary-bg-color: #a53977;
  --solid-secondary-active-bg-color: #7f2c5c;
  --solid-secondary-disabled-bg-color: #591f40;
  --solid-success-surface-color: #247530;
  --solid-success-surface-rgb-color: 36 , 117 , 48;
  --solid-success-font-color: #f2f7f3;
  --solid-success-active-font-color: #c3dac7;
  --solid-success-disabled-font-color: #74a97e;
  --solid-success-heading-color: #f2f7f3;
  --solid-success-subtle-font-color: #bdd6c1;
  --solid-success-border-color: #5b9864;
  --solid-success-active-border-color: #35583a;
  --solid-success-disabled-border-color: #0f1810;
  --solid-success-bg-color: #247530;
  --solid-success-active-bg-color: #184e20;
  --solid-success-disabled-bg-color: #0c2710;
  --solid-info-surface-color: #04568f;
  --solid-info-surface-rgb-color: 4 , 86 , 143;
  --solid-info-font-color: #f0f5f8;
  --solid-info-active-font-color: #bcd2e0;
  --solid-info-disabled-font-color: #6598b7;
  --solid-info-heading-color: #f0f5f8;
  --solid-info-subtle-font-color: #b4ccdd;
  --solid-info-border-color: #4380ab;
  --solid-info-active-border-color: #264962;
  --solid-info-disabled-border-color: #0a1218;
  --solid-info-bg-color: #04568f;
  --solid-info-active-bg-color: #03385d;
  --solid-info-disabled-bg-color: #011a2c;
  --solid-warning-surface-color: #b38724;
  --solid-warning-surface-rgb-color: 179 , 135 , 36;
  --solid-warning-font-color: #faf8f2;
  --solid-warning-active-font-color: #e5dabb;
  --solid-warning-disabled-font-color: #c1a95f;
  --solid-warning-heading-color: #faf8f2;
  --solid-warning-subtle-font-color: #e8dbbd;
  --solid-warning-border-color: #c6a55b;
  --solid-warning-active-border-color: #8b6f30;
  --solid-warning-disabled-border-color: #3f3216;
  --solid-warning-bg-color: #b38724;
  --solid-warning-active-bg-color: #89671b;
  --solid-warning-disabled-bg-color: #5e4713;
  --solid-danger-surface-color: #9a252d;
  --solid-danger-surface-rgb-color: 154 , 37 , 45;
  --solid-danger-font-color: #f9f2f2;
  --solid-danger-active-font-color: #e1bebe;
  --solid-danger-disabled-font-color: #b96666;
  --solid-danger-heading-color: #f9f2f2;
  --solid-danger-subtle-font-color: #e1bec0;
  --solid-danger-border-color: #b35c62;
  --solid-danger-active-border-color: #73363a;
  --solid-danger-disabled-border-color: #2e1517;
  --solid-danger-bg-color: #9a252d;
  --solid-danger-active-bg-color: #711b21;
  --solid-danger-disabled-bg-color: #481115;
}

/* --- reboot ------------------------------------------- */
* {
  box-sizing: border-box;
  scrollbar-color: var(--regular-active-bg-color) var(--regular-bg-color);
}

::-webkit-scrollbar {
  background-color: var(--regular-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--regular-active-bg-color);
}

[data-theme=dark] ::-webkit-inner-spin-button,
[data-theme=dark] ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* --- tipography ------------------------------------------- */
body {
  font-family: system-ui;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--regular-font-color);
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

::placeholder {
  color: currentColor;
  opacity: 0.5;
}

a {
  color: #009eff;
}
a:hover {
  color: #009eff;
}
a:focus {
  color: #009eff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--regular-heading-color);
  font-weight: 300;
  text-wrap: balance;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

img {
  border-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-wrap: pretty;
}

.font-small {
  font-size: 0.875rem;
}

.font-large {
  font-size: 1.25rem;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

::selection {
  color: #fff;
  background: #009eff;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

code {
  font-size: 0.875rem;
  color: #009eff;
  background: var(--regular-bg-color);
  padding: 0.25rem 0.375rem;
  border-radius: 0.375rem;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/* --- Badge --------------------------------------------------*/
.badge {
  text-decoration: none;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  padding: 0 0.625rem;
  vertical-align: baseline;
  border-radius: 0.375rem;
  display: inline-block;
}
.badge ~ .badge {
  margin-left: 1px;
}
.badge-small {
  font-size: 0.875rem;
}
.badge-large {
  font-size: 1.25rem;
}

/* -------- borders ------------------------------------------------- */
.rounded {
  border-radius: 0.375rem;
}

.rounded-small {
  border-radius: 0.25rem;
}

.rounded-large {
  border-radius: 0.5rem;
}

.rounded-full,
.rounded-circle {
  border-radius: 9999px;
}

/* -------- dialog ------------------------------------------------- */
.dialog {
  margin-bottom: 1rem;
  padding: 1rem;
  border-width: 0 0 0 5px;
  border-style: solid;
  border-radius: 0.375rem;
}

/* -------- flex ------------------------------------------------- */
.flex {
  display: flex;
}
.flex-auto {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}

.inline-flex {
  display: inline-flex;
}

/* --- grid ---------------------------- */
.grid {
  display: grid;
  gap: 1rem;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-12 {
  grid-template-columns: 1fr 2fr;
}
.grid-21 {
  grid-template-columns: 2fr 1fr;
}
.grid-13 {
  grid-template-columns: 1fr 3fr;
}
.grid-31 {
  grid-template-columns: 3fr 1fr;
}
.grid-14 {
  grid-template-columns: 1fr 4fr;
}
.grid-41 {
  grid-template-columns: 4fr 1fr;
}
.grid-small-box {
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
.grid-medium-box {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.grid-large-box {
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}

.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

@media (max-width: 990px) {
  .grid-responsive.grid-4 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-responsive.grid-13 {
    grid-template-columns: 1fr 2fr;
  }
  .grid-responsive.grid-31 {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 770px) {
  .grid-responsive.grid-2, .grid-responsive.grid-3, .grid-responsive.grid-4, .grid-responsive.grid-5, .grid-responsive.grid-12, .grid-responsive.grid-21, .grid-responsive.grid-13, .grid-responsive.grid-31, .grid-responsive.grid-14, .grid-responsive.grid-41 {
    grid-template-columns: 1fr;
  }
}
/* --- container ----------------- */
.container,
.container-fluid {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 600px) {
  .container {
    max-width: calc(600px - 2rem);
  }
}
@media (min-width: 770px) {
  .container {
    max-width: calc(770px - 3rem);
  }
}
@media (min-width: 990px) {
  .container {
    max-width: calc(990px - 2rem);
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: calc(1200px - 3rem);
  }
}
/* --- Lightbox ---------------------------------- */
.lightbox {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1050;
  padding: 1rem;
}
.lightbox-fixed {
  overflow: hidden;
}
.lightbox.valign-center {
  display: flex;
  align-items: center;
}
.lightbox > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.lightbox > div > div {
  flex: auto;
}
.lightbox > i {
  color: #fff;
  font-size: 32px;
  text-align: center;
  display: block;
  line-height: 32px;
  padding: 0 16px 0 8px;
  border-radius: 8px 0 0 8px;
  position: fixed;
  right: 0;
  top: 20px;
  cursor: pointer;
  z-index: 100;
}
.lightbox > i:hover {
  background: #666;
}

/* --- loading ----------------------------------------- */
.js-loading {
  background: rgba(235, 81, 170, 0.3);
  height: 4px;
  position: fixed;
  inset: 0 0 auto;
  z-index: 1080;
}
.js-loading:after, .js-loading:before {
  content: "";
  background: rgba(235, 81, 170, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
}
.js-loading:after {
  width: 20%;
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.js-loading:before {
  width: 10%;
  animation-name: spinner-short;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinner {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes spinner-short {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
.box-loading {
  text-align: center;
  background-color: var(--regular-bg-color);
  padding: 1rem;
}

/* -------- media ------------------------------------------------- */
video.responsive,
img.responsive {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: text-top;
}

.video-player {
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  position: relative;
}
.video-player iframe,
.video-player object,
.video-player embed,
.video-player video {
  border: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

/* --- notify ------------------------------------------ */
.notify-box {
  position: relative;
  z-index: 1080;
}
.notify-box > span {
  position: fixed;
  left: 0;
  right: 0;
}
.notify-box > span > span {
  color: var(--solid-primary-font-color);
  position: absolute;
  top: -30px;
  padding: 0.625rem 1rem;
  background: rgba(var(--solid-primary-surface-rgb-color), 0.75);
  border-radius: 0.375rem;
  box-shadow: 1px 1px 2px rgba(var(--solid-surface-rgb-color), 0.075);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation-name: notify;
  -webkit-animation-duration: 0.5s;
  animation-name: notify;
  animation-duration: 0.5s;
}

@keyframes notify {
  from {
    opacity: 0;
    top: -70px;
  }
  to {
    opacity: 1;
    top: -30px;
  }
}
/* -------- panel ------------------------------------------------- */
.panel {
  background-color: var(--regular-surface-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 0.375rem;
  box-shadow: 0 2px 2px 0 rgba(var(--solid-surface-rgb-color), 0.075), 0 3px 1px -2px rgba(var(--solid-surface-rgb-color), 0.075), 0 1px 5px 0 rgba(var(--solid-surface-rgb-color), 0.075);
  position: relative;
}
.panel-header {
  padding: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.panel-header h1,
.panel-header h2,
.panel-header h3,
.panel-header h4,
.panel-header h5 {
  margin: 0;
}
.panel-body {
  padding: 1rem;
  overflow-x: auto;
}
.panel-body .panel-stat-value {
  font-size: 2.1rem;
}
.panel-footer {
  padding: 1rem;
  border-top-width: 1px;
  border-top-style: solid;
}

/* -------- spacing ------------------------------------------------- */
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.mt-0 {
  margin-top: 0;
}

.pt-0 {
  padding-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.pr-0 {
  padding-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.pl-0 {
  padding-left: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.m-1 {
  margin: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.m-2 {
  margin: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.m-4 {
  margin: 1rem;
}

.p-4 {
  padding: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.m-6 {
  margin: 1.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.m-8 {
  margin: 2rem;
}

.p-8 {
  padding: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

/* -------- system ------------------------------------------------- */
.float-right {
  float: right;
}
.float-left {
  float: left;
}

.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-move {
  cursor: move;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@media (max-width: 990px) {
  .visually-responsive-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}
.only-to-print {
  display: none;
}

@media print {
  .only-to-print {
    display: block;
  }
  .do-not-print {
    display: none;
  }
}
.only-on-small-screen {
  display: none;
}

@media (max-width: 600px) {
  .only-on-small-screen {
    display: inherit;
  }
  .only-on-large-screen {
    display: none;
  }
}
/* --- overflow ---- */
.overflow-auto {
  overflow: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-clip {
  overflow: clip;
}

.overflow-x-clip {
  overflow-x: clip;
}

.overflow-y-clip {
  overflow-y: clip;
}

/* -------- table ------------------------------------------------- */
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  cursor: default;
}
.table thead {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--regular-border-color);
}
.table th {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}
.table th,
.table td {
  padding: 0.5rem;
  vertical-align: baseline;
}
.table.table-auto {
  width: initial;
}
.table .table-auto {
  width: 0;
}
.table.table-striped > tbody > tr:nth-child(even) {
  background: var(--regular-bg-color);
}
.table.table-highlight > tbody > tr:hover > td {
  background: var(--regular-active-bg-color);
}
.table.table-bordered {
  border-width: 1px;
  border-style: solid;
  border-color: var(--regular-border-color);
}
.table.table-bordered th,
.table.table-bordered td {
  border-width: 1px;
  border-style: solid;
  border-color: var(--regular-border-color);
}
.table.table-condensed th, .table.table-condensed td {
  padding-top: 0;
  padding-bottom: 0;
}
.table tbody > tr.active td {
  background: var(--regular-primary-bg-color) !important;
}
.table .table-linked a,
.table a.table-linked {
  color: var(--regular-font-color) !important;
  text-decoration: none !important;
}
.table .table-linked a:hover,
.table a.table-linked:hover {
  color: var(--regular-disabled-font-color) !important;
  border-bottom: 1px dotted var(--regular-disabled-font-color) !important;
}
.table td.table-dimmed, .table td.table-dimmed a,
.table td .table-dimmed,
.table td .table-dimmed a {
  color: var(--regular-subtle-font-color) !important;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* -------- text ------------------------------------------------- */
.underline {
  text-decoration: underline !important;
}

.line-through {
  text-decoration: line-through !important;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

/* -------- tiles ------------------------------------------------- */
.tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1rem;
}
.tiles > div {
  min-width: 100px;
  min-height: 100px;
  background-color: var(--regular-bg-color);
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
}
.tiles > div:hover {
  transform: scale(1.04);
}
.tiles > div > a {
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tiles .tile-content {
  margin: auto 0;
  padding: 0.25rem;
  text-align: center;
}
.tiles .tile-wrapper {
  padding: 0 1.75rem;
  display: inline-block;
  position: relative;
}
.tiles .tile-icon {
  font-size: 1.5rem;
}
.tiles .tile-caption {
  color: var(--regular-font-color);
  font-weight: bold;
  font-size: 0.875rem;
}
.tiles .tile-badge {
  position: absolute;
  inset: auto 0 -0.25rem auto;
}
.tiles.tiles-medium > div {
  min-width: 140px;
  min-height: 140px;
}
.tiles.tiles-medium > div .tile-icon {
  font-size: 2.5rem;
}
.tiles.tiles-medium > div .tile-caption {
  font-size: 1rem;
}
.tiles.tiles-large > div {
  min-width: 180px;
  min-height: 180px;
}
.tiles.tiles-large > div .tile-icon {
  font-size: 3rem;
}
.tiles.tiles-large > div .tile-caption {
  font-size: 1.25rem;
}
.tiles-fieldset {
  margin: 0;
  margin-bottom: 1rem;
  background-color: var(--regular-surface-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--regular-border-color);
  border-radius: 0.375rem;
  box-shadow: 0 2px 2px 0 rgba(var(--solid-surface-rgb-color), 0.075), 0 3px 1px -2px rgba(var(--solid-surface-rgb-color), 0.075), 0 1px 5px 0 rgba(var(--solid-surface-rgb-color), 0.075);
}
.tiles-fieldset > legend {
  color: var(--regular-font-color);
}

/* -------- toasts ------------------------------------------------- */
.toast-container {
  width: 350px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 1080;
}

.toast {
  box-shadow: 0 2px 2px 0 rgba(var(--solid-surface-rgb-color), 0.075), 0 3px 1px -2px rgba(var(--solid-surface-rgb-color), 0.075), 0 1px 5px 0 rgba(var(--solid-surface-rgb-color), 0.075);
  border-radius: 0.375rem;
  display: flex;
}
.toast > div {
  padding: 0.5rem 0.75rem;
}
.toast-body {
  flex: auto;
}
.toast-close {
  flex: none !important;
}
.toast-close i {
  cursor: pointer;
}
.toast ~ .toast {
  margin-top: 1rem;
}

/* --- tooltip ------------------------------------------- */
.tooltip {
  color: var(--solid-font-color);
  padding: 0 10px;
  background-color: rgba(var(--solid-surface-rgb-color), 0.8);
  border-radius: 0.375rem;
  position: absolute;
  top: -2000px;
  left: -2000px;
  z-index: 1070;
  visibility: hidden;
  transition: opacity 300ms;
  opacity: 0;
}
.tooltip:before {
  content: "";
  width: 0;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 5px);
  border-width: 5px 5px 0;
  border-style: solid;
  border-color: rgba(var(--solid-surface-rgb-color), 0.8) transparent;
  display: block;
}
.tooltip.bottom:before {
  bottom: auto;
  top: -5px;
  border-width: 0px 5px 5px;
}
.tooltip.right:before {
  bottom: calc(50% - 5px);
  left: -5px;
  border-width: 5px 5px 5px 0px;
  border-color: transparent rgba(var(--solid-surface-rgb-color), 0.8);
}
.tooltip.left:before {
  bottom: calc(50% - 5px);
  left: auto;
  right: -5px;
  border-width: 5px 0px 5px 5px;
  border-color: transparent rgba(var(--solid-surface-rgb-color), 0.8);
}
.tooltip.show {
  visibility: visible;
  display: block;
  opacity: 1;
}

/* --- colors ------------------------------------------- */
.badge,
a.badge {
  color: var(--solid-font-color);
  background-color: var(--solid-bg-color);
  border-color: var(--solid-bg-color);
}

.badge.badge-regular,
a.badge.badge-regular {
  color: var(--regular-font-color);
  background-color: var(--regular-bg-color);
  border-color: var(--regular-border-color);
}

.dialog {
  color: var(--regular-font-color);
  background-color: var(--regular-bg-color);
  border-color: var(--regular-border-color);
}

.panel {
  border-color: var(--regular-border-color);
}
.panel .panel-header,
.panel .panel-footer {
  border-color: var(--regular-border-color);
}
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6 {
  color: var(--regular-heading-color);
}

.panel.panel-regular {
  color: var(--regular-font-color);
  background-color: var(--regular-bg-color);
}

.panel.panel-solid {
  color: var(--solid-font-color);
  background-color: var(--solid-bg-color);
  border-color: var(--solid-border-color);
}
.panel.panel-solid .panel-header,
.panel.panel-solid .panel-footer {
  border-color: var(--solid-border-color);
}
.panel.panel-solid h1,
.panel.panel-solid h2,
.panel.panel-solid h3,
.panel.panel-solid h4,
.panel.panel-solid h5,
.panel.panel-solid h6 {
  color: var(--solid-heading-color);
}

.toast {
  color: var(--solid-font-color);
  background-color: var(--solid-bg-color);
}

.badge-primary,
a.badge-primary {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
  border-color: var(--solid-primary-bg-color);
}

.badge-primary.badge-regular,
a.badge-primary.badge-regular {
  color: var(--regular-primary-font-color);
  background-color: var(--regular-primary-bg-color);
  border-color: var(--regular-primary-border-color);
}

.dialog-primary {
  color: var(--regular-primary-font-color);
  background-color: var(--regular-primary-bg-color);
  border-color: var(--regular-primary-border-color);
}

.panel-primary {
  border-color: var(--regular-primary-border-color);
}
.panel-primary .panel-header,
.panel-primary .panel-footer {
  border-color: var(--regular-primary-border-color);
}
.panel-primary h1,
.panel-primary h2,
.panel-primary h3,
.panel-primary h4,
.panel-primary h5,
.panel-primary h6 {
  color: var(--regular-primary-heading-color);
}

.panel-primary.panel-regular {
  color: var(--regular-primary-font-color);
  background-color: var(--regular-primary-bg-color);
}

.panel-primary.panel-solid {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
  border-color: var(--solid-primary-border-color);
}
.panel-primary.panel-solid .panel-header,
.panel-primary.panel-solid .panel-footer {
  border-color: var(--solid-primary-border-color);
}
.panel-primary.panel-solid h1,
.panel-primary.panel-solid h2,
.panel-primary.panel-solid h3,
.panel-primary.panel-solid h4,
.panel-primary.panel-solid h5,
.panel-primary.panel-solid h6 {
  color: var(--solid-primary-heading-color);
}

.toast-primary {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
}

.badge-secondary,
a.badge-secondary {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
  border-color: var(--solid-secondary-bg-color);
}

.badge-secondary.badge-regular,
a.badge-secondary.badge-regular {
  color: var(--regular-secondary-font-color);
  background-color: var(--regular-secondary-bg-color);
  border-color: var(--regular-secondary-border-color);
}

.dialog-secondary {
  color: var(--regular-secondary-font-color);
  background-color: var(--regular-secondary-bg-color);
  border-color: var(--regular-secondary-border-color);
}

.panel-secondary {
  border-color: var(--regular-secondary-border-color);
}
.panel-secondary .panel-header,
.panel-secondary .panel-footer {
  border-color: var(--regular-secondary-border-color);
}
.panel-secondary h1,
.panel-secondary h2,
.panel-secondary h3,
.panel-secondary h4,
.panel-secondary h5,
.panel-secondary h6 {
  color: var(--regular-secondary-heading-color);
}

.panel-secondary.panel-regular {
  color: var(--regular-secondary-font-color);
  background-color: var(--regular-secondary-bg-color);
}

.panel-secondary.panel-solid {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
  border-color: var(--solid-secondary-border-color);
}
.panel-secondary.panel-solid .panel-header,
.panel-secondary.panel-solid .panel-footer {
  border-color: var(--solid-secondary-border-color);
}
.panel-secondary.panel-solid h1,
.panel-secondary.panel-solid h2,
.panel-secondary.panel-solid h3,
.panel-secondary.panel-solid h4,
.panel-secondary.panel-solid h5,
.panel-secondary.panel-solid h6 {
  color: var(--solid-secondary-heading-color);
}

.toast-secondary {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
}

.badge-success,
a.badge-success {
  color: var(--solid-success-font-color);
  background-color: var(--solid-success-bg-color);
  border-color: var(--solid-success-bg-color);
}

.badge-success.badge-regular,
a.badge-success.badge-regular {
  color: var(--regular-success-font-color);
  background-color: var(--regular-success-bg-color);
  border-color: var(--regular-success-border-color);
}

.dialog-success {
  color: var(--regular-success-font-color);
  background-color: var(--regular-success-bg-color);
  border-color: var(--regular-success-border-color);
}

.panel-success {
  border-color: var(--regular-success-border-color);
}
.panel-success .panel-header,
.panel-success .panel-footer {
  border-color: var(--regular-success-border-color);
}
.panel-success h1,
.panel-success h2,
.panel-success h3,
.panel-success h4,
.panel-success h5,
.panel-success h6 {
  color: var(--regular-success-heading-color);
}

.panel-success.panel-regular {
  color: var(--regular-success-font-color);
  background-color: var(--regular-success-bg-color);
}

.panel-success.panel-solid {
  color: var(--solid-success-font-color);
  background-color: var(--solid-success-bg-color);
  border-color: var(--solid-success-border-color);
}
.panel-success.panel-solid .panel-header,
.panel-success.panel-solid .panel-footer {
  border-color: var(--solid-success-border-color);
}
.panel-success.panel-solid h1,
.panel-success.panel-solid h2,
.panel-success.panel-solid h3,
.panel-success.panel-solid h4,
.panel-success.panel-solid h5,
.panel-success.panel-solid h6 {
  color: var(--solid-success-heading-color);
}

.toast-success {
  color: var(--solid-success-font-color);
  background-color: var(--solid-success-bg-color);
}

.badge-info,
a.badge-info {
  color: var(--solid-info-font-color);
  background-color: var(--solid-info-bg-color);
  border-color: var(--solid-info-bg-color);
}

.badge-info.badge-regular,
a.badge-info.badge-regular {
  color: var(--regular-info-font-color);
  background-color: var(--regular-info-bg-color);
  border-color: var(--regular-info-border-color);
}

.dialog-info {
  color: var(--regular-info-font-color);
  background-color: var(--regular-info-bg-color);
  border-color: var(--regular-info-border-color);
}

.panel-info {
  border-color: var(--regular-info-border-color);
}
.panel-info .panel-header,
.panel-info .panel-footer {
  border-color: var(--regular-info-border-color);
}
.panel-info h1,
.panel-info h2,
.panel-info h3,
.panel-info h4,
.panel-info h5,
.panel-info h6 {
  color: var(--regular-info-heading-color);
}

.panel-info.panel-regular {
  color: var(--regular-info-font-color);
  background-color: var(--regular-info-bg-color);
}

.panel-info.panel-solid {
  color: var(--solid-info-font-color);
  background-color: var(--solid-info-bg-color);
  border-color: var(--solid-info-border-color);
}
.panel-info.panel-solid .panel-header,
.panel-info.panel-solid .panel-footer {
  border-color: var(--solid-info-border-color);
}
.panel-info.panel-solid h1,
.panel-info.panel-solid h2,
.panel-info.panel-solid h3,
.panel-info.panel-solid h4,
.panel-info.panel-solid h5,
.panel-info.panel-solid h6 {
  color: var(--solid-info-heading-color);
}

.toast-info {
  color: var(--solid-info-font-color);
  background-color: var(--solid-info-bg-color);
}

.badge-warning,
a.badge-warning {
  color: var(--solid-warning-font-color);
  background-color: var(--solid-warning-bg-color);
  border-color: var(--solid-warning-bg-color);
}

.badge-warning.badge-regular,
a.badge-warning.badge-regular {
  color: var(--regular-warning-font-color);
  background-color: var(--regular-warning-bg-color);
  border-color: var(--regular-warning-border-color);
}

.dialog-warning {
  color: var(--regular-warning-font-color);
  background-color: var(--regular-warning-bg-color);
  border-color: var(--regular-warning-border-color);
}

.panel-warning {
  border-color: var(--regular-warning-border-color);
}
.panel-warning .panel-header,
.panel-warning .panel-footer {
  border-color: var(--regular-warning-border-color);
}
.panel-warning h1,
.panel-warning h2,
.panel-warning h3,
.panel-warning h4,
.panel-warning h5,
.panel-warning h6 {
  color: var(--regular-warning-heading-color);
}

.panel-warning.panel-regular {
  color: var(--regular-warning-font-color);
  background-color: var(--regular-warning-bg-color);
}

.panel-warning.panel-solid {
  color: var(--solid-warning-font-color);
  background-color: var(--solid-warning-bg-color);
  border-color: var(--solid-warning-border-color);
}
.panel-warning.panel-solid .panel-header,
.panel-warning.panel-solid .panel-footer {
  border-color: var(--solid-warning-border-color);
}
.panel-warning.panel-solid h1,
.panel-warning.panel-solid h2,
.panel-warning.panel-solid h3,
.panel-warning.panel-solid h4,
.panel-warning.panel-solid h5,
.panel-warning.panel-solid h6 {
  color: var(--solid-warning-heading-color);
}

.toast-warning {
  color: var(--solid-warning-font-color);
  background-color: var(--solid-warning-bg-color);
}

.badge-danger,
a.badge-danger {
  color: var(--solid-danger-font-color);
  background-color: var(--solid-danger-bg-color);
  border-color: var(--solid-danger-bg-color);
}

.badge-danger.badge-regular,
a.badge-danger.badge-regular {
  color: var(--regular-danger-font-color);
  background-color: var(--regular-danger-bg-color);
  border-color: var(--regular-danger-border-color);
}

.dialog-danger {
  color: var(--regular-danger-font-color);
  background-color: var(--regular-danger-bg-color);
  border-color: var(--regular-danger-border-color);
}

.panel-danger {
  border-color: var(--regular-danger-border-color);
}
.panel-danger .panel-header,
.panel-danger .panel-footer {
  border-color: var(--regular-danger-border-color);
}
.panel-danger h1,
.panel-danger h2,
.panel-danger h3,
.panel-danger h4,
.panel-danger h5,
.panel-danger h6 {
  color: var(--regular-danger-heading-color);
}

.panel-danger.panel-regular {
  color: var(--regular-danger-font-color);
  background-color: var(--regular-danger-bg-color);
}

.panel-danger.panel-solid {
  color: var(--solid-danger-font-color);
  background-color: var(--solid-danger-bg-color);
  border-color: var(--solid-danger-border-color);
}
.panel-danger.panel-solid .panel-header,
.panel-danger.panel-solid .panel-footer {
  border-color: var(--solid-danger-border-color);
}
.panel-danger.panel-solid h1,
.panel-danger.panel-solid h2,
.panel-danger.panel-solid h3,
.panel-danger.panel-solid h4,
.panel-danger.panel-solid h5,
.panel-danger.panel-solid h6 {
  color: var(--solid-danger-heading-color);
}

.toast-danger {
  color: var(--solid-danger-font-color);
  background-color: var(--solid-danger-bg-color);
}

.color-blue,
a.color-blue {
  color: #067bcc;
}

.bg-blue {
  background-color: #067bcc;
}

.color-green,
a.color-green {
  color: #34a745;
}

.bg-green {
  background-color: #34a745;
}

.color-orange,
a.color-orange {
  color: #fd7e24;
}

.bg-orange {
  background-color: #fd7e24;
}

.color-red,
a.color-red {
  color: #dc3540;
}

.bg-red {
  background-color: #dc3540;
}

.color-yellow,
a.color-yellow {
  color: #ffc134;
}

.bg-yellow {
  background-color: #ffc134;
}

.color-default,
a.color-default {
  color: var(--regular-font-color);
}

.bg-default {
  background-color: var(--regular-surface-color);
}

.box-default {
  color: var(--regular-font-color);
  background-color: var(--regular-bg-color);
  border-color: var(--regular-border-color);
}

.box-default.box-solid {
  color: var(--solid-font-color);
  background-color: var(--solid-bg-color);
  border-color: var(--solid-border-color);
}

.color-primary,
a.color-primary {
  color: var(--regular-primary-surface-color);
}

.bg-primary {
  background-color: var(--regular-primary-surface-color);
}

.box-primary {
  color: var(--regular-primary-font-color);
  background-color: var(--regular-primary-bg-color);
  border-color: var(--regular-primary-border-color);
}

.box-primary.box-solid {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
  border-color: var(--solid-primary-border-color);
}

.color-secondary,
a.color-secondary {
  color: var(--regular-secondary-surface-color);
}

.bg-secondary {
  background-color: var(--regular-secondary-surface-color);
}

.box-secondary {
  color: var(--regular-secondary-font-color);
  background-color: var(--regular-secondary-bg-color);
  border-color: var(--regular-secondary-border-color);
}

.box-secondary.box-solid {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
  border-color: var(--solid-secondary-border-color);
}

.color-success,
a.color-success {
  color: var(--regular-success-surface-color);
}

.bg-success {
  background-color: var(--regular-success-surface-color);
}

.box-success {
  color: var(--regular-success-font-color);
  background-color: var(--regular-success-bg-color);
  border-color: var(--regular-success-border-color);
}

.box-success.box-solid {
  color: var(--solid-success-font-color);
  background-color: var(--solid-success-bg-color);
  border-color: var(--solid-success-border-color);
}

.color-info,
a.color-info {
  color: var(--regular-info-surface-color);
}

.bg-info {
  background-color: var(--regular-info-surface-color);
}

.box-info {
  color: var(--regular-info-font-color);
  background-color: var(--regular-info-bg-color);
  border-color: var(--regular-info-border-color);
}

.box-info.box-solid {
  color: var(--solid-info-font-color);
  background-color: var(--solid-info-bg-color);
  border-color: var(--solid-info-border-color);
}

.color-warning,
a.color-warning {
  color: var(--regular-warning-surface-color);
}

.bg-warning {
  background-color: var(--regular-warning-surface-color);
}

.box-warning {
  color: var(--regular-warning-font-color);
  background-color: var(--regular-warning-bg-color);
  border-color: var(--regular-warning-border-color);
}

.box-warning.box-solid {
  color: var(--solid-warning-font-color);
  background-color: var(--solid-warning-bg-color);
  border-color: var(--solid-warning-border-color);
}

.color-danger,
a.color-danger {
  color: var(--regular-danger-surface-color);
}

.bg-danger {
  background-color: var(--regular-danger-surface-color);
}

.box-danger {
  color: var(--regular-danger-font-color);
  background-color: var(--regular-danger-bg-color);
  border-color: var(--regular-danger-border-color);
}

.box-danger.box-solid {
  color: var(--solid-danger-font-color);
  background-color: var(--solid-danger-bg-color);
  border-color: var(--solid-danger-border-color);
}

.color-light {
  color: var(--regular-subtle-font-color);
}

.outline-none.panel {
  border-color: transparent;
}