/* --- root --- */
:root,
[data-theme=light] {
  --theme-surface-color: #ffffff;
  --theme-surface-rgb-color: 255 , 255 , 255;
  --regular-subtle-font-color: rgb(81.3, 81.7, 82.1);
  --regular-disabled-font-color: rgb(121.95, 122.55, 123.15);
  --regular-font-color: rgb(20.325, 20.425, 20.525);
  --regular-heading-color: rgb(20.325, 20.425, 20.525);
  --regular-active-font-color: rgb(40.65, 40.85, 41.05);
  --regular-disabled-bg-color: rgb(244.65, 244.85, 245.05);
  --regular-bg-color: rgb(234.3, 234.7, 235.1);
  --regular-active-bg-color: rgb(223.95, 224.55, 225.15);
  --regular-disabled-border-color: rgb(213.6, 214.4, 215.2);
  --regular-border-color: rgb(203.25, 204.25, 205.25);
  --regular-active-border-color: rgb(162.6, 163.4, 164.2);
  --regular-primary-subtle-font-color: rgb(19.2, 39.6, 80.4);
  --regular-primary-disabled-font-color: rgb(28.8, 59.4, 120.6);
  --regular-primary-font-color: rgb(4.8, 9.9, 20.1);
  --regular-primary-heading-color: rgb(4.8, 9.9, 20.1);
  --regular-primary-active-font-color: rgb(9.6, 19.8, 40.2);
  --regular-primary-disabled-bg-color: rgb(213.6, 223.8, 244.2);
  --regular-primary-bg-color: rgb(172.2, 192.6, 233.4);
  --regular-primary-active-bg-color: rgb(130.8, 161.4, 222.6);
  --regular-primary-disabled-border-color: rgb(89.4, 130.2, 211.8);
  --regular-primary-border-color: #3063c9;
  --regular-primary-active-border-color: rgb(38.4, 79.2, 160.8);
  --regular-secondary-subtle-font-color: rgb(79.2, 6.4, 48.8);
  --regular-secondary-disabled-font-color: rgb(118.8, 9.6, 73.2);
  --regular-secondary-font-color: rgb(19.8, 1.6, 12.2);
  --regular-secondary-heading-color: rgb(19.8, 1.6, 12.2);
  --regular-secondary-active-font-color: rgb(39.6, 3.2, 24.4);
  --regular-secondary-disabled-bg-color: rgb(243.6, 207.2, 228.4);
  --regular-secondary-bg-color: rgb(232.2, 159.4, 201.8);
  --regular-secondary-active-bg-color: rgb(220.8, 111.6, 175.2);
  --regular-secondary-disabled-border-color: rgb(209.4, 63.8, 148.6);
  --regular-secondary-border-color: #c6107a;
  --regular-secondary-active-border-color: rgb(158.4, 12.8, 97.6);
  --regular-success-subtle-font-color: rgb(4.8, 50.4, 16);
  --regular-success-disabled-font-color: rgb(7.2, 75.6, 24);
  --regular-success-font-color: rgb(1.2, 12.6, 4);
  --regular-success-heading-color: rgb(1.2, 12.6, 4);
  --regular-success-active-font-color: rgb(2.4, 25.2, 8);
  --regular-success-disabled-bg-color: rgb(206.4, 229.2, 212);
  --regular-success-bg-color: rgb(157.8, 203.4, 169);
  --regular-success-active-bg-color: rgb(109.2, 177.6, 126);
  --regular-success-disabled-border-color: rgb(60.6, 151.8, 83);
  --regular-success-border-color: #0c7e28;
  --regular-success-active-border-color: rgb(9.6, 100.8, 32);
  --regular-info-subtle-font-color: rgb(10.8, 71.6, 71.6);
  --regular-info-disabled-font-color: rgb(16.2, 107.4, 107.4);
  --regular-info-font-color: rgb(2.7, 17.9, 17.9);
  --regular-info-heading-color: rgb(2.7, 17.9, 17.9);
  --regular-info-active-font-color: rgb(5.4, 35.8, 35.8);
  --regular-info-disabled-bg-color: rgb(209.4, 239.8, 239.8);
  --regular-info-bg-color: rgb(163.8, 224.6, 224.6);
  --regular-info-active-bg-color: rgb(118.2, 209.4, 209.4);
  --regular-info-disabled-border-color: rgb(72.6, 194.2, 194.2);
  --regular-info-border-color: #1bb3b3;
  --regular-info-active-border-color: rgb(21.6, 143.2, 143.2);
  --regular-warning-subtle-font-color: rgb(97.2, 72.8, 0);
  --regular-warning-disabled-font-color: rgb(145.8, 109.2, 0);
  --regular-warning-font-color: rgb(24.3, 18.2, 0);
  --regular-warning-heading-color: rgb(24.3, 18.2, 0);
  --regular-warning-active-font-color: rgb(48.6, 36.4, 0);
  --regular-warning-disabled-bg-color: rgb(252.6, 240.4, 204);
  --regular-warning-bg-color: rgb(250.2, 225.8, 153);
  --regular-warning-active-bg-color: rgb(247.8, 211.2, 102);
  --regular-warning-disabled-border-color: rgb(245.4, 196.6, 51);
  --regular-warning-border-color: #f3b600;
  --regular-warning-active-border-color: rgb(194.4, 145.6, 0);
  --regular-danger-subtle-font-color: rgb(77.6, 15.6, 19.6);
  --regular-danger-disabled-font-color: rgb(116.4, 23.4, 29.4);
  --regular-danger-font-color: rgb(19.4, 3.9, 4.9);
  --regular-danger-heading-color: rgb(19.4, 3.9, 4.9);
  --regular-danger-active-font-color: rgb(38.8, 7.8, 9.8);
  --regular-danger-disabled-bg-color: rgb(242.8, 211.8, 213.8);
  --regular-danger-bg-color: rgb(230.6, 168.6, 172.6);
  --regular-danger-active-bg-color: rgb(218.4, 125.4, 131.4);
  --regular-danger-disabled-border-color: rgb(206.2, 82.2, 90.2);
  --regular-danger-border-color: #c22731;
  --regular-danger-active-border-color: rgb(155.2, 31.2, 39.2);
  --solid-subtle-font-color: rgb(207.84, 208.16, 208.48);
  --solid-disabled-font-color: rgb(207.84, 208.16, 208.48);
  --solid-font-color: rgb(231.42, 231.58, 231.74);
  --solid-heading-color: rgb(231.42, 231.58, 231.74);
  --solid-active-font-color: rgb(231.42, 231.58, 231.74);
  --solid-disabled-bg-color: rgb(66.36, 67.64, 68.92);
  --solid-bg-color: rgb(19.2, 20.8, 22.4);
  --solid-active-bg-color: rgb(15.36, 16.64, 17.92);
  --solid-disabled-border-color: rgb(160.68, 161.32, 161.96);
  --solid-border-color: rgb(113.52, 114.48, 115.44);
  --solid-active-border-color: rgb(66.36, 67.64, 68.92);
  --solid-primary-subtle-font-color: rgb(213.6, 223.8, 244.2);
  --solid-primary-disabled-font-color: rgb(213.6, 223.8, 244.2);
  --solid-primary-font-color: rgb(234.3, 239.4, 249.6);
  --solid-primary-heading-color: rgb(234.3, 239.4, 249.6);
  --solid-primary-active-font-color: rgb(234.3, 239.4, 249.6);
  --solid-primary-disabled-bg-color: rgb(89.4, 130.2, 211.8);
  --solid-primary-bg-color: #3063c9;
  --solid-primary-active-bg-color: rgb(38.4, 79.2, 160.8);
  --solid-primary-disabled-border-color: rgb(172.2, 192.6, 233.4);
  --solid-primary-border-color: rgb(130.8, 161.4, 222.6);
  --solid-primary-active-border-color: rgb(89.4, 130.2, 211.8);
  --solid-secondary-subtle-font-color: rgb(243.6, 207.2, 228.4);
  --solid-secondary-disabled-font-color: rgb(243.6, 207.2, 228.4);
  --solid-secondary-font-color: rgb(249.3, 231.1, 241.7);
  --solid-secondary-heading-color: rgb(249.3, 231.1, 241.7);
  --solid-secondary-active-font-color: rgb(249.3, 231.1, 241.7);
  --solid-secondary-disabled-bg-color: rgb(209.4, 63.8, 148.6);
  --solid-secondary-bg-color: #c6107a;
  --solid-secondary-active-bg-color: rgb(158.4, 12.8, 97.6);
  --solid-secondary-disabled-border-color: rgb(232.2, 159.4, 201.8);
  --solid-secondary-border-color: rgb(220.8, 111.6, 175.2);
  --solid-secondary-active-border-color: rgb(209.4, 63.8, 148.6);
  --solid-success-subtle-font-color: rgb(206.4, 229.2, 212);
  --solid-success-disabled-font-color: rgb(206.4, 229.2, 212);
  --solid-success-font-color: rgb(230.7, 242.1, 233.5);
  --solid-success-heading-color: rgb(230.7, 242.1, 233.5);
  --solid-success-active-font-color: rgb(230.7, 242.1, 233.5);
  --solid-success-disabled-bg-color: rgb(60.6, 151.8, 83);
  --solid-success-bg-color: #0c7e28;
  --solid-success-active-bg-color: rgb(9.6, 100.8, 32);
  --solid-success-disabled-border-color: rgb(157.8, 203.4, 169);
  --solid-success-border-color: rgb(109.2, 177.6, 126);
  --solid-success-active-border-color: rgb(60.6, 151.8, 83);
  --solid-info-subtle-font-color: rgb(5.4, 35.8, 35.8);
  --solid-info-disabled-font-color: rgb(5.4, 35.8, 35.8);
  --solid-info-font-color: rgb(2.7, 17.9, 17.9);
  --solid-info-heading-color: rgb(2.7, 17.9, 17.9);
  --solid-info-active-font-color: rgb(2.7, 17.9, 17.9);
  --solid-info-disabled-bg-color: rgb(72.6, 194.2, 194.2);
  --solid-info-bg-color: #1bb3b3;
  --solid-info-active-bg-color: rgb(21.6, 143.2, 143.2);
  --solid-info-disabled-border-color: rgb(163.8, 224.6, 224.6);
  --solid-info-border-color: rgb(118.2, 209.4, 209.4);
  --solid-info-active-border-color: rgb(72.6, 194.2, 194.2);
  --solid-warning-subtle-font-color: rgb(48.6, 36.4, 0);
  --solid-warning-disabled-font-color: rgb(48.6, 36.4, 0);
  --solid-warning-font-color: rgb(24.3, 18.2, 0);
  --solid-warning-heading-color: rgb(24.3, 18.2, 0);
  --solid-warning-active-font-color: rgb(24.3, 18.2, 0);
  --solid-warning-disabled-bg-color: rgb(245.4, 196.6, 51);
  --solid-warning-bg-color: #f3b600;
  --solid-warning-active-bg-color: rgb(194.4, 145.6, 0);
  --solid-warning-disabled-border-color: rgb(250.2, 225.8, 153);
  --solid-warning-border-color: rgb(247.8, 211.2, 102);
  --solid-warning-active-border-color: rgb(245.4, 196.6, 51);
  --solid-danger-subtle-font-color: rgb(242.8, 211.8, 213.8);
  --solid-danger-disabled-font-color: rgb(242.8, 211.8, 213.8);
  --solid-danger-font-color: rgb(248.9, 233.4, 234.4);
  --solid-danger-heading-color: rgb(248.9, 233.4, 234.4);
  --solid-danger-active-font-color: rgb(248.9, 233.4, 234.4);
  --solid-danger-disabled-bg-color: rgb(206.2, 82.2, 90.2);
  --solid-danger-bg-color: #c22731;
  --solid-danger-active-bg-color: rgb(155.2, 31.2, 39.2);
  --solid-danger-disabled-border-color: rgb(230.6, 168.6, 172.6);
  --solid-danger-border-color: rgb(218.4, 125.4, 131.4);
  --solid-danger-active-border-color: rgb(206.2, 82.2, 90.2);
  --link-color: rgb(38.4, 79.2, 160.8);
  --link-hover-color: rgb(28.8, 59.4, 120.6);
}

[data-theme=dark] {
  --theme-surface-color: #202428;
  --theme-surface-rgb-color: 32 , 36 , 40;
  --regular-subtle-font-color: rgb(172.2, 173.8, 175.4);
  --regular-disabled-font-color: rgb(130.8, 133.2, 135.6);
  --regular-font-color: rgb(234.3, 234.7, 235.1);
  --regular-heading-color: rgb(234.3, 234.7, 235.1);
  --regular-active-font-color: rgb(213.6, 214.4, 215.2);
  --regular-bg-color: rgb(38.4, 41.6, 44.8);
  --regular-active-bg-color: rgb(19.2, 20.8, 22.4);
  --regular-disabled-bg-color: rgb(9.6, 10.4, 11.2);
  --regular-border-color: rgb(89.4, 92.6, 95.8);
  --regular-active-border-color: #303438;
  --regular-disabled-border-color: rgb(38.4, 41.6, 44.8);
  --regular-primary-subtle-font-color: rgb(160.68, 168.84, 185.16);
  --regular-primary-disabled-font-color: rgb(113.52, 125.76, 150.24);
  --regular-primary-font-color: rgb(231.42, 233.46, 237.54);
  --regular-primary-heading-color: rgb(231.42, 233.46, 237.54);
  --regular-primary-active-font-color: rgb(207.84, 211.92, 220.08);
  --regular-primary-bg-color: rgb(15.36, 31.68, 64.32);
  --regular-primary-active-bg-color: rgb(7.68, 15.84, 32.16);
  --regular-primary-disabled-bg-color: rgb(3.84, 7.92, 16.08);
  --regular-primary-border-color: rgb(66.36, 82.68, 115.32);
  --regular-primary-active-border-color: rgb(19.2, 39.6, 80.4);
  --regular-primary-disabled-border-color: rgb(15.36, 31.68, 64.32);
  --regular-secondary-subtle-font-color: rgb(184.68, 155.56, 172.52);
  --regular-secondary-disabled-font-color: rgb(149.52, 105.84, 131.28);
  --regular-secondary-font-color: rgb(237.42, 230.14, 234.38);
  --regular-secondary-heading-color: rgb(237.42, 230.14, 234.38);
  --regular-secondary-active-font-color: rgb(219.84, 205.28, 213.76);
  --regular-secondary-bg-color: rgb(63.36, 5.12, 39.04);
  --regular-secondary-active-bg-color: rgb(31.68, 2.56, 19.52);
  --regular-secondary-disabled-bg-color: rgb(15.84, 1.28, 9.76);
  --regular-secondary-border-color: rgb(114.36, 56.12, 90.04);
  --regular-secondary-active-border-color: rgb(79.2, 6.4, 48.8);
  --regular-secondary-disabled-border-color: rgb(63.36, 5.12, 39.04);
  --regular-success-subtle-font-color: rgb(154.92, 173.16, 159.4);
  --regular-success-disabled-font-color: rgb(104.88, 132.24, 111.6);
  --regular-success-font-color: rgb(229.98, 234.54, 231.1);
  --regular-success-heading-color: rgb(229.98, 234.54, 231.1);
  --regular-success-active-font-color: rgb(204.96, 214.08, 207.2);
  --regular-success-bg-color: rgb(3.84, 40.32, 12.8);
  --regular-success-active-bg-color: rgb(1.92, 20.16, 6.4);
  --regular-success-disabled-bg-color: rgb(0.96, 10.08, 3.2);
  --regular-success-border-color: rgb(54.84, 91.32, 63.8);
  --regular-success-active-border-color: rgb(4.8, 50.4, 16);
  --regular-success-disabled-border-color: rgb(3.84, 40.32, 12.8);
  --regular-info-subtle-font-color: rgb(157.32, 181.64, 181.64);
  --regular-info-disabled-font-color: rgb(108.48, 144.96, 144.96);
  --regular-info-font-color: rgb(230.58, 236.66, 236.66);
  --regular-info-heading-color: rgb(230.58, 236.66, 236.66);
  --regular-info-active-font-color: rgb(206.16, 218.32, 218.32);
  --regular-info-bg-color: rgb(8.64, 57.28, 57.28);
  --regular-info-active-bg-color: rgb(4.32, 28.64, 28.64);
  --regular-info-disabled-bg-color: rgb(2.16, 14.32, 14.32);
  --regular-info-border-color: rgb(59.64, 108.28, 108.28);
  --regular-info-active-border-color: rgb(10.8, 71.6, 71.6);
  --regular-info-disabled-border-color: rgb(8.64, 57.28, 57.28);
  --regular-warning-subtle-font-color: rgb(191.88, 182.12, 153);
  --regular-warning-disabled-font-color: rgb(160.32, 145.68, 102);
  --regular-warning-font-color: rgb(239.22, 236.78, 229.5);
  --regular-warning-heading-color: rgb(239.22, 236.78, 229.5);
  --regular-warning-active-font-color: rgb(223.44, 218.56, 204);
  --regular-warning-bg-color: rgb(77.76, 58.24, 0);
  --regular-warning-active-bg-color: rgb(38.88, 29.12, 0);
  --regular-warning-disabled-bg-color: rgb(19.44, 14.56, 0);
  --regular-warning-border-color: rgb(128.76, 109.24, 51);
  --regular-warning-active-border-color: rgb(97.2, 72.8, 0);
  --regular-warning-disabled-border-color: rgb(77.76, 58.24, 0);
  --regular-danger-subtle-font-color: rgb(184.04, 159.24, 160.84);
  --regular-danger-disabled-font-color: rgb(148.56, 111.36, 113.76);
  --regular-danger-font-color: rgb(237.26, 231.06, 231.46);
  --regular-danger-heading-color: rgb(237.26, 231.06, 231.46);
  --regular-danger-active-font-color: rgb(219.52, 207.12, 207.92);
  --regular-danger-bg-color: rgb(62.08, 12.48, 15.68);
  --regular-danger-active-bg-color: rgb(31.04, 6.24, 7.84);
  --regular-danger-disabled-bg-color: rgb(15.52, 3.12, 3.92);
  --regular-danger-border-color: rgb(113.08, 63.48, 66.68);
  --regular-danger-active-border-color: rgb(77.6, 15.6, 19.6);
  --regular-danger-disabled-border-color: rgb(62.08, 12.48, 15.68);
  --solid-subtle-font-color: rgb(160.68, 161.32, 161.96);
  --solid-disabled-font-color: rgb(160.68, 161.32, 161.96);
  --solid-font-color: rgb(231.42, 231.58, 231.74);
  --solid-heading-color: rgb(231.42, 231.58, 231.74);
  --solid-active-font-color: rgb(207.84, 208.16, 208.48);
  --solid-bg-color: rgb(19.2, 20.8, 22.4);
  --solid-active-bg-color: rgb(15.36, 16.64, 17.92);
  --solid-disabled-bg-color: rgb(11.52, 12.48, 13.44);
  --solid-border-color: rgb(113.52, 114.48, 115.44);
  --solid-active-border-color: rgb(66.36, 67.64, 68.92);
  --solid-disabled-border-color: rgb(19.2, 20.8, 22.4);
  --solid-primary-subtle-font-color: rgb(168.36, 184.68, 217.32);
  --solid-primary-disabled-font-color: rgb(168.36, 184.68, 217.32);
  --solid-primary-font-color: rgb(233.34, 237.42, 245.58);
  --solid-primary-heading-color: rgb(233.34, 237.42, 245.58);
  --solid-primary-active-font-color: rgb(211.68, 219.84, 236.16);
  --solid-primary-bg-color: rgb(38.4, 79.2, 160.8);
  --solid-primary-active-bg-color: rgb(30.72, 63.36, 128.64);
  --solid-primary-disabled-bg-color: rgb(23.04, 47.52, 96.48);
  --solid-primary-border-color: rgb(125.04, 149.52, 198.48);
  --solid-primary-active-border-color: rgb(81.72, 114.36, 179.64);
  --solid-primary-disabled-border-color: rgb(38.4, 79.2, 160.8);
  --solid-secondary-subtle-font-color: rgb(216.36, 158.12, 192.04);
  --solid-secondary-disabled-font-color: rgb(216.36, 158.12, 192.04);
  --solid-secondary-font-color: rgb(245.34, 230.78, 239.26);
  --solid-secondary-heading-color: rgb(245.34, 230.78, 239.26);
  --solid-secondary-active-font-color: rgb(235.68, 206.56, 223.52);
  --solid-secondary-bg-color: rgb(158.4, 12.8, 97.6);
  --solid-secondary-active-bg-color: rgb(126.72, 10.24, 78.08);
  --solid-secondary-disabled-bg-color: rgb(95.04, 7.68, 58.56);
  --solid-secondary-border-color: rgb(197.04, 109.68, 160.56);
  --solid-secondary-active-border-color: rgb(177.72, 61.24, 129.08);
  --solid-secondary-disabled-border-color: rgb(158.4, 12.8, 97.6);
  --solid-success-subtle-font-color: rgb(156.84, 193.32, 165.8);
  --solid-success-disabled-font-color: rgb(156.84, 193.32, 165.8);
  --solid-success-font-color: rgb(230.46, 239.58, 232.7);
  --solid-success-heading-color: rgb(230.46, 239.58, 232.7);
  --solid-success-active-font-color: rgb(205.92, 224.16, 210.4);
  --solid-success-bg-color: rgb(9.6, 100.8, 32);
  --solid-success-active-bg-color: rgb(7.68, 80.64, 25.6);
  --solid-success-disabled-bg-color: rgb(5.76, 60.48, 19.2);
  --solid-success-border-color: rgb(107.76, 162.48, 121.2);
  --solid-success-active-border-color: rgb(58.68, 131.64, 76.6);
  --solid-success-disabled-border-color: rgb(9.6, 100.8, 32);
  --solid-info-subtle-font-color: rgb(4.32, 28.64, 28.64);
  --solid-info-disabled-font-color: rgb(4.32, 28.64, 28.64);
  --solid-info-font-color: rgb(2.16, 14.32, 14.32);
  --solid-info-heading-color: rgb(2.16, 14.32, 14.32);
  --solid-info-active-font-color: rgb(8.64, 57.28, 57.28);
  --solid-info-bg-color: rgb(21.6, 143.2, 143.2);
  --solid-info-active-bg-color: rgb(17.28, 114.56, 114.56);
  --solid-info-disabled-bg-color: rgb(12.96, 85.92, 85.92);
  --solid-info-border-color: rgb(114.96, 187.92, 187.92);
  --solid-info-active-border-color: rgb(68.28, 165.56, 165.56);
  --solid-info-disabled-border-color: rgb(21.6, 143.2, 143.2);
  --solid-warning-subtle-font-color: rgb(38.88, 29.12, 0);
  --solid-warning-disabled-font-color: rgb(38.88, 29.12, 0);
  --solid-warning-font-color: rgb(19.44, 14.56, 0);
  --solid-warning-heading-color: rgb(19.44, 14.56, 0);
  --solid-warning-active-font-color: rgb(77.76, 58.24, 0);
  --solid-warning-bg-color: rgb(194.4, 145.6, 0);
  --solid-warning-active-bg-color: rgb(155.52, 116.48, 0);
  --solid-warning-disabled-bg-color: rgb(116.64, 87.36, 0);
  --solid-warning-border-color: rgb(218.64, 189.36, 102);
  --solid-warning-active-border-color: rgb(206.52, 167.48, 51);
  --solid-warning-disabled-border-color: rgb(194.4, 145.6, 0);
  --solid-danger-subtle-font-color: rgb(215.08, 165.48, 168.68);
  --solid-danger-disabled-font-color: rgb(215.08, 165.48, 168.68);
  --solid-danger-font-color: rgb(245.02, 232.62, 233.42);
  --solid-danger-heading-color: rgb(245.02, 232.62, 233.42);
  --solid-danger-active-font-color: rgb(235.04, 210.24, 211.84);
  --solid-danger-bg-color: rgb(155.2, 31.2, 39.2);
  --solid-danger-active-bg-color: rgb(124.16, 24.96, 31.36);
  --solid-danger-disabled-bg-color: rgb(93.12, 18.72, 23.52);
  --solid-danger-border-color: rgb(195.12, 120.72, 125.52);
  --solid-danger-active-border-color: rgb(175.16, 75.96, 82.36);
  --solid-danger-disabled-border-color: rgb(155.2, 31.2, 39.2);
  --link-color: rgb(110.1, 145.8, 217.2);
  --link-hover-color: rgb(68.7, 114.6, 206.4);
}

:root {
  --theme-default-color: #303438;
  --theme-default-rgb-color: 48 , 52 , 56;
  --theme-primary-color: #3063c9;
  --theme-primary-rgb-color: 48 , 99 , 201;
  --theme-secondary-color: #c6107a;
  --theme-secondary-rgb-color: 198 , 16 , 122;
  --theme-success-color: #0c7e28;
  --theme-success-rgb-color: 12 , 126 , 40;
  --theme-info-color: #1bb3b3;
  --theme-info-rgb-color: 27 , 179 , 179;
  --theme-warning-color: #f3b600;
  --theme-warning-rgb-color: 243 , 182 , 0;
  --theme-danger-color: #c22731;
  --theme-danger-rgb-color: 194 , 39 , 49;
  --line-height-base: 1.5;
  --font-family-sans: ui-sans-serif, system-ui, sans-serif;
  --font-family-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-family-mono: monospace;
  --font-family-base: ui-sans-serif, system-ui, sans-serif;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.5rem;
  --heading-font-family: inherit;
  --heading-font-weight: normal;
  --zindex-navbar: 1000;
  --zindex-dropdown: 1000;
  --zindex-modal: 1050;
  --zindex-lightbox: 1050;
  --zindex-tooltip: 1070;
  --zindex-loading: 1080;
  --zindex-toast: 1080;
  --zindex-pullnav: 2000;
  --box-shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --box-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --box-shadow-template: var(--box-shadow-md);
  --box-shadow-dropdown: var(--box-shadow-lg);
  --box-shadow-button: var(--box-shadow-sm);
  --box-shadow-input: var(--box-shadow-sm);
  --overlay-color-1: rgba(0, 0, 0, 0.3);
  --overlay-color-2: rgba(0, 0, 0, 0.8);
  --border-width: 1px;
  --border-style: solid;
  --rounded-sm: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.625rem;
  --rounded-full: 9999px;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-12: 3rem;
  --sizing: 1rem;
}

/* --- reboot --- */
* {
  box-sizing: border-box;
  scrollbar-color: var(--regular-border-color) var(--regular-bg-color);
}

::-webkit-scrollbar {
  background-color: var(--regular-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--regular-border-color);
}

[data-theme=dark] ::-webkit-inner-spin-button,
[data-theme=dark] ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* --- tipography --- */
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: normal;
  line-height: var(--line-height-base);
  color: var(--regular-font-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
a:focus {
  color: var(--link-hover-color);
}

.font-sans {
  font-family: var(--font-family-sans);
}

.font-serif {
  font-family: var(--font-family-serif);
}

.font-mono {
  font-family: var(--font-family-mono);
}

.font-small {
  font-size: var(--font-size-sm);
}

.font-large {
  font-size: var(--font-size-lg);
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--regular-heading-color);
  text-wrap: balance;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

img {
  border-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-wrap: pretty;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-family-mono);
}

code {
  font-size: 0.875rem;
  color: var(--link-color);
  background-color: var(--regular-bg-color);
  padding: 0.25rem 0.375rem;
  border-radius: var(--rounded-md);
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

::selection {
  color: var(--solid-primary-font-color);
  background: var(--solid-primary-bg-color);
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

::placeholder {
  color: currentColor;
  opacity: 0.5;
}

/* --- Badge --------------------------------------------------*/
.badge {
  text-decoration: none;
  white-space: nowrap;
  border-width: var(--border-width);
  border-style: var(--border-style);
  padding: 0 0.625rem;
  vertical-align: baseline;
  border-radius: var(--rounded-md);
  display: inline-block;
}
.badge ~ .badge {
  margin-left: var(--border-width);
}
.badge-small {
  font-size: var(--font-size-sm);
}
.badge-large {
  font-size: var(--font-size-lg);
}

/* -------- borders --- */
.rounded {
  border-radius: var(--rounded-md);
}

.rounded-small {
  border-radius: var(--rounded-sm);
}

.rounded-large {
  border-radius: var(--rounded-lg);
}

.rounded-full {
  border-radius: var(--rounded-full);
}

/* -------- dialog --- */
.dialog {
  margin-bottom: var(--spacing-4);
  padding: var(--spacing-4);
  border-width: 0 0 0 5px;
  border-style: var(--border-style);
  border-radius: var(--rounded-md);
}

/* -------- flex --- */
.flex {
  display: flex;
}
.flex-auto {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}

.inline-flex {
  display: inline-flex;
}

/* --- grid --- */
.grid {
  display: grid;
  gap: var(--spacing-4);
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-12 {
  grid-template-columns: 1fr 2fr;
}
.grid-21 {
  grid-template-columns: 2fr 1fr;
}
.grid-13 {
  grid-template-columns: 1fr 3fr;
}
.grid-31 {
  grid-template-columns: 3fr 1fr;
}
.grid-14 {
  grid-template-columns: 1fr 4fr;
}
.grid-41 {
  grid-template-columns: 4fr 1fr;
}
.grid-small-box {
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
.grid-medium-box {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.grid-large-box {
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}

.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

@media (max-width: 990px) {
  .grid-responsive.grid-4 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-responsive.grid-13 {
    grid-template-columns: 1fr 2fr;
  }
  .grid-responsive.grid-31 {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 770px) {
  .grid-responsive.grid-2, .grid-responsive.grid-3, .grid-responsive.grid-4, .grid-responsive.grid-5, .grid-responsive.grid-12, .grid-responsive.grid-21, .grid-responsive.grid-13, .grid-responsive.grid-31, .grid-responsive.grid-14, .grid-responsive.grid-41 {
    grid-template-columns: 1fr;
  }
}
/* --- container --- */
.container,
.container-fluid {
  width: 100%;
  padding-right: var(--spacing-4);
  padding-left: var(--spacing-4);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 600px) {
  .container {
    max-width: calc(600px - 2 * var(--spacing-4));
  }
}
@media (min-width: 770px) {
  .container {
    max-width: calc(770px - 3 * var(--spacing-4));
  }
}
@media (min-width: 990px) {
  .container {
    max-width: calc(990px - 2 * var(--spacing-4));
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: calc(1200px - 3 * var(--spacing-4));
  }
}
/* --- Lightbox --- */
.lightbox-fixed {
  overflow: hidden;
}
.lightbox {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  z-index: var(--zindex-lightbox);
  padding: var(--spacing-4);
}
.lightbox.valign-center {
  display: flex;
  align-items: center;
}
.lightbox > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.lightbox > div > div {
  flex: auto;
}
.lightbox > button {
  color: #fff;
  font-size: 32px;
  text-align: center;
  display: block;
  line-height: 48px;
  padding: 0 16px 0 8px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: var(--rounded-md) 0 0 var(--rounded-md);
  position: fixed;
  right: 0;
  top: 20px;
  cursor: pointer;
  z-index: 100;
}

/* --- loading --- */
.js-loading {
  background: rgba(198, 16, 122, 0.3);
  height: 4px;
  position: fixed;
  inset: 0 0 auto;
  z-index: var(--zindex-loading);
}
.js-loading:after, .js-loading:before {
  content: "";
  background: rgba(198, 16, 122, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
}
.js-loading:after {
  width: 20%;
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.js-loading:before {
  width: 10%;
  animation-name: spinner-short;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinner {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes spinner-short {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
.box-loading {
  text-align: center;
  background-color: var(--regular-bg-color);
  padding: var(--spacing-4);
}

/* -------- media --- */
video.responsive,
img.responsive {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: text-top;
}

.video-player {
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  position: relative;
}
.video-player iframe,
.video-player object,
.video-player embed,
.video-player video {
  border: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

/* --- notify --- */
.notify-box {
  position: relative;
  z-index: var(--zindex-toast);
}
.notify-box > span {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
}
.notify-box > span > span {
  color: var(--solid-primary-font-color);
  position: absolute;
  top: -30px;
  margin: 0 var(--spacing-4);
  padding: var(--spacing-2) var(--spacing-4);
  background: rgba(var(--theme-primary-rgb-color), 0.9);
  border-radius: var(--rounded-md);
  box-shadow: var(--box-shadow-dropdown);
  animation-name: notify;
  animation-duration: 0.5s;
}

@keyframes notify {
  from {
    opacity: 0;
    top: -70px;
  }
  to {
    opacity: 1;
    top: -30px;
  }
}
@media (min-width: 770px) {
  .notify-box > span > span {
    max-width: 80%;
  }
}
@media (min-width: 990px) {
  .notify-box > span > span {
    max-width: 60%;
  }
}
/* -------- panel --- */
.panel {
  background-color: var(--theme-surface-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-radius: var(--rounded-md);
  box-shadow: var(--box-shadow-template);
  position: relative;
}
.panel-header {
  padding: var(--spacing-4);
  border-bottom-width: var(--border-width);
  border-bottom-style: var(--border-style);
}
.panel-header h1,
.panel-header h2,
.panel-header h3,
.panel-header h4,
.panel-header h5 {
  margin: 0;
}
.panel-body {
  padding: var(--spacing-4);
  overflow-x: auto;
}
.panel-body .panel-stat-value {
  font-size: var(--font-size-2xl);
}
.panel-footer {
  padding: var(--spacing-4);
  border-top-width: var(--border-width);
  border-top-style: var(--border-style);
}

/* -------- spacing --- */
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.mt-0 {
  margin-top: 0;
}

.pt-0 {
  padding-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.pr-0 {
  padding-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.pl-0 {
  padding-left: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.m-1 {
  margin: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.m-2 {
  margin: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.m-4 {
  margin: 1rem;
}

.p-4 {
  padding: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.m-6 {
  margin: 1.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.m-8 {
  margin: 2rem;
}

.p-8 {
  padding: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

/* -------- sizing --- */
/* -------- system --- */
.float-right {
  float: right;
}
.float-left {
  float: left;
}

.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-move {
  cursor: move;
}

.list-none {
  list-style: none;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@media (max-width: 990px) {
  .visually-responsive-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}
.only-to-print {
  display: none;
}

@media print {
  .only-to-print {
    display: block;
  }
  .do-not-print {
    display: none;
  }
}
.only-on-small-screen {
  display: none;
}

@media (max-width: 600px) {
  .only-on-small-screen {
    display: inherit;
  }
  .only-on-large-screen {
    display: none;
  }
}
.only-on-light:not(.mode-light .only-on-light) {
  display: none;
}

.only-on-dark:not(.mode-dark .only-on-dark) {
  display: none;
}

.only-on-auto:not(.mode-auto .only-on-auto) {
  display: none;
}

/* --- overflow --- */
.overflow-auto {
  overflow: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-clip {
  overflow: clip;
}

.overflow-x-clip {
  overflow-x: clip;
}

.overflow-y-clip {
  overflow-y: clip;
}

/* -------- table --- */
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  cursor: default;
}
.table thead {
  border-bottom-width: var(--border-width);
  border-bottom-style: var(--border-style);
  border-bottom-color: var(--regular-border-color);
}
.table th {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}
.table th,
.table td {
  padding: var(--spacing-2);
  vertical-align: baseline;
}
.table.table-auto {
  width: initial;
}
.table .table-auto {
  width: 0;
}
.table.table-striped > tbody > tr:nth-child(even) {
  background: var(--regular-bg-color);
}
.table.table-highlight > tbody > tr:hover > td {
  background: var(--regular-active-bg-color);
}
.table.table-bordered {
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--regular-border-color);
}
.table.table-bordered th,
.table.table-bordered td {
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--regular-border-color);
}
.table.table-condensed th, .table.table-condensed td {
  padding-top: 0;
  padding-bottom: 0;
}
.table.table-fixed {
  table-layout: fixed;
}
.table tbody > tr.active td {
  background: var(--regular-primary-bg-color) !important;
}
.table .table-linked a,
.table a.table-linked {
  color: var(--regular-font-color) !important;
  text-decoration: none !important;
}
.table .table-linked a:hover,
.table a.table-linked:hover {
  border-bottom: 1px dotted var(--regular-font-color) !important;
}
.table td.table-subtle-color, .table td.table-subtle-color a,
.table td .table-subtle-color,
.table td .table-subtle-color a {
  color: var(--regular-subtle-font-color) !important;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* -------- text --- */
.text-underline {
  text-decoration: underline !important;
}

.text-line-through {
  text-decoration: line-through !important;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

/* -------- tiles --- */
.tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: var(--spacing-4);
}
.tiles > div {
  min-width: 100px;
  min-height: 100px;
  background-color: var(--regular-bg-color);
  border-radius: var(--rounded-md);
  display: flex;
  flex-direction: column;
}
.tiles > div:hover {
  transform: scale(1.04);
}
.tiles > div > a {
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tiles .tile-content {
  margin: auto 0;
  padding: 0.25rem;
  text-align: center;
}
.tiles .tile-wrapper {
  padding: 0 1.75rem;
  display: inline-block;
  position: relative;
}
.tiles .tile-icon {
  font-size: 1.5rem;
}
.tiles .tile-caption {
  color: var(--regular-font-color);
  font-weight: bold;
  font-size: var(--font-size-sm);
}
.tiles .tile-badge {
  position: absolute;
  inset: auto 0 -0.25rem auto;
}
.tiles.tiles-medium > div {
  min-width: 140px;
  min-height: 140px;
}
.tiles.tiles-medium > div .tile-icon {
  font-size: 2.5rem;
}
.tiles.tiles-medium > div .tile-caption {
  font-size: var(--font-size-base);
}
.tiles.tiles-large > div {
  min-width: 180px;
  min-height: 180px;
}
.tiles.tiles-large > div .tile-icon {
  font-size: 3rem;
}
.tiles.tiles-large > div .tile-caption {
  font-size: var(--font-size-lg);
}
.tiles-fieldset {
  margin: 0;
  margin-bottom: var(--spacing-4);
  background-color: var(--theme-surface-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--regular-border-color);
  border-radius: var(--rounded-md);
  box-shadow: var(--box-shadow-template);
}
.tiles-fieldset > legend {
  color: var(--regular-font-color);
}
.tiles-fieldset .tiles {
  margin-bottom: 0;
}

/* -------- toasts --- */
.toast-container {
  width: 350px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: var(--zindex-toast);
}

.toast {
  box-shadow: var(--box-shadow-dropdown);
  border-radius: var(--rounded-md);
  display: flex;
}
.toast > div {
  padding: 0.5rem 0.75rem;
}
.toast-body {
  flex: auto;
}
.toast-close {
  flex: none !important;
}
.toast-close i {
  cursor: pointer;
}
.toast ~ .toast {
  margin-top: var(--spacing-4);
}

/* --- tooltip --- */
.tooltip {
  color: var(--solid-font-color);
  padding: 0 10px;
  background-color: var(--solid-active-bg-color);
  border-radius: var(--rounded-md);
  position: absolute;
  top: -2000px;
  left: -2000px;
  z-index: var(--zindex-tooltip);
  visibility: hidden;
  transition: opacity 300ms;
  opacity: 0;
}
.tooltip:before {
  content: "";
  width: 0;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 5px);
  border-width: 5px 5px 0;
  border-style: solid;
  border-color: var(--solid-active-bg-color) transparent;
  display: block;
}
.tooltip.bottom:before {
  bottom: auto;
  top: -5px;
  border-width: 0px 5px 5px;
}
.tooltip.right:before {
  bottom: calc(50% - 5px);
  left: -5px;
  border-width: 5px 5px 5px 0px;
  border-color: transparent var(--solid-active-bg-color);
}
.tooltip.left:before {
  bottom: calc(50% - 5px);
  left: auto;
  right: -5px;
  border-width: 5px 0px 5px 5px;
  border-color: transparent var(--solid-active-bg-color);
}
.tooltip.show {
  visibility: visible;
  display: block;
  opacity: 1;
}

/* --- colors --- */
.badge,
a.badge {
  color: var(--solid-font-color);
  background-color: var(--solid-bg-color);
  border-color: var(--solid-bg-color);
}

.badge.badge-regular,
a.badge.badge-regular {
  color: var(--regular-font-color);
  background-color: var(--regular-bg-color);
  border-color: var(--regular-border-color);
}

.dialog {
  color: var(--regular-font-color);
  background-color: var(--regular-bg-color);
  border-color: var(--regular-border-color);
}

.panel {
  border-color: var(--regular-border-color);
}
.panel .panel-header,
.panel .panel-footer {
  border-color: var(--regular-border-color);
}
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6 {
  color: var(--regular-heading-color);
}

.panel.panel-regular {
  color: var(--regular-font-color);
  background-color: var(--regular-bg-color);
}
.panel.panel-regular .color-subtle {
  color: var(--regular-subtle-font-color);
}

.panel.panel-solid {
  color: var(--solid-font-color);
  background-color: var(--solid-bg-color);
  border-color: var(--solid-border-color);
}
.panel.panel-solid .panel-header,
.panel.panel-solid .panel-footer {
  border-color: var(--solid-border-color);
}
.panel.panel-solid h1,
.panel.panel-solid h2,
.panel.panel-solid h3,
.panel.panel-solid h4,
.panel.panel-solid h5,
.panel.panel-solid h6 {
  color: var(--solid-heading-color);
}
.panel.panel-solid .color-subtle {
  color: var(--solid-subtle-font-color);
}

.toast {
  color: var(--solid-font-color);
  background-color: var(--solid-bg-color);
}

.badge-primary,
a.badge-primary {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
  border-color: var(--solid-primary-bg-color);
}

.badge-primary.badge-regular,
a.badge-primary.badge-regular {
  color: var(--regular-primary-font-color);
  background-color: var(--regular-primary-bg-color);
  border-color: var(--regular-primary-border-color);
}

.dialog-primary {
  color: var(--regular-primary-font-color);
  background-color: var(--regular-primary-bg-color);
  border-color: var(--regular-primary-border-color);
}

.panel-primary {
  border-color: var(--regular-primary-border-color);
}
.panel-primary .panel-header,
.panel-primary .panel-footer {
  border-color: var(--regular-primary-border-color);
}
.panel-primary h1,
.panel-primary h2,
.panel-primary h3,
.panel-primary h4,
.panel-primary h5,
.panel-primary h6 {
  color: var(--regular-primary-heading-color);
}

.panel-primary.panel-regular {
  color: var(--regular-primary-font-color);
  background-color: var(--regular-primary-bg-color);
}
.panel-primary.panel-regular .color-subtle {
  color: var(--regular-primary-subtle-font-color);
}

.panel-primary.panel-solid {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
  border-color: var(--solid-primary-border-color);
}
.panel-primary.panel-solid .panel-header,
.panel-primary.panel-solid .panel-footer {
  border-color: var(--solid-primary-border-color);
}
.panel-primary.panel-solid h1,
.panel-primary.panel-solid h2,
.panel-primary.panel-solid h3,
.panel-primary.panel-solid h4,
.panel-primary.panel-solid h5,
.panel-primary.panel-solid h6 {
  color: var(--solid-primary-heading-color);
}
.panel-primary.panel-solid .color-subtle {
  color: var(--solid-primary-subtle-font-color);
}

.toast-primary {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
}

.badge-secondary,
a.badge-secondary {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
  border-color: var(--solid-secondary-bg-color);
}

.badge-secondary.badge-regular,
a.badge-secondary.badge-regular {
  color: var(--regular-secondary-font-color);
  background-color: var(--regular-secondary-bg-color);
  border-color: var(--regular-secondary-border-color);
}

.dialog-secondary {
  color: var(--regular-secondary-font-color);
  background-color: var(--regular-secondary-bg-color);
  border-color: var(--regular-secondary-border-color);
}

.panel-secondary {
  border-color: var(--regular-secondary-border-color);
}
.panel-secondary .panel-header,
.panel-secondary .panel-footer {
  border-color: var(--regular-secondary-border-color);
}
.panel-secondary h1,
.panel-secondary h2,
.panel-secondary h3,
.panel-secondary h4,
.panel-secondary h5,
.panel-secondary h6 {
  color: var(--regular-secondary-heading-color);
}

.panel-secondary.panel-regular {
  color: var(--regular-secondary-font-color);
  background-color: var(--regular-secondary-bg-color);
}
.panel-secondary.panel-regular .color-subtle {
  color: var(--regular-secondary-subtle-font-color);
}

.panel-secondary.panel-solid {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
  border-color: var(--solid-secondary-border-color);
}
.panel-secondary.panel-solid .panel-header,
.panel-secondary.panel-solid .panel-footer {
  border-color: var(--solid-secondary-border-color);
}
.panel-secondary.panel-solid h1,
.panel-secondary.panel-solid h2,
.panel-secondary.panel-solid h3,
.panel-secondary.panel-solid h4,
.panel-secondary.panel-solid h5,
.panel-secondary.panel-solid h6 {
  color: var(--solid-secondary-heading-color);
}
.panel-secondary.panel-solid .color-subtle {
  color: var(--solid-secondary-subtle-font-color);
}

.toast-secondary {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
}

.badge-success,
a.badge-success {
  color: var(--solid-success-font-color);
  background-color: var(--solid-success-bg-color);
  border-color: var(--solid-success-bg-color);
}

.badge-success.badge-regular,
a.badge-success.badge-regular {
  color: var(--regular-success-font-color);
  background-color: var(--regular-success-bg-color);
  border-color: var(--regular-success-border-color);
}

.dialog-success {
  color: var(--regular-success-font-color);
  background-color: var(--regular-success-bg-color);
  border-color: var(--regular-success-border-color);
}

.panel-success {
  border-color: var(--regular-success-border-color);
}
.panel-success .panel-header,
.panel-success .panel-footer {
  border-color: var(--regular-success-border-color);
}
.panel-success h1,
.panel-success h2,
.panel-success h3,
.panel-success h4,
.panel-success h5,
.panel-success h6 {
  color: var(--regular-success-heading-color);
}

.panel-success.panel-regular {
  color: var(--regular-success-font-color);
  background-color: var(--regular-success-bg-color);
}
.panel-success.panel-regular .color-subtle {
  color: var(--regular-success-subtle-font-color);
}

.panel-success.panel-solid {
  color: var(--solid-success-font-color);
  background-color: var(--solid-success-bg-color);
  border-color: var(--solid-success-border-color);
}
.panel-success.panel-solid .panel-header,
.panel-success.panel-solid .panel-footer {
  border-color: var(--solid-success-border-color);
}
.panel-success.panel-solid h1,
.panel-success.panel-solid h2,
.panel-success.panel-solid h3,
.panel-success.panel-solid h4,
.panel-success.panel-solid h5,
.panel-success.panel-solid h6 {
  color: var(--solid-success-heading-color);
}
.panel-success.panel-solid .color-subtle {
  color: var(--solid-success-subtle-font-color);
}

.toast-success {
  color: var(--solid-success-font-color);
  background-color: var(--solid-success-bg-color);
}

.badge-info,
a.badge-info {
  color: var(--solid-info-font-color);
  background-color: var(--solid-info-bg-color);
  border-color: var(--solid-info-bg-color);
}

.badge-info.badge-regular,
a.badge-info.badge-regular {
  color: var(--regular-info-font-color);
  background-color: var(--regular-info-bg-color);
  border-color: var(--regular-info-border-color);
}

.dialog-info {
  color: var(--regular-info-font-color);
  background-color: var(--regular-info-bg-color);
  border-color: var(--regular-info-border-color);
}

.panel-info {
  border-color: var(--regular-info-border-color);
}
.panel-info .panel-header,
.panel-info .panel-footer {
  border-color: var(--regular-info-border-color);
}
.panel-info h1,
.panel-info h2,
.panel-info h3,
.panel-info h4,
.panel-info h5,
.panel-info h6 {
  color: var(--regular-info-heading-color);
}

.panel-info.panel-regular {
  color: var(--regular-info-font-color);
  background-color: var(--regular-info-bg-color);
}
.panel-info.panel-regular .color-subtle {
  color: var(--regular-info-subtle-font-color);
}

.panel-info.panel-solid {
  color: var(--solid-info-font-color);
  background-color: var(--solid-info-bg-color);
  border-color: var(--solid-info-border-color);
}
.panel-info.panel-solid .panel-header,
.panel-info.panel-solid .panel-footer {
  border-color: var(--solid-info-border-color);
}
.panel-info.panel-solid h1,
.panel-info.panel-solid h2,
.panel-info.panel-solid h3,
.panel-info.panel-solid h4,
.panel-info.panel-solid h5,
.panel-info.panel-solid h6 {
  color: var(--solid-info-heading-color);
}
.panel-info.panel-solid .color-subtle {
  color: var(--solid-info-subtle-font-color);
}

.toast-info {
  color: var(--solid-info-font-color);
  background-color: var(--solid-info-bg-color);
}

.badge-warning,
a.badge-warning {
  color: var(--solid-warning-font-color);
  background-color: var(--solid-warning-bg-color);
  border-color: var(--solid-warning-bg-color);
}

.badge-warning.badge-regular,
a.badge-warning.badge-regular {
  color: var(--regular-warning-font-color);
  background-color: var(--regular-warning-bg-color);
  border-color: var(--regular-warning-border-color);
}

.dialog-warning {
  color: var(--regular-warning-font-color);
  background-color: var(--regular-warning-bg-color);
  border-color: var(--regular-warning-border-color);
}

.panel-warning {
  border-color: var(--regular-warning-border-color);
}
.panel-warning .panel-header,
.panel-warning .panel-footer {
  border-color: var(--regular-warning-border-color);
}
.panel-warning h1,
.panel-warning h2,
.panel-warning h3,
.panel-warning h4,
.panel-warning h5,
.panel-warning h6 {
  color: var(--regular-warning-heading-color);
}

.panel-warning.panel-regular {
  color: var(--regular-warning-font-color);
  background-color: var(--regular-warning-bg-color);
}
.panel-warning.panel-regular .color-subtle {
  color: var(--regular-warning-subtle-font-color);
}

.panel-warning.panel-solid {
  color: var(--solid-warning-font-color);
  background-color: var(--solid-warning-bg-color);
  border-color: var(--solid-warning-border-color);
}
.panel-warning.panel-solid .panel-header,
.panel-warning.panel-solid .panel-footer {
  border-color: var(--solid-warning-border-color);
}
.panel-warning.panel-solid h1,
.panel-warning.panel-solid h2,
.panel-warning.panel-solid h3,
.panel-warning.panel-solid h4,
.panel-warning.panel-solid h5,
.panel-warning.panel-solid h6 {
  color: var(--solid-warning-heading-color);
}
.panel-warning.panel-solid .color-subtle {
  color: var(--solid-warning-subtle-font-color);
}

.toast-warning {
  color: var(--solid-warning-font-color);
  background-color: var(--solid-warning-bg-color);
}

.badge-danger,
a.badge-danger {
  color: var(--solid-danger-font-color);
  background-color: var(--solid-danger-bg-color);
  border-color: var(--solid-danger-bg-color);
}

.badge-danger.badge-regular,
a.badge-danger.badge-regular {
  color: var(--regular-danger-font-color);
  background-color: var(--regular-danger-bg-color);
  border-color: var(--regular-danger-border-color);
}

.dialog-danger {
  color: var(--regular-danger-font-color);
  background-color: var(--regular-danger-bg-color);
  border-color: var(--regular-danger-border-color);
}

.panel-danger {
  border-color: var(--regular-danger-border-color);
}
.panel-danger .panel-header,
.panel-danger .panel-footer {
  border-color: var(--regular-danger-border-color);
}
.panel-danger h1,
.panel-danger h2,
.panel-danger h3,
.panel-danger h4,
.panel-danger h5,
.panel-danger h6 {
  color: var(--regular-danger-heading-color);
}

.panel-danger.panel-regular {
  color: var(--regular-danger-font-color);
  background-color: var(--regular-danger-bg-color);
}
.panel-danger.panel-regular .color-subtle {
  color: var(--regular-danger-subtle-font-color);
}

.panel-danger.panel-solid {
  color: var(--solid-danger-font-color);
  background-color: var(--solid-danger-bg-color);
  border-color: var(--solid-danger-border-color);
}
.panel-danger.panel-solid .panel-header,
.panel-danger.panel-solid .panel-footer {
  border-color: var(--solid-danger-border-color);
}
.panel-danger.panel-solid h1,
.panel-danger.panel-solid h2,
.panel-danger.panel-solid h3,
.panel-danger.panel-solid h4,
.panel-danger.panel-solid h5,
.panel-danger.panel-solid h6 {
  color: var(--solid-danger-heading-color);
}
.panel-danger.panel-solid .color-subtle {
  color: var(--solid-danger-subtle-font-color);
}

.toast-danger {
  color: var(--solid-danger-font-color);
  background-color: var(--solid-danger-bg-color);
}

.outline-none.panel {
  border-color: transparent;
}

.color-blue,
a.color-blue {
  color: #305cde;
}

.bg-blue {
  background-color: #305cde;
}

.color-indigo,
a.color-indigo {
  color: #560591;
}

.bg-indigo {
  background-color: #560591;
}

.color-cyan,
a.color-cyan {
  color: #1bb3b3;
}

.bg-cyan {
  background-color: #1bb3b3;
}

.color-yellow,
a.color-yellow {
  color: #f3b600;
}

.bg-yellow {
  background-color: #f3b600;
}

.color-green,
a.color-green {
  color: #0c7e28;
}

.bg-green {
  background-color: #0c7e28;
}

.color-teal,
a.color-teal {
  color: #00897b;
}

.bg-teal {
  background-color: #00897b;
}

.color-orange,
a.color-orange {
  color: #fd7e24;
}

.bg-orange {
  background-color: #fd7e24;
}

.color-red,
a.color-red {
  color: #c22731;
}

.bg-red {
  background-color: #c22731;
}

.color-pink,
a.color-pink {
  color: #ff5c77;
}

.bg-pink {
  background-color: #ff5c77;
}

.color-purple,
a.color-purple {
  color: #9d00ff;
}

.bg-purple {
  background-color: #9d00ff;
}

.color-default,
a.color-default {
  color: var(--regular-font-color);
}

.color-subtle-default {
  color: var(--regular-subtle-font-color);
}
.color-subtle-default.color-solid {
  color: var(--solid-subtle-font-color);
}

.box-default {
  color: var(--regular-font-color);
  background-color: var(--regular-bg-color);
  border-color: var(--regular-border-color);
}
.box-default .color-subtle {
  color: var(--regular-subtle-font-color);
}

.box-default.box-solid {
  color: var(--solid-font-color);
  background-color: var(--solid-bg-color);
  border-color: var(--solid-border-color);
}
.box-default.box-solid .color-subtle {
  color: var(--solid-subtle-font-color);
}

.color-primary,
a.color-primary {
  color: var(--theme-primary-color);
}

.color-subtle-primary {
  color: var(--regular-primary-subtle-font-color);
}
.color-subtle-primary.color-solid {
  color: var(--solid-primary-subtle-font-color);
}

.box-primary {
  color: var(--regular-primary-font-color);
  background-color: var(--regular-primary-bg-color);
  border-color: var(--regular-primary-border-color);
}
.box-primary .color-subtle {
  color: var(--regular-primary-subtle-font-color);
}

.box-primary.box-solid {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
  border-color: var(--solid-primary-border-color);
}
.box-primary.box-solid .color-subtle {
  color: var(--solid-primary-subtle-font-color);
}

.color-secondary,
a.color-secondary {
  color: var(--theme-secondary-color);
}

.color-subtle-secondary {
  color: var(--regular-secondary-subtle-font-color);
}
.color-subtle-secondary.color-solid {
  color: var(--solid-secondary-subtle-font-color);
}

.box-secondary {
  color: var(--regular-secondary-font-color);
  background-color: var(--regular-secondary-bg-color);
  border-color: var(--regular-secondary-border-color);
}
.box-secondary .color-subtle {
  color: var(--regular-secondary-subtle-font-color);
}

.box-secondary.box-solid {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
  border-color: var(--solid-secondary-border-color);
}
.box-secondary.box-solid .color-subtle {
  color: var(--solid-secondary-subtle-font-color);
}

.color-success,
a.color-success {
  color: var(--theme-success-color);
}

.color-subtle-success {
  color: var(--regular-success-subtle-font-color);
}
.color-subtle-success.color-solid {
  color: var(--solid-success-subtle-font-color);
}

.box-success {
  color: var(--regular-success-font-color);
  background-color: var(--regular-success-bg-color);
  border-color: var(--regular-success-border-color);
}
.box-success .color-subtle {
  color: var(--regular-success-subtle-font-color);
}

.box-success.box-solid {
  color: var(--solid-success-font-color);
  background-color: var(--solid-success-bg-color);
  border-color: var(--solid-success-border-color);
}
.box-success.box-solid .color-subtle {
  color: var(--solid-success-subtle-font-color);
}

.color-info,
a.color-info {
  color: var(--theme-info-color);
}

.color-subtle-info {
  color: var(--regular-info-subtle-font-color);
}
.color-subtle-info.color-solid {
  color: var(--solid-info-subtle-font-color);
}

.box-info {
  color: var(--regular-info-font-color);
  background-color: var(--regular-info-bg-color);
  border-color: var(--regular-info-border-color);
}
.box-info .color-subtle {
  color: var(--regular-info-subtle-font-color);
}

.box-info.box-solid {
  color: var(--solid-info-font-color);
  background-color: var(--solid-info-bg-color);
  border-color: var(--solid-info-border-color);
}
.box-info.box-solid .color-subtle {
  color: var(--solid-info-subtle-font-color);
}

.color-warning,
a.color-warning {
  color: var(--theme-warning-color);
}

.color-subtle-warning {
  color: var(--regular-warning-subtle-font-color);
}
.color-subtle-warning.color-solid {
  color: var(--solid-warning-subtle-font-color);
}

.box-warning {
  color: var(--regular-warning-font-color);
  background-color: var(--regular-warning-bg-color);
  border-color: var(--regular-warning-border-color);
}
.box-warning .color-subtle {
  color: var(--regular-warning-subtle-font-color);
}

.box-warning.box-solid {
  color: var(--solid-warning-font-color);
  background-color: var(--solid-warning-bg-color);
  border-color: var(--solid-warning-border-color);
}
.box-warning.box-solid .color-subtle {
  color: var(--solid-warning-subtle-font-color);
}

.color-danger,
a.color-danger {
  color: var(--theme-danger-color);
}

.color-subtle-danger {
  color: var(--regular-danger-subtle-font-color);
}
.color-subtle-danger.color-solid {
  color: var(--solid-danger-subtle-font-color);
}

.box-danger {
  color: var(--regular-danger-font-color);
  background-color: var(--regular-danger-bg-color);
  border-color: var(--regular-danger-border-color);
}
.box-danger .color-subtle {
  color: var(--regular-danger-subtle-font-color);
}

.box-danger.box-solid {
  color: var(--solid-danger-font-color);
  background-color: var(--solid-danger-bg-color);
  border-color: var(--solid-danger-border-color);
}
.box-danger.box-solid .color-subtle {
  color: var(--solid-danger-subtle-font-color);
}

.color-subtle {
  color: var(--regular-subtle-font-color);
}
.color-subtle.color-solid {
  color: var(--solid-subtle-font-color);
}