/* --- Frontlist Comments -------------------------------- */
.fl-comments .list-row {
  margin-bottom: var(--spacing-4);
}
.fl-comments .list-row.response {
  padding-left: var(--spacing-4);
  border-left: 3px solid var(--regular-border-color);
}
.fl-comments .header,
.fl-comments .message {
  margin-bottom: var(--spacing-1);
}
.fl-comments .author {
  font-weight: bold;
}
.fl-comments .date {
  color: var(--regular-subtle-font-color);
}
.fl-comments .to {
  color: var(--regular-subtle-font-color);
}
.fl-comments .to:hover {
  color: var(--regular-subtle-font-color);
}
.fl-comments .options {
  font-size: var(--font-size-sm);
}
.fl-comments .options a {
  color: var(--regular-subtle-font-color);
  margin: 0 5px;
  padding: 0 3px;
}
.fl-comments .options a:hover {
  color: var(--regular-primary-surface-color);
}
.fl-comments .options .votes {
  font-weight: bold;
  display: inline;
  margin-left: 5px;
}