/* --- Frontlist ------------------------------- */
.frontlist article {
  grid-template-columns: min-content auto min-content;
  border-bottom-width: var(--border-width);
  border-bottom-style: var(--border-style);
  border-bottom-color: var(--regular-border-color);
}
.frontlist article > div {
  padding-bottom: 1px;
}
.frontlist article .article-media {
  width: 160px;
}
.frontlist article .article-media img {
  display: block;
  width: 100%;
}
.frontlist article .article-container h3 {
  font-size: var(--font-size-lg);
  margin: 0;
}
.frontlist article .article-container h3 a {
  color: var(--regular-font-color);
  text-decoration: none;
}
.frontlist .article-author,
.frontlist .article-date {
  font-size: var(--font-size-sm);
  color: var(--regular-subtle-font-color);
}
.frontlist .article-desc {
  color: var(--regular-subtle-font-color);
  padding-bottom: var(--spacing-2);
}
.frontlist .article-footer {
  padding-bottom: var(--spacing-2);
}