/* --- Frontlist - three -------------------------------- */
.frontlist-three article {
  border-radius: var(--rounded-md);
  box-shadow: var(--box-shadow-sm);
  position: relative;
  overflow: hidden;
}
.frontlist-three article .article-media {
  position: relative;
  overflow: hidden;
}
.frontlist-three article .article-media img {
  width: 100%;
  display: block;
}
.frontlist-three article .article-container {
  padding: var(--spacing-3);
}
.frontlist-three article h3 {
  font-size: var(--font-size-lg);
  margin: 0;
}
.frontlist-three article h3 a {
  color: var(--regular-font-color);
  text-decoration: none;
}
.frontlist-three article .article-author,
.frontlist-three article .article-date {
  color: var(--regular-subtle-font-color);
  font-size: var(--font-size-sm);
}
.frontlist-three article .article-desc {
  color: #fff;
  background-color: var(--overlay-color-1);
  padding: var(--spacing-3);
  position: absolute;
  inset: auto 0 0;
  transition: all 0.5s ease;
  transform: translateY(100%);
}
.frontlist-three article:hover {
  box-shadow: var(--box-shadow-lg) !important;
}
.frontlist-three article:hover .article-desc {
  transform: translateY(0%);
}
.frontlist-three article .article-button {
  text-align: center;
}