/* --- Frontlist Two -------------------------------- */
.frontlist-two article .article-wrapper {
  grid-template-columns: 140px auto;
  background-color: var(--regular-bg-color);
  overflow: hidden;
}
.frontlist-two article .article-wrapper > div {
  padding: var(--spacing-2);
  position: relative;
  overflow: hidden;
}
.frontlist-two article .article-wrapper > div ~ div {
  padding-left: 0;
}
.frontlist-two article .article-wrapper h3 {
  font-size: var(--font-size-lg);
  margin: 0;
}
.frontlist-two article .article-wrapper h3 a {
  color: var(--regular-font-color);
  text-decoration: none;
}
.frontlist-two article .article-media {
  position: relative;
}
.frontlist-two article .article-media img {
  display: block;
  width: 100%;
}
.frontlist-two article .article-author,
.frontlist-two article .article-date {
  color: var(--regular-subtle-font-color);
  font-size: var(--font-size-sm);
}
.frontlist-two article .article-description {
  color: var(--regular-subtle-font-color);
}
.frontlist-two article .article-button {
  text-align: right;
}
.frontlist-two article .article-labels {
  background-color: var(--regular-bg-color);
  color: var(--regular-subtle-font-color);
  font-size: var(--font-size-sm);
}
.frontlist-two article .article-footer {
  margin-top: 2px;
  background-color: var(--regular-bg-color);
  padding: var(--spacing-2);
}