/* --- Filters ---------------------------------------------- */
.frontlist-filters {
  text-align: right;
  background: var(--regular-bg-color);
  margin-bottom: var(--spacing-4);
  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--rounded-md);
  position: relative;
}
.frontlist-filters form > div {
  display: inline-block;
  gap: var(--spacing-4);
  flex-wrap: wrap;
}
.frontlist-filters input.btn[name=search] {
  width: 150px;
}