/* --- Frontlist box ------------------------------- */
.frontlist-box .empty-list {
  color: var(--regular-subtle-font-color);
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  width: 10rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border: 1px solid var(--regular-border-color);
  border-radius: 0.375rem;
}
.frontlist-box .fl-pagination {
  margin: 1rem 0;
  text-align: center;
}

.frontlist-actions {
  margin-bottom: 1rem;
}