/* --- Filters ---------------------------------------------- */
.frontlist-filters {
  text-align: right;
  background: var(--regular-bg-color);
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  position: relative;
}
.frontlist-filters form > div {
  display: inline-block;
  gap: 1rem;
  flex-wrap: wrap;
}
.frontlist-filters input.btn[name=search] {
  width: 150px;
}