/* --- Pagination -------------------------------- */
.fl-comments-pagination {
  background: var(--regular-bg-color);
  margin-bottom: var(--spacing-4);
  padding: var(--spacing-4);
}
.fl-comments-pagination a,
.fl-comments-pagination span {
  padding: 0 var(--spacing-2);
}