@charset "UTF-8";
// variables
@import "partials/variables";
@import "partials/root";

// partials
@import "partials/reboot";
@import "partials/tipography";

@import "partials/badge";
@import "partials/borders";
@import "partials/dialog";
@import "partials/flex";
@import "partials/grid";
@import "partials/lightbox";
@import "partials/loading";
@import "partials/media";
@import "partials/notify";
@import "partials/panel";
@import "partials/spacing";
@import "partials/sizing";
@import "partials/system";
@import "partials/table";
@import "partials/text";
@import "partials/tiles";
@import "partials/toasts";
@import "partials/tooltip";
//
@import "partials/colors";
