/* --- webstore --------------------------------------- */
.ws-title {
    font-weight: bold;
    text-decoration: none;
    margin: 0;
}

.ws-details {
    color: var(--regular-subtle-font-color);
}

.ws-image {
    min-width: 100px;
}
