@charset "UTF-8";
/* --- slideshow --------------------------------------------------------- */
.slideshow {
  color: #fff;
  font-size: 0.8em;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: #222;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* arrows */
  /* nav */
  /* text */
}
.slideshow ul {
  text-align: center;
  margin: 0 auto;
  display: table;
  border-collapse: collapse;
  list-style: none;
}
.slideshow ul li {
  display: table-cell;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.slideshow ul li img {
  width: 100%;
  display: block;
}
.slideshow.slide > ul {
  transition: margin-left 0.8s;
}
.slideshow.fade > ul li.disabled {
  opacity: 0;
}
.slideshow.fade > ul li.enabled {
  opacity: 1;
  transition: all 0.8s;
}
.slideshow > ul li, .slideshow.fade {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.slideshow:before,
.slideshow > ul > li:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}
.slideshow .ss-prev,
.slideshow .ss-next {
  font-size: 1.5em;
  line-height: 3em;
  text-align: center;
  background: rgba(155, 155, 155, 0.16);
  position: absolute;
  top: 45%;
  width: 3em;
  height: 3em;
  border-radius: var(--rounded-full);
  cursor: pointer;
}
.slideshow .ss-prev:hover,
.slideshow .ss-next:hover {
  opacity: 1;
}
.slideshow .ss-prev {
  left: 5%;
}
.slideshow .ss-prev span:before {
  content: "❬";
}
.slideshow .ss-next {
  right: 5%;
}
.slideshow .ss-next span:before {
  content: "❭";
}
.slideshow .ss-nav {
  position: absolute;
  width: 100%;
  bottom: 10%;
  z-index: 1;
}
.slideshow .ss-nav ul li {
  cursor: pointer;
}
.slideshow .ss-nav ul li div {
  width: 0.75em;
  height: 0.75em;
  margin: 0.375em;
  border: 2px solid #fff;
  border-radius: var(--rounded-full);
  opacity: 0.8;
}
.slideshow .ss-nav ul li.selected div {
  background: #fff;
}
.slideshow .ss-fixed {
  position: absolute;
  top: 25%;
  text-align: center;
  width: 100%;
}
.slideshow .ss-fixed h2 {
  color: #fff;
}
.slideshow .ss-text {
  text-align: center;
  visibility: hidden;
  position: absolute;
  top: 35%;
  left: 20%;
  right: 20%;
  opacity: 0;
  transition: all 1s;
}
.slideshow > ul > li.enabled .ss-text {
  visibility: visible;
  opacity: 0.9;
  left: 20%;
  transition: all 1s;
  transition-delay: 0.8s;
}
.slideshow .ss-title {
  font-size: 2.4em;
  font-weight: bold;
  text-transform: uppercase;
}
.slideshow .ss-content {
  font-size: 1.2em;
}

/* responsive */
@media (min-width: 768px) {
  .slideshow {
    font-size: 0.8em;
  }
}
@media (min-width: 992px) {
  .slideshow {
    font-size: 1em;
  }
}
@media (min-width: 1200px) {
  .slideshow {
    font-size: 1.2em;
  }
}