// Variables
$modal-box-shadow: var(--box-shadow-dropdown) !default;
$modal-overlay-bg-color: var(--overlay-color-1) !default;

$modal-small-width: 380px !default;
$modal-medium-width: 600px !default;
$modal-large-width: 900px !default;
$modal-x-large-width: 1200px !default;

$modal-animation-duration: 0.4s !default;
