
// Variables
$modal-box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02) !default;
$modal-overlay-bg-color: rgba(0, 0, 0, .3) !default;

$modal-small-width: 380px !default;
$modal-medium-width: 600px !default;
$modal-large-width: 900px !default;
$modal-x-large-width: 1200px !default;

$modal-animation-duration: .4s !default;