/* --- rating ------------------------------- */
.rating {
  display: inline-block;
}
.rating span {
  margin: 0 0.3em;
}
.rating.rating-pointer i {
  cursor: pointer;
}
.rating.rating-large {
  font-size: 1.25rem;
}
.rating.rating-small {
  font-size: 0.875rem;
}
.rating.rating-default i {
  color: var(--solid-surface-color);
}
.rating.rating-primary i {
  color: var(--solid-primary-surface-color);
}
.rating.rating-secondary i {
  color: var(--solid-secondary-surface-color);
}
.rating.rating-success i {
  color: var(--solid-success-surface-color);
}
.rating.rating-info i {
  color: var(--solid-info-surface-color);
}
.rating.rating-warning i {
  color: var(--solid-warning-surface-color);
}
.rating.rating-danger i {
  color: var(--solid-danger-surface-color);
}

.rating-detail {
  --bar-height: 4px;
  max-width: 240px;
}
.rating-detail .rating-main {
  display: flex;
  align-items: center;
}
.rating-detail .rating-average {
  font-size: 3rem;
  margin-right: 15px;
}
.rating-detail ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.rating-detail ol li {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 1rem;
}
.rating-detail ol li > div:first-child {
  flex: auto;
}
.rating-detail ol li i {
  margin-left: 7px;
}
.rating-detail .measuring-bar {
  background: var(--regular-bg-color);
  height: var(--bar-height);
  border-radius: 2px;
  overflow: hidden;
}
.rating-detail .measuring-bar div {
  background: #ffc134;
  height: var(--bar-height);
}