.navbar-control > ul > li > ul {
  display: none;
}
.navbar-control > ul > li.expand > ul {
  display: block;
}

.pull-navbar {
  background: var(--solid-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  transform: translateX(-100%);
  z-index: calc(var(--zindex-pullnav) + 1);
  zoom: 1;
  overflow-y: auto;
  transition: transform 0.2s ease-out;
}

.pull-overlay {
  display: none;
  background: var(--overlay-color-1);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: var(--zindex-pullnav);
}

.pull-target {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  background: rgba(0, 0, 0, 0);
  z-index: calc(var(--zindex-pullnav) + 2);
}

.pull-on {
  position: absolute;
  width: 100%;
}
.pull-on .pull-navbar {
  transform: translateX(0%);
}
.pull-on .pull-overlay {
  display: block;
}
.pull-on .pull-target {
  left: auto;
  right: 0;
  width: calc(30% + 10px);
}

/* --- Layout ------------------------------------------------- */
html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--regular-surface-color);
}

body.fixed-header {
  border-top: calc(2 * var(--font-size-base) * var(--line-height-base) + 2rem) solid transparent;
}
body.fixed-header .tpl-header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 100;
}
body.fixed-header:not(.full-body) .accessibility-nav li {
  top: calc(-20rem - 2 * var(--font-size-base) * var(--line-height-base) + 2rem);
}

body.full-body {
  border-top: 0;
}

.tpl-header {
  transition-property: background;
  transition-duration: 0.3s;
}
.tpl-header .top-header {
  text-align: right;
  height: calc(var(--font-size-base) * var(--line-height-base));
  opacity: 1;
  transition-property: height, opacity;
  transition-duration: 0.3s;
}
.tpl-header .main-header {
  display: flex;
  gap: var(--spacing-4);
}
.tpl-header .logo {
  flex: auto;
  align-self: center;
}
.tpl-header .logo a {
  font-size: 1.625rem;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}
.tpl-header .logo a img {
  transition: transform 0.3s;
}
.tpl-header .logo a > div {
  display: inline-flex;
  gap: var(--spacing-4);
  align-items: center;
}
.tpl-header.active .logo a {
  font-size: 1.25rem;
}
.tpl-header.active .logo a img {
  transform: scale(0.75);
}
.tpl-header.active .top-header {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.tpl-title-group {
  display: flex;
}
.tpl-title-group .tpl-title {
  flex: auto;
}
.tpl-title-group .tpl-help {
  font-size: 2rem;
}

.tpl-main {
  min-height: 500px;
  padding-bottom: var(--spacing-8);
}
.tpl-main main {
  padding-bottom: var(--spacing-8);
}

.main-wrapper {
  display: flex;
  gap: var(--spacing-4);
}
.main-wrapper main {
  flex: auto;
}
.main-wrapper aside {
  flex: 0 0 25%;
}
@media (max-width: 770px) {
  .main-wrapper {
    display: block;
  }
}

.tpl-footer {
  padding: var(--spacing-12) 0 var(--spacing-8);
  border-top: 1px solid;
}

.tpl-copyright {
  padding: var(--spacing-8) 0;
  border-top: 1px solid;
}

/* Layout content */
.accessibility-nav {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.accessibility-nav li {
  position: absolute;
  top: -20rem;
  width: 100%;
  z-index: 101;
}
.accessibility-nav li a {
  background-color: rgba(var(--regular-surface-rgb-color), 0.9);
  font-weight: bold;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  right: 2px;
  left: 2px;
}
.accessibility-nav li a:focus {
  box-shadow: var(--box-shadow-dropdown);
  text-decoration: none;
  top: calc(20rem + 2px);
}

.top-header form {
  display: inline-block;
}
.top-header .th-btn {
  margin-right: -var(--border-width);
  padding: 0 var(--spacing-4);
  background: none;
  border: var(--border-width) solid;
  border-top: 0;
  border-bottom: 0;
  display: inline-block;
  position: relative;
}
.top-header .th-btn i.capital {
  font-style: normal;
  text-align: center;
  margin-right: 5px;
  border-radius: var(--rounded-full);
  display: inline-block;
  width: calc(var(--font-size-base) * var(--line-height-base));
}
.top-header .th-btn .badge {
  margin-left: calc(var(--spacing-1) * -1);
}
.top-header .btn-group + .btn-group {
  margin-left: 0;
}
.top-header .dropdown-menu ul li a {
  color: var(--regular-font-color) !important;
}

.tpl-search {
  position: absolute;
  inset: 0;
  background: var(--overlay-color-2);
  z-index: var(--zindex-lightbox);
  display: none;
  padding: 0 var(--spacing-4);
}
.tpl-search > div {
  color: var(--solid-font-color);
  font-size: var(--font-size-2xl);
  position: absolute;
  top: 5%;
  right: 5%;
}
.tpl-search form {
  max-width: 900px;
  margin: 140px auto;
}

.search-fixed {
  overflow: hidden;
}
.search-fixed .tpl-search {
  display: block;
}

.tpl-footer-widget {
  width: 25%;
}

.tpl-copyright {
  text-align: center;
}
.tpl-copyright .box {
  line-height: 1.3rem;
  display: flex;
}
.tpl-copyright .box > div {
  flex: auto;
  text-align: left;
}
.tpl-copyright .box > div:last-child {
  text-align: right;
}

@media (max-width: 600px) {
  .tpl-copyright .box {
    display: block;
  }
  .tpl-copyright .box > div {
    text-align: center !important;
  }
}
/* --- navbar ------------------------------------------------- */
.navbar {
  float: right;
}
.navbar ul,
.navbar li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  padding: 1rem 1rem;
  display: block;
  white-space: nowrap;
}
.navbar a:hover {
  text-decoration: none;
}
.navbar > ul > li > a span {
  margin-left: 10px;
}
.navbar > ul > li {
  position: relative;
}
.navbar > ul > li ul li a {
  display: block;
}
.navbar > ul > li ul li.separator {
  font-size: 1px;
  margin: 2px 0 2px 0;
  border-bottom-width: var(--border-width);
  border-bottom-style: var(--border-style);
  height: 0;
  line-height: 0;
}
.navbar > ul > li ul li ul li {
  padding-left: 0;
  padding-right: 0;
}
.navbar > ul {
  display: flex;
  flex-wrap: wrap;
}
.navbar > ul > li > ul {
  min-width: 180px;
  position: absolute;
  right: 0;
  display: none;
  z-index: var(--zindex-navbar);
}
.navbar > ul > li > ul.active {
  display: block;
}
.navbar > ul > li:hover > ul {
  display: block;
}

/* navbar-mobile */
.navbar-mobile {
  font-size: var(--font-size-lg);
  margin-top: var(--spacing-8);
}
.navbar-mobile ul,
.navbar-mobile li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar-mobile a {
  color: var(--solid-font-color);
  text-decoration: none;
  padding: var(--spacing-2) var(--spacing-4);
  display: block;
  white-space: nowrap;
}
.navbar-mobile a:hover {
  color: var(--solid-primary-surface-color);
  text-decoration: none;
}
.navbar-mobile > ul > li a:focus,
.navbar-mobile > ul > li a:hover {
  background-color: var(--solid-disabled-bg-color);
}
.navbar-mobile > ul > li > a span {
  margin-left: 10px;
}
.navbar-mobile > ul > li.selected > a {
  color: var(--solid-primary-surface-color);
  background-color: var(--solid-disabled-bg-color);
}
.navbar-mobile > ul > li.expand > a {
  background-color: var(--solid-disabled-bg-color);
}
.navbar-mobile > ul > li {
  position: relative;
}
.navbar-mobile > ul > li > ul {
  background: var(--solid-disabled-bg-color);
}
.navbar-mobile > ul > li ul li a {
  padding: 7px 14px 7px 42px;
  display: block;
}
.navbar-mobile > ul > li ul li.separator {
  font-size: 1px;
  margin: 2px 0 2px 0;
  border-bottom-width: var(--border-width);
  border-bottom-style: var(--border-style);
  height: 0;
  line-height: 0;
}
.navbar-mobile > ul > li ul li ul li {
  padding-left: 0;
  padding-right: 0;
}
.navbar-mobile > ul > li > ul {
  position: relative;
  display: none;
  z-index: var(--zindex-navbar);
}
.navbar-mobile > ul > li > ul.active {
  display: block;
}
.navbar-mobile > ul > li:hover > ul {
  display: block;
}

.pull-btn {
  font-size: 2rem;
  display: none;
}
@media (max-width: 600px) {
  .pull-btn {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .pull-btn {
    display: block;
  }
  .navbar {
    display: none;
  }
}
/* --- print ------------------------------------------------- */
@media print {
  @page {
    size: auto;
  }
  .tpl-header,
  .navbar,
  .tpl-footer,
  .tpl-copyright,
  aside {
    display: none;
  }
  body {
    border-top: 0;
    min-width: 990px !important;
  }
  .tpl-container {
    margin: 0;
    max-width: none;
  }
}