.navbar-control > ul > li > ul {
  display: none;
}
.navbar-control > ul > li.expand > ul {
  display: block;
}

.pull-navbar {
  background: #535251;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  transform: translateX(-100%);
  z-index: 2001;
  zoom: 1;
  overflow-y: auto;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.pull-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 2000;
}

.pull-target {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  background: rgba(0, 0, 0, 0);
  z-index: 2002;
}

.pull-on {
  position: absolute;
  width: 100%;
}
.pull-on .pull-navbar {
  transform: translateX(0%);
}
.pull-on .pull-overlay {
  display: block;
}
.pull-on .pull-target {
  left: auto;
  right: 0;
  width: calc(30% + 10px);
}

/* --- Layout ------------------------------------------------- */
html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--regular-surface-color);
}

body.fixed-header {
  border-top: 5rem solid transparent;
}
body.fixed-header .tpl-header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 100;
}
body.fixed-header:not(.full-body) .accessibility-nav li {
  top: -25rem;
}

body.full-body {
  border-top: 0;
}

.tpl-header {
  transition-property: background;
  transition-duration: 0.3s;
}
.tpl-header .top-header {
  text-align: right;
  height: 1.5rem;
  opacity: 1;
  transition-property: height, opacity;
  transition-duration: 0.3s;
}
.tpl-header .main-header {
  display: flex;
  gap: 1rem;
}
.tpl-header .logo {
  flex: auto;
  align-self: center;
}
.tpl-header .logo a {
  font-size: 1.625rem;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}
.tpl-header .logo a img {
  transition: transform 0.3s;
}
.tpl-header .logo a > div {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}
.tpl-header.active .logo a {
  font-size: 1.25rem;
}
.tpl-header.active .logo a img {
  transform: scale(0.75);
}
.tpl-header.active .top-header {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.tpl-title-group {
  display: flex;
}
.tpl-title-group .tpl-title {
  flex: auto;
}
.tpl-title-group .tpl-help {
  font-size: 2rem;
}

.tpl-main {
  min-height: 500px;
  padding-bottom: 2rem;
}
.tpl-main main {
  padding-bottom: 2rem;
}

.main-wrapper {
  display: flex;
  gap: 1rem;
}
.main-wrapper main {
  flex: auto;
}
.main-wrapper aside {
  flex: 0 0 25%;
}
@media (max-width: 770px) {
  .main-wrapper {
    display: block;
  }
}

.tpl-footer {
  color: var(--regular-font-color);
  background: var(--regular-bg-color);
  padding: 3rem 0 2rem;
  border-top: 1px solid;
  border-top-color: var(--regular-border-color);
}
.tpl-footer h1,
.tpl-footer h2,
.tpl-footer h3,
.tpl-footer h4,
.tpl-footer h5,
.tpl-footer h6 {
  color: var(--regular-font-color);
}

.tpl-copyright {
  color: var(--regular-font-color);
  padding: 2rem 0;
  background: var(--regular-bg-color);
  border-top: 1px solid;
  border-top-color: var(--regular-border-color);
}

/* Layout content */
.accessibility-nav {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.accessibility-nav li {
  position: absolute;
  top: -20rem;
  width: 100%;
  z-index: 101;
}
.accessibility-nav li a {
  background-color: rgba(var(--regular-surface-rgb-color), 0.9);
  font-weight: bold;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  right: 2px;
  left: 2px;
}
.accessibility-nav li a:focus {
  box-shadow: var(--shadow-01);
  text-decoration: none;
  top: calc(20rem + 2px);
}

.top-header form {
  display: inline-block;
}
.top-header .th-btn {
  margin-right: -1px;
  padding: 0 1rem;
  background: none;
  border: 1px solid;
  border-top: 0;
  border-bottom: 0;
  display: inline-block;
  position: relative;
}
.top-header .th-btn i.capital {
  font-style: normal;
  text-align: center;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
  width: 1.5rem;
}
.top-header .th-btn .badge {
  margin-left: -0.125rem;
}
.top-header .btn-group + .btn-group {
  margin-left: 0;
}
.top-header .dropdown-menu ul li a {
  color: var(--regular-font-color) !important;
}

.tpl-search {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1556;
  display: none;
}
.tpl-search > div {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 5%;
  right: 5%;
}
.tpl-search form {
  width: 80%;
  margin: 140px auto;
}

.search-fixed {
  overflow: hidden;
}
.search-fixed .tpl-search {
  display: block;
}

.tpl-footer p,
.tpl-footer a {
  line-height: 2rem;
}
.tpl-footer-widget {
  width: 25%;
}

.tpl-copyright {
  text-align: center;
}
.tpl-copyright .box {
  line-height: 1.3rem;
  display: flex;
}
.tpl-copyright .box > div {
  flex: auto;
  text-align: left;
}
.tpl-copyright .box > div:last-child {
  text-align: right;
}

@media (max-width: 600px) {
  .tpl-copyright .box {
    display: block;
  }
  .tpl-copyright .box > div {
    text-align: center !important;
  }
}
.tpl-legal {
  position: relative;
  display: none;
}
.tpl-legal.visible {
  display: block;
}
.tpl-legal > div {
  color: #fff;
  text-align: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 400px;
  position: fixed;
  bottom: 15px;
}
.tpl-legal > div p {
  font-size: 0.9em;
}

/* --- colors ------------------------------------------------- */
.tpl-header, .tpl-header button, .tpl-header a {
  color: var(--solid-bg-color);
}
.tpl-header:hover, .tpl-header:focus, .tpl-header button:hover, .tpl-header button:focus, .tpl-header a:hover, .tpl-header a:focus {
  color: var(--solid-bg-color);
}
.tpl-header i.capital {
  color: var(--solid-font-color);
  background-color: var(--solid-bg-color);
}
.tpl-header,
.tpl-header nav ul li ul {
  background-color: var(--regular-surface-color);
}
.tpl-header.active {
  background-color: rgba(var(--regular-surface-rgb-color), 0.85);
}
.tpl-header nav ul li a:hover, .tpl-header nav ul li a:focus {
  background-color: var(--regular-disabled-bg-color);
}
.tpl-header .th-btn {
  border-color: var(--regular-border-color);
}

.tpl-header.header-regular, .tpl-header.header-regular button, .tpl-header.header-regular a {
  color: var(--regular-font-color);
}
.tpl-header.header-regular:hover, .tpl-header.header-regular:focus, .tpl-header.header-regular button:hover, .tpl-header.header-regular button:focus, .tpl-header.header-regular a:hover, .tpl-header.header-regular a:focus {
  color: var(--regular-primary-surface-color);
}
.tpl-header.header-regular i.capital {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
}
.tpl-header.header-regular,
.tpl-header.header-regular nav ul li ul {
  background-color: var(--regular-bg-color);
}
.tpl-header.header-regular nav ul li a:hover, .tpl-header.header-regular nav ul li a:focus {
  background-color: var(--regular-active-bg-color);
}
.tpl-header.header-regular .th-btn {
  border-color: var(--regular-border-color);
}

.tpl-header.header-solid, .tpl-header.header-solid button, .tpl-header.header-solid a {
  color: var(--solid-font-color);
}
.tpl-header.header-solid:hover, .tpl-header.header-solid:focus, .tpl-header.header-solid button:hover, .tpl-header.header-solid button:focus, .tpl-header.header-solid a:hover, .tpl-header.header-solid a:focus {
  color: var(--solid-primary-bg-color);
}
.tpl-header.header-solid i.capital {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
}
.tpl-header.header-solid,
.tpl-header.header-solid nav ul li ul {
  background-color: var(--solid-surface-color);
}
.tpl-header.header-solid.active {
  background-color: rgba(var(--solid-surface-rgb-color), 0.85);
}
.tpl-header.header-solid nav ul li a:hover, .tpl-header.header-solid nav ul li a:focus {
  background-color: var(--solid-active-bg-color);
}
.tpl-header.header-solid .th-btn {
  border-color: var(--solid-border-color);
}

.tpl-header.header-primary, .tpl-header.header-primary button, .tpl-header.header-primary a {
  color: var(--solid-bg-color);
}
.tpl-header.header-primary:hover, .tpl-header.header-primary:focus, .tpl-header.header-primary button:hover, .tpl-header.header-primary button:focus, .tpl-header.header-primary a:hover, .tpl-header.header-primary a:focus {
  color: var(--solid-primary-bg-color);
}
.tpl-header.header-primary i.capital {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
}
.tpl-header.header-primary,
.tpl-header.header-primary nav ul li ul {
  background-color: var(--regular-surface-color);
}
.tpl-header.header-primary.active {
  background-color: rgba(var(--regular-surface-rgb-color), 0.85);
}
.tpl-header.header-primary nav ul li a:hover, .tpl-header.header-primary nav ul li a:focus {
  background-color: var(--regular-primary-disabled-bg-color);
}
.tpl-header.header-primary .th-btn {
  border-color: var(--regular-border-color);
}

.tpl-header.header-regular-primary, .tpl-header.header-regular-primary button, .tpl-header.header-regular-primary a {
  color: var(--regular-primary-font-color);
}
.tpl-header.header-regular-primary:hover, .tpl-header.header-regular-primary:focus, .tpl-header.header-regular-primary button:hover, .tpl-header.header-regular-primary button:focus, .tpl-header.header-regular-primary a:hover, .tpl-header.header-regular-primary a:focus {
  color: var(--regular-secondary-surface-color);
}
.tpl-header.header-regular-primary i.capital {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
}
.tpl-header.header-regular-primary,
.tpl-header.header-regular-primary nav ul li ul {
  background-color: var(--regular-primary-bg-color);
}
.tpl-header.header-regular-primary nav ul li a:hover, .tpl-header.header-regular-primary nav ul li a:focus {
  background-color: var(--regular-primary-active-bg-color);
}
.tpl-header.header-regular-primary .th-btn {
  border-color: var(--regular-primary-border-color);
}

.tpl-header.header-solid.header-primary, .tpl-header.header-solid.header-primary button, .tpl-header.header-solid.header-primary a {
  color: var(--solid-primary-font-color);
}
.tpl-header.header-solid.header-primary:hover, .tpl-header.header-solid.header-primary:focus, .tpl-header.header-solid.header-primary button:hover, .tpl-header.header-solid.header-primary button:focus, .tpl-header.header-solid.header-primary a:hover, .tpl-header.header-solid.header-primary a:focus {
  color: var(--solid-secondary-bg-color);
}
.tpl-header.header-solid.header-primary i.capital {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
}
.tpl-header.header-solid.header-primary,
.tpl-header.header-solid.header-primary nav ul li ul {
  background-color: var(--solid-primary-surface-color);
}
.tpl-header.header-solid.header-primary.active {
  background-color: rgba(var(--solid-primary-surface-rgb-color), 0.85);
}
.tpl-header.header-solid.header-primary nav ul li a:hover, .tpl-header.header-solid.header-primary nav ul li a:focus {
  background-color: var(--solid-primary-active-bg-color);
}
.tpl-header.header-solid.header-primary .th-btn {
  border-color: var(--solid-primary-border-color);
}

.tpl-header.header-secondary, .tpl-header.header-secondary button, .tpl-header.header-secondary a {
  color: var(--solid-bg-color);
}
.tpl-header.header-secondary:hover, .tpl-header.header-secondary:focus, .tpl-header.header-secondary button:hover, .tpl-header.header-secondary button:focus, .tpl-header.header-secondary a:hover, .tpl-header.header-secondary a:focus {
  color: var(--solid-secondary-bg-color);
}
.tpl-header.header-secondary i.capital {
  color: var(--solid-secondary-font-color);
  background-color: var(--solid-secondary-bg-color);
}
.tpl-header.header-secondary,
.tpl-header.header-secondary nav ul li ul {
  background-color: var(--regular-surface-color);
}
.tpl-header.header-secondary.active {
  background-color: rgba(var(--regular-surface-rgb-color), 0.85);
}
.tpl-header.header-secondary nav ul li a:hover, .tpl-header.header-secondary nav ul li a:focus {
  background-color: var(--regular-secondary-disabled-bg-color);
}
.tpl-header.header-secondary .th-btn {
  border-color: var(--regular-border-color);
}

.tpl-header.header-regular-secondary, .tpl-header.header-regular-secondary button, .tpl-header.header-regular-secondary a {
  color: var(--regular-secondary-font-color);
}
.tpl-header.header-regular-secondary:hover, .tpl-header.header-regular-secondary:focus, .tpl-header.header-regular-secondary button:hover, .tpl-header.header-regular-secondary button:focus, .tpl-header.header-regular-secondary a:hover, .tpl-header.header-regular-secondary a:focus {
  color: var(--regular-primary-surface-color);
}
.tpl-header.header-regular-secondary i.capital {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
}
.tpl-header.header-regular-secondary,
.tpl-header.header-regular-secondary nav ul li ul {
  background-color: var(--regular-secondary-bg-color);
}
.tpl-header.header-regular-secondary nav ul li a:hover, .tpl-header.header-regular-secondary nav ul li a:focus {
  background-color: var(--regular-secondary-active-bg-color);
}
.tpl-header.header-regular-secondary .th-btn {
  border-color: var(--regular-secondary-border-color);
}

.tpl-header.header-solid.header-secondary, .tpl-header.header-solid.header-secondary button, .tpl-header.header-solid.header-secondary a {
  color: var(--solid-secondary-font-color);
}
.tpl-header.header-solid.header-secondary:hover, .tpl-header.header-solid.header-secondary:focus, .tpl-header.header-solid.header-secondary button:hover, .tpl-header.header-solid.header-secondary button:focus, .tpl-header.header-solid.header-secondary a:hover, .tpl-header.header-solid.header-secondary a:focus {
  color: var(--solid-primary-bg-color);
}
.tpl-header.header-solid.header-secondary i.capital {
  color: var(--solid-primary-font-color);
  background-color: var(--solid-primary-bg-color);
}
.tpl-header.header-solid.header-secondary,
.tpl-header.header-solid.header-secondary nav ul li ul {
  background-color: var(--solid-secondary-surface-color);
}
.tpl-header.header-solid.header-secondary.active {
  background-color: rgba(var(--solid-secondary-surface-rgb-color), 0.85);
}
.tpl-header.header-solid.header-secondary nav ul li a:hover, .tpl-header.header-solid.header-secondary nav ul li a:focus {
  background-color: var(--solid-secondary-active-bg-color);
}
.tpl-header.header-solid.header-secondary .th-btn {
  border-color: var(--solid-secondary-border-color);
}

.tpl-header.header-success, .tpl-header.header-success button, .tpl-header.header-success a {
  color: var(--solid-bg-color);
}
.tpl-header.header-success:hover, .tpl-header.header-success:focus, .tpl-header.header-success button:hover, .tpl-header.header-success button:focus, .tpl-header.header-success a:hover, .tpl-header.header-success a:focus {
  color: var(--solid-success-bg-color);
}
.tpl-header.header-success i.capital {
  color: var(--solid-success-font-color);
  background-color: var(--solid-success-bg-color);
}
.tpl-header.header-success,
.tpl-header.header-success nav ul li ul {
  background-color: var(--regular-surface-color);
}
.tpl-header.header-success.active {
  background-color: rgba(var(--regular-surface-rgb-color), 0.85);
}
.tpl-header.header-success nav ul li a:hover, .tpl-header.header-success nav ul li a:focus {
  background-color: var(--regular-success-disabled-bg-color);
}
.tpl-header.header-success .th-btn {
  border-color: var(--regular-border-color);
}

.tpl-header.header-regular-success, .tpl-header.header-regular-success button, .tpl-header.header-regular-success a {
  color: var(--regular-success-font-color);
}
.tpl-header.header-regular-success:hover, .tpl-header.header-regular-success:focus, .tpl-header.header-regular-success button:hover, .tpl-header.header-regular-success button:focus, .tpl-header.header-regular-success a:hover, .tpl-header.header-regular-success a:focus {
  color: var(--regular-default-surface-color);
}
.tpl-header.header-regular-success i.capital {
  color: var(--solid-default-font-color);
  background-color: var(--solid-default-bg-color);
}
.tpl-header.header-regular-success,
.tpl-header.header-regular-success nav ul li ul {
  background-color: var(--regular-success-bg-color);
}
.tpl-header.header-regular-success nav ul li a:hover, .tpl-header.header-regular-success nav ul li a:focus {
  background-color: var(--regular-success-active-bg-color);
}
.tpl-header.header-regular-success .th-btn {
  border-color: var(--regular-success-border-color);
}

.tpl-header.header-solid.header-success, .tpl-header.header-solid.header-success button, .tpl-header.header-solid.header-success a {
  color: var(--solid-success-font-color);
}
.tpl-header.header-solid.header-success:hover, .tpl-header.header-solid.header-success:focus, .tpl-header.header-solid.header-success button:hover, .tpl-header.header-solid.header-success button:focus, .tpl-header.header-solid.header-success a:hover, .tpl-header.header-solid.header-success a:focus {
  color: var(--solid-default-bg-color);
}
.tpl-header.header-solid.header-success i.capital {
  color: var(--solid-default-font-color);
  background-color: var(--solid-default-bg-color);
}
.tpl-header.header-solid.header-success,
.tpl-header.header-solid.header-success nav ul li ul {
  background-color: var(--solid-success-surface-color);
}
.tpl-header.header-solid.header-success.active {
  background-color: rgba(var(--solid-success-surface-rgb-color), 0.85);
}
.tpl-header.header-solid.header-success nav ul li a:hover, .tpl-header.header-solid.header-success nav ul li a:focus {
  background-color: var(--solid-success-active-bg-color);
}
.tpl-header.header-solid.header-success .th-btn {
  border-color: var(--solid-success-border-color);
}

.tpl-header.header-info, .tpl-header.header-info button, .tpl-header.header-info a {
  color: var(--solid-bg-color);
}
.tpl-header.header-info:hover, .tpl-header.header-info:focus, .tpl-header.header-info button:hover, .tpl-header.header-info button:focus, .tpl-header.header-info a:hover, .tpl-header.header-info a:focus {
  color: var(--solid-info-bg-color);
}
.tpl-header.header-info i.capital {
  color: var(--solid-info-font-color);
  background-color: var(--solid-info-bg-color);
}
.tpl-header.header-info,
.tpl-header.header-info nav ul li ul {
  background-color: var(--regular-surface-color);
}
.tpl-header.header-info.active {
  background-color: rgba(var(--regular-surface-rgb-color), 0.85);
}
.tpl-header.header-info nav ul li a:hover, .tpl-header.header-info nav ul li a:focus {
  background-color: var(--regular-info-disabled-bg-color);
}
.tpl-header.header-info .th-btn {
  border-color: var(--regular-border-color);
}

.tpl-header.header-regular-info, .tpl-header.header-regular-info button, .tpl-header.header-regular-info a {
  color: var(--regular-info-font-color);
}
.tpl-header.header-regular-info:hover, .tpl-header.header-regular-info:focus, .tpl-header.header-regular-info button:hover, .tpl-header.header-regular-info button:focus, .tpl-header.header-regular-info a:hover, .tpl-header.header-regular-info a:focus {
  color: var(--regular-default-surface-color);
}
.tpl-header.header-regular-info i.capital {
  color: var(--solid-default-font-color);
  background-color: var(--solid-default-bg-color);
}
.tpl-header.header-regular-info,
.tpl-header.header-regular-info nav ul li ul {
  background-color: var(--regular-info-bg-color);
}
.tpl-header.header-regular-info nav ul li a:hover, .tpl-header.header-regular-info nav ul li a:focus {
  background-color: var(--regular-info-active-bg-color);
}
.tpl-header.header-regular-info .th-btn {
  border-color: var(--regular-info-border-color);
}

.tpl-header.header-solid.header-info, .tpl-header.header-solid.header-info button, .tpl-header.header-solid.header-info a {
  color: var(--solid-info-font-color);
}
.tpl-header.header-solid.header-info:hover, .tpl-header.header-solid.header-info:focus, .tpl-header.header-solid.header-info button:hover, .tpl-header.header-solid.header-info button:focus, .tpl-header.header-solid.header-info a:hover, .tpl-header.header-solid.header-info a:focus {
  color: var(--solid-default-bg-color);
}
.tpl-header.header-solid.header-info i.capital {
  color: var(--solid-default-font-color);
  background-color: var(--solid-default-bg-color);
}
.tpl-header.header-solid.header-info,
.tpl-header.header-solid.header-info nav ul li ul {
  background-color: var(--solid-info-surface-color);
}
.tpl-header.header-solid.header-info.active {
  background-color: rgba(var(--solid-info-surface-rgb-color), 0.85);
}
.tpl-header.header-solid.header-info nav ul li a:hover, .tpl-header.header-solid.header-info nav ul li a:focus {
  background-color: var(--solid-info-active-bg-color);
}
.tpl-header.header-solid.header-info .th-btn {
  border-color: var(--solid-info-border-color);
}

.tpl-header.header-warning, .tpl-header.header-warning button, .tpl-header.header-warning a {
  color: var(--solid-bg-color);
}
.tpl-header.header-warning:hover, .tpl-header.header-warning:focus, .tpl-header.header-warning button:hover, .tpl-header.header-warning button:focus, .tpl-header.header-warning a:hover, .tpl-header.header-warning a:focus {
  color: var(--solid-warning-bg-color);
}
.tpl-header.header-warning i.capital {
  color: var(--solid-warning-font-color);
  background-color: var(--solid-warning-bg-color);
}
.tpl-header.header-warning,
.tpl-header.header-warning nav ul li ul {
  background-color: var(--regular-surface-color);
}
.tpl-header.header-warning.active {
  background-color: rgba(var(--regular-surface-rgb-color), 0.85);
}
.tpl-header.header-warning nav ul li a:hover, .tpl-header.header-warning nav ul li a:focus {
  background-color: var(--regular-warning-disabled-bg-color);
}
.tpl-header.header-warning .th-btn {
  border-color: var(--regular-border-color);
}

.tpl-header.header-regular-warning, .tpl-header.header-regular-warning button, .tpl-header.header-regular-warning a {
  color: var(--regular-warning-font-color);
}
.tpl-header.header-regular-warning:hover, .tpl-header.header-regular-warning:focus, .tpl-header.header-regular-warning button:hover, .tpl-header.header-regular-warning button:focus, .tpl-header.header-regular-warning a:hover, .tpl-header.header-regular-warning a:focus {
  color: var(--regular-default-surface-color);
}
.tpl-header.header-regular-warning i.capital {
  color: var(--solid-default-font-color);
  background-color: var(--solid-default-bg-color);
}
.tpl-header.header-regular-warning,
.tpl-header.header-regular-warning nav ul li ul {
  background-color: var(--regular-warning-bg-color);
}
.tpl-header.header-regular-warning nav ul li a:hover, .tpl-header.header-regular-warning nav ul li a:focus {
  background-color: var(--regular-warning-active-bg-color);
}
.tpl-header.header-regular-warning .th-btn {
  border-color: var(--regular-warning-border-color);
}

.tpl-header.header-solid.header-warning, .tpl-header.header-solid.header-warning button, .tpl-header.header-solid.header-warning a {
  color: var(--solid-warning-font-color);
}
.tpl-header.header-solid.header-warning:hover, .tpl-header.header-solid.header-warning:focus, .tpl-header.header-solid.header-warning button:hover, .tpl-header.header-solid.header-warning button:focus, .tpl-header.header-solid.header-warning a:hover, .tpl-header.header-solid.header-warning a:focus {
  color: var(--solid-default-bg-color);
}
.tpl-header.header-solid.header-warning i.capital {
  color: var(--solid-default-font-color);
  background-color: var(--solid-default-bg-color);
}
.tpl-header.header-solid.header-warning,
.tpl-header.header-solid.header-warning nav ul li ul {
  background-color: var(--solid-warning-surface-color);
}
.tpl-header.header-solid.header-warning.active {
  background-color: rgba(var(--solid-warning-surface-rgb-color), 0.85);
}
.tpl-header.header-solid.header-warning nav ul li a:hover, .tpl-header.header-solid.header-warning nav ul li a:focus {
  background-color: var(--solid-warning-active-bg-color);
}
.tpl-header.header-solid.header-warning .th-btn {
  border-color: var(--solid-warning-border-color);
}

.tpl-header.header-danger, .tpl-header.header-danger button, .tpl-header.header-danger a {
  color: var(--solid-bg-color);
}
.tpl-header.header-danger:hover, .tpl-header.header-danger:focus, .tpl-header.header-danger button:hover, .tpl-header.header-danger button:focus, .tpl-header.header-danger a:hover, .tpl-header.header-danger a:focus {
  color: var(--solid-danger-bg-color);
}
.tpl-header.header-danger i.capital {
  color: var(--solid-danger-font-color);
  background-color: var(--solid-danger-bg-color);
}
.tpl-header.header-danger,
.tpl-header.header-danger nav ul li ul {
  background-color: var(--regular-surface-color);
}
.tpl-header.header-danger.active {
  background-color: rgba(var(--regular-surface-rgb-color), 0.85);
}
.tpl-header.header-danger nav ul li a:hover, .tpl-header.header-danger nav ul li a:focus {
  background-color: var(--regular-danger-disabled-bg-color);
}
.tpl-header.header-danger .th-btn {
  border-color: var(--regular-border-color);
}

.tpl-header.header-regular-danger, .tpl-header.header-regular-danger button, .tpl-header.header-regular-danger a {
  color: var(--regular-danger-font-color);
}
.tpl-header.header-regular-danger:hover, .tpl-header.header-regular-danger:focus, .tpl-header.header-regular-danger button:hover, .tpl-header.header-regular-danger button:focus, .tpl-header.header-regular-danger a:hover, .tpl-header.header-regular-danger a:focus {
  color: var(--regular-default-surface-color);
}
.tpl-header.header-regular-danger i.capital {
  color: var(--solid-default-font-color);
  background-color: var(--solid-default-bg-color);
}
.tpl-header.header-regular-danger,
.tpl-header.header-regular-danger nav ul li ul {
  background-color: var(--regular-danger-bg-color);
}
.tpl-header.header-regular-danger nav ul li a:hover, .tpl-header.header-regular-danger nav ul li a:focus {
  background-color: var(--regular-danger-active-bg-color);
}
.tpl-header.header-regular-danger .th-btn {
  border-color: var(--regular-danger-border-color);
}

.tpl-header.header-solid.header-danger, .tpl-header.header-solid.header-danger button, .tpl-header.header-solid.header-danger a {
  color: var(--solid-danger-font-color);
}
.tpl-header.header-solid.header-danger:hover, .tpl-header.header-solid.header-danger:focus, .tpl-header.header-solid.header-danger button:hover, .tpl-header.header-solid.header-danger button:focus, .tpl-header.header-solid.header-danger a:hover, .tpl-header.header-solid.header-danger a:focus {
  color: var(--solid-default-bg-color);
}
.tpl-header.header-solid.header-danger i.capital {
  color: var(--solid-default-font-color);
  background-color: var(--solid-default-bg-color);
}
.tpl-header.header-solid.header-danger,
.tpl-header.header-solid.header-danger nav ul li ul {
  background-color: var(--solid-danger-surface-color);
}
.tpl-header.header-solid.header-danger.active {
  background-color: rgba(var(--solid-danger-surface-rgb-color), 0.85);
}
.tpl-header.header-solid.header-danger nav ul li a:hover, .tpl-header.header-solid.header-danger nav ul li a:focus {
  background-color: var(--solid-danger-active-bg-color);
}
.tpl-header.header-solid.header-danger .th-btn {
  border-color: var(--solid-danger-border-color);
}

/* --- navbar ------------------------------------------------- */
.navbar {
  float: right;
}
.navbar ul,
.navbar li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  padding: 1rem 1rem;
  display: block;
  white-space: nowrap;
}
.navbar a:hover {
  text-decoration: none;
}
.navbar > ul > li > a span {
  margin-left: 10px;
}
.navbar > ul > li {
  position: relative;
}
.navbar > ul > li ul li a {
  display: block;
}
.navbar > ul > li ul li.separator {
  font-size: 1px;
  margin: 2px 0 2px 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 0;
  line-height: 0;
}
.navbar > ul > li ul li ul li {
  padding-left: 0;
  padding-right: 0;
}
.navbar > ul {
  display: flex;
  flex-wrap: wrap;
}
.navbar > ul > li > ul {
  min-width: 180px;
  position: absolute;
  right: 0;
  display: none;
  z-index: 1000;
}
.navbar > ul > li > ul.active {
  display: block;
}
.navbar > ul > li:hover > ul {
  display: block;
}

/* navbar-mobile */
.navbar-mobile {
  font-size: 1.2em;
  margin-top: 20px;
}
.navbar-mobile ul,
.navbar-mobile li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar-mobile a {
  text-decoration: none;
  padding: 7px 14px 7px 32px;
  display: block;
  white-space: nowrap;
}
.navbar-mobile a:hover {
  text-decoration: none;
}
.navbar-mobile > ul > li > a span {
  margin-left: 10px;
}
.navbar-mobile > ul > li {
  position: relative;
}
.navbar-mobile > ul > li > ul {
  background: rgba(255, 255, 255, 0.2);
}
.navbar-mobile > ul > li ul li a {
  padding: 7px 14px 7px 42px;
  display: block;
}
.navbar-mobile > ul > li ul li.separator {
  font-size: 1px;
  margin: 2px 0 2px 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 0;
  line-height: 0;
}
.navbar-mobile > ul > li ul li ul li {
  padding-left: 0;
  padding-right: 0;
}
.navbar-mobile > ul > li > ul {
  position: relative;
  display: none;
  z-index: 1000;
}
.navbar-mobile > ul > li > ul.active {
  display: block;
}
.navbar-mobile > ul > li:hover > ul {
  display: block;
}

.pull-btn {
  font-size: 2rem;
  display: none;
}
@media (max-width: 600px) {
  .pull-btn {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .pull-btn {
    display: block;
  }
  .navbar {
    display: none;
  }
}
/* --- print ------------------------------------------------- */
@media print {
  @page {
    size: auto;
  }
  .tpl-header,
  .navbar,
  .tpl-footer,
  .tpl-copyright,
  aside {
    display: none;
  }
  body {
    border-top: 0;
    min-width: 800px !important;
  }
  .tpl-container {
    margin: 0;
    max-width: none;
  }
}