.widget-post > div {
  clear: both;
  overflow: hidden;
  margin-bottom: 25px;
}
.widget-post .post-thumb {
  float: left;
  margin-right: var(--spacing-4);
}
.widget-post .post-thumb img {
  width: 85px;
}
.widget-post .post-title a {
  text-decoration: none;
}
.widget-post .post-meta {
  color: var(--regular-subtle-font-color);
  font-size: var(--font-size-sm);
}