.widget-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget-list a {
  color: var(--regular-font-color);
  text-decoration: none;
}
.widget-list a:hover {
  color: var(--regular-primary-surface-color);
}
.widget-list li {
  border-bottom-width: var(--border-width);
  border-bottom-style: var(--border-style);
  border-bottom-color: var(--regular-border-color);
  margin: 0;
  padding: 0;
  position: relative;
}
.widget-list li > a {
  padding: var(--spacing-2) var(--spacing-4);
  display: block;
  transition: all ease 0.5s;
}
.widget-list li > a:hover {
  padding-left: calc(var(--spacing-4) + var(--spacing-2));
}
.widget-list li > a > i {
  margin-right: var(--spacing-2);
}
.widget-list li.selected > a {
  text-decoration: underline;
}
.widget-list li > div {
  padding: var(--spacing-2) var(--spacing-4);
}

.widget-icon {
  font-size: var(--font-size-lg);
}

.widget-badge {
  color: var(--regular-subtle-font-color);
}