// --- frontend ---------------------------------------------
$frontend-border: 1px solid !default;
$frontend-body-bg-color: var(--regular-surface-color) !default;
$frontend-body-border-top: calc(2 * var(--font-size-base) * var(--line-height-base) + 2rem) !default;
$frontend-accessibility-border-top: calc(-20rem - 2 * var(--font-size-base) * var(--line-height-base) + 2rem) !default;

// header
$frontend-header-active-opacity: 0.85 !default;

// top header
$frontend-capital-color: null !default;
$frontend-capital-bg-color: null !default;

// logo
$frontend-header-transition-duration: 0.3s !default;
$frontend-header-logo-color: null !default;

// --- navbar ---------------------------------------------
$frontend-pull-btn-color: null !default;
//
$frontend-navbar-color: null !default;
$frontend-navbar-hover-color: null !default; //?
$frontend-navbar-hover-bg-color: null !default;
$frontend-navbar-nested-color: null !default;
$frontend-navbar-nested-hover-color: null !default;
$frontend-navbar-nested-bg-color: null !default;

$frontend-navbar-padding: 1rem 1rem !default;

// --- widget ---------------------------------------------
$widget-list-displacement: var(--spacing-2) !default;
