// --- widget ---------------------------------------------
.widget-list {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
        color: var(--regular-font-color);
        text-decoration: none;

        &:hover {
            color: var(--regular-primary-surface-color);
        }
    }

    li {
        border-bottom-width: var(--border-width);
        border-bottom-style: var(--border-style);
        border-bottom-color: var(--regular-border-color);
        margin: 0;
        padding: 0;
        position: relative;

        & > a {
            padding: var(--spacing-2) var(--spacing-4);
            display: block;
            transition: all ease 0.5s;

            &:hover {
                padding-left: calc(var(--spacing-4) + $widget-list-displacement);
            }

            & > i {
                margin-right: var(--spacing-2);
            }
        }

        &.selected > a {
            text-decoration: underline;
        }

        & > div {
            padding: var(--spacing-2) var(--spacing-4);
        }
    }
}

.widget-icon {
    font-size: var(--font-size-lg);
}

.widget-badge {
    color: var(--regular-subtle-font-color);
}
