.widget-post {
    > div {
        clear: both;
        overflow: hidden;
        margin-bottom: 25px;
    }

    .post-thumb {
        float: left;
        margin-right: var(--spacing-4);

        img {
            width: 85px;
        }
    }

    .post-title a {
        text-decoration: none;
    }

    .post-meta {
        color: var(--regular-subtle-font-color);
        font-size: var(--font-size-sm);
    }
}
