/* --- Showcase ----------------------------------------- */
.article {
	&-wrapper {
		display: flex;
		gap: $spacing;
		margin-top: $spacing;
		margin-bottom: $spacing * 2;

		&>div {
			flex: auto;
		}
	}

	&-media {
		max-width: 260px;
	}

	&-title {
		h1 {
			margin: 0;
		}

		a:not(.edit) {
			color: var(--regular-font-color);
			text-decoration: none;
		}

		.edit {
			color: var(--regular-subtle-font-color);
			font-size: 1rem;
		}
	}

	//&-content {  }
	&-info {
		color: var(--regular-border-color);
	}

	//&-date { }
	&-description {
		img {
			padding: 1px;
			border: 4px solid var(--regular-bg-color);
			margin: 5px;
		}

		p {
			margin: 0 0 18px;
		}
	}
}

@media only screen and (max-width: $screen-small) {
	.article-wrapper {
		display: block;
	}
	.article-media {
		max-width: none;
		margin-bottom: $spacing;
	}
}