/* --- Showcase ----------------------------------------- */
.article {
    &-wrapper {
        display: flex;
        gap: $spacing;
        margin-top: $spacing;
        margin-bottom: $spacing * 2;

        & > div {
            flex: auto;
        }
    }

    &-media {
        max-width: 260px;
    }

    &-title {
        h1 {
            margin: 0;
        }

        a:not(.edit) {
            color: var(--regular-font-color);
            text-decoration: none;
        }

        .edit {
            color: var(--regular-subtle-font-color);
            font-size: $font-size;
        }
    }

    //&-content {  }
    &-info {
        color: var(--regular-subtle-font-color);
    }

    &-summary {
        color: var(--regular-subtle-font-color);
    }

    //&-date { }
    &-description {
        img {
            padding: 1px;
            border: 4px solid var(--regular-border-color);
            margin: 5px;
        }

        p {
            margin: 0 0 $spacing;
        }
    }
}

@media only screen and (max-width: $screen-small) {
    .article-wrapper {
        display: block;
    }
    .article-media {
        max-width: none;
        margin-bottom: $spacing;
    }
}
