/* --- backList -------------------------------------------- */
.backlist-box {
    position: relative;
    //max-width: $screen-xl;
    //min-height: 20rem;
    margin-bottom: var(--spacing-4);
}

.backlist-slot {
    overflow: hidden;
    position: relative;
}

.backlist-wrapper {
    .empty-list {
        text-align: center;
        padding: 0 var(--spacing-4);

        p {
            font-size: var(--font-size-lg);
            font-weight: bold;
            color: var(--regular-subtle-font-color);
            text-align: center;
            margin: var(--spacing-4) auto;
            padding: var(--spacing-4);
            border-width: var(--border-width);
            border-style: var(--border-style);
            border-color: var(--regular-border-color);
            border-radius: var(--rounded-md);
            display: inline-block;
        }
    }

    .footer {
        padding: var(--spacing-4) var(--spacing-2);
    }
}

.kl-body {
    font-size: var(--font-size-sm);
    color: var(--regular-subtle-font-color);

    > div:nth-child(2) {
        display: none;
    }

    &.expand > div {
        display: none;

        &:nth-child(2) {
            display: block;
        }
    }

    .kl-tg:before {
        content: ". . .";
    }
}

.kl-sort {
    &,
    &:hover {
        color: var(--regular-font-color) !important;
        border-bottom-width: var(--border-width);
        border-bottom-style: dashed;
        border-bottom-color: var(--regular-border-color);
        text-decoration: none;
    }
}

/* --- actions --- */
.backlist-actions {
    z-index: 1;
    position: sticky;
    border-radius: var(--rounded-md);
    background-color: var(--regular-surface-color);

    &.active {
        border-width: var(--border-width);
        border-style: var(--border-style);
        border-color: var(--regular-border-color);
        box-shadow: var(--box-shadow-template);
    }

    .box-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-2);
        padding: var(--spacing-2);

        > div {
            flex: auto;
        }
    }

    .btn-create {
        display: inline;

        input {
            width: 3rem;
        }
    }
}

/* --- filters --- */
.backlist-filters {
    text-align: right;
    padding: var(--spacing-2);
    background: var(--regular-bg-color);

    input.btn {
        width: 140px;
    }
}

/* --- pagination --- */
.backlist-pagination .info {
    text-wrap: nowrap;
    margin: var(--spacing-4);
    display: inline-block;
}
