// normalize
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* --- button ---- */
a.btn,
.btn {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    font-weight: normal;
    line-height: var(--line-height-base);
    vertical-align: middle;
    text-decoration: none;
    margin: 0;
    padding: $felem-btn-padding;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-radius: var(--rounded-md);
    box-shadow: var(--box-shadow-button);
    //-webkit-appearance: none; -moz-appearance: none; appearance: none;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    &:hover {
        text-decoration: none;
        outline: 0;
    }

    &-block {
        text-align: center;
        display: block;
        width: 100%;
    }

    &.btn-outline {
        background-color: transparent;
    }
}

@media (max-width: $screen-lg) {
    .btn-responsive-caption {
        display: none;
    }
}

.rounded-full {
    &.btn,
    &.btn-group .btn {
        border-radius: var(--rounded-full);
    }
}

// group
.btn-group {
    position: relative;
    display: inline-block;
    white-space: nowrap;

    & + & {
        margin-left: var(--spacing-2);
    }

    & > & + & {
        margin-left: 0;
    }

    > .btn:not(:last-child):not(.dropdown):not(.dropdown-toggle),
    > .btn-group:not(:last-child) > .btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    > .btn:not(:first-child),
    > .btn-group:not(:first-child) > .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

// press
.btn-press {
    &:has(> input:checked) {
        background-color: var(--regular-active-bg-color);
    }
}

// dropdown
.dropdown-toggle::after {
    display: inline-block;
    content: "\25BE";
    font-style: normal;
    margin-left: 7px;

    @at-root .btn ~ & {
        margin-left: 0;
    }
}

.dropdown-menu {
    text-align: left;
    max-height: 20rem;
    min-width: 180px;
    padding: 0;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--regular-border-color);
    border-radius: var(--rounded-md);
    background-color: var(--regular-surface-color);
    box-shadow: var(--box-shadow-dropdown);
    position: absolute;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: var(--zindex-dropdown);

    > ul {
        text-align: left;
        margin: 0.375rem 0;
        padding: 0;
        list-style: none;
        cursor: default;

        > li {
            padding: 0 0.375rem;
            white-space: nowrap;

            /* &.selected i:after {
				content: '\2713';
			} */

            // check icon
            &.separator {
                font-size: 1px;
                margin: 2px 0 2px 0;
                border-bottom-width: var(--border-width);
                border-bottom-style: var(--border-style);
                border-bottom-color: var(--regular-border-color);
                height: 0;
                line-height: 0;
            }

            a {
                color: var(--regular-font-color);
                text-decoration: none;
                padding: 0.25em 0.625em;
                display: block;

                &:focus:not(.disabled),
                &:hover:not(.disabled) {
                    background-color: var(--regular-bg-color);
                }

                i {
                    margin-right: 4px;
                    display: inline-block;
                }
            }
        }
    }

    .disabled,
    &.disabled {
        color: var(--regular-disabled-font-color);
    }
}

// inline
.btn-inline {
    padding-left: 0.125rem;
    padding-right: 0.125rem;
    white-space: nowrap;
    display: inline;

    &,
    &:hover,
    &:focus {
        color: var(--regular-font-color);
        text-decoration: none;
    }
}

// sizes
.btn-large {
    .btn,
    &.btn {
        font-size: var(--font-size-lg);
        padding: $felem-btn-large-padding;
        border-radius: var(--rounded-lg);
    }
}

.btn-small {
    .btn,
    &.btn {
        font-size: var(--font-size-sm);
        padding: $felem-btn-small-padding;
        border-radius: var(--rounded-sm);
    }
}
