/* --- collection ---------------------------------------- */
.input-collection {
    position: relative;

    .dropdown-menu {
        width: 100%;

        & > ul {
            margin: 0;

            & > li {
                padding: 0.375rem 0.875rem;

                &.active,
                &:hover {
                    background-color: var(--regular-bg-color);
                }

                & ~ li {
                    border-top-width: var(--border-width);
                    border-top-style: var(--border-style);
                    border-top-color: var(--regular-border-color);
                }

                .dd {
                    color: var(--regular-subtle-font-color);
                    font-size: var(--font-size-sm);
                }
            }
        }
    }

    &-group {
        margin-bottom: var(--border-width);
        padding-bottom: var(--border-width);
        border-bottom-width: var(--border-width);
        border-bottom-style: dashed;
        border-bottom-color: var(--regular-border-color);
    }

    .just-use {
        text-align: center;
        font-weight: bold;
    }
}
