/* --- datepicker ------------------------------ */
.input-datepicker {
    font-size: var(--font-size-sm);
    line-height: normal;
    text-align: center;
    max-width: 250px;
    background: var(--regular-surface-color);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--regular-border-color);
    border-radius: var(--rounded-md);
    box-shadow: var(--box-shadow-dropdown);

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    th {
        font-weight: bold;
        padding: $datepicker-cell-padding;
        overflow: hidden;
    }

    td {
        padding: $datepicker-cell-padding;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            color: var(--regular-active-font-color);
            background: var(--regular-active-bg-color);
        }
    }

    .header {
        font-weight: bold;
        border-bottom-width: var(--border-width);
        border-bottom-style: var(--border-style);
        border-bottom-color: var(--regular-border-color);
    }

    //
    .ext {
        color: var(--regular-disabled-font-color);
    }

    .today {
        text-decoration: underline;
    }

    .marked {
        border: 1px solid var(--regular-border-color);
    }

    .selected {
        background: var(--regular-active-bg-color);
    }

    .nav {
        margin-top: 1px;
        border-top-width: var(--border-width);
        border-top-style: var(--border-style);
        border-top-color: var(--regular-border-color);
        cursor: pointer;

        td {
            padding: (1.4 * $datepicker-cell-padding) 0;
        }
    }

    .s-minutes td {
        padding: (2 * $datepicker-cell-padding) $datepicker-cell-padding;
    }

    .s-months td,
    .s-time td {
        padding: (3 * $datepicker-cell-padding) $datepicker-cell-padding;
    }

    //.nav-up:after { content: '\25B2'; }
    //.nav-down:after { content: '\25BC'; }

    // toggle
    .s-days,
    .s-months,
    .s-years,
    .s-time,
    .s-hours,
    .s-minutes {
        display: none;
    }

    &.x0 .s-days,
    &.x1 .s-months,
    &.x2 .s-years,
    &.x3 .s-time,
    &.x4 .s-hours,
    &.x5 .s-minutes {
        display: block;
    }
}
