/* --- form ----------------------------------------- */
.form-wrapper {
    max-width: $screen-xl;
    margin-bottom: var(--spacing-8);

    > div {
        max-width: $screen-md;
        margin-left: auto;
        margin-right: auto;
    }
}

.form-columns {
    display: flex;
    gap: var(--spacing-4);

    > div {
        flex: 1;
    }
}
@media (max-width: $screen-md) {
    .form-columns {
        display: block;
        > div ~ div {
            margin-top: var(--spacing-4);
        }
    }
}

.form-group {
    & ~ & {
        margin-top: var(--spacing-4);
    }

    > div ~ div {
        margin-top: var(--spacing-2);
    }
}

.form-label {
    font-weight: bold;
}

.form-help {
    color: var(--regular-subtle-font-color);
}

.form-header {
    padding: var(--spacing-2) var(--spacing-4);
    //background: var(--regular-bg-color);
    //border-radius: var(--rounded-md);
    display: flex;
    gap: var(--spacing-2);
    vertical-align: bottom;

    & > div {
        align-self: center;
    }

    .fh-content {
        flex: auto;
    }

    .fh-toggle a i {
        color: var(--regular-font-color);
        transition: all 0.2s linear;
    }
}

.form-body {
    border-top: var(--border-width) var(--border-style) var(--regular-border-color);
    padding: var(--spacing-4);
    display: none;
}

.form-fieldset > :last-child {
    margin-bottom: 0;
}

div.form-fieldset.expanded {
    .fh-toggle i {
        transform: rotate(180deg);
    }

    .form-body {
        display: block;
    }
}

fieldset.form-fieldset {
    margin: 0;
    padding: var(--spacing-4);
    background-color: var(--regular-surface-color);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--regular-border-color);
    border-radius: var(--rounded-md);
    box-shadow: var(--box-shadow-template);

    > legend {
        color: var(--regular-subtle-font-color);
    }
}

.form-fieldset + .form-fieldset {
    margin-top: var(--spacing-2);
}

// actions
.form-actions {
    display: flex;
    margin-bottom: var(--spacing-4);

    .form-col-1 {
        flex: auto;
    }

    .form-col-2 {
        text-align: right;
    }
}
