/* --- suite --- */
.fe-suite {
    --separator: var(--spacing-1);

    .btn-tablist {
        text-align: right;
    }

    .btn-tabpanel-group {
        padding: var(--separator) var(--separator) 0;
        border-width: var(--border-width);
        border-style: var(--border-style);
        border-color: var(--regular-border-color);
        border-radius: var(--rounded-md);

        > div {
            min-height: var(--font-size-base);
        }
    }

    .box {
        position: relative;
        white-space: pre-wrap;
        top: calc(-1 * var(--separator));
        left: calc(-1 * var(--separator));

        label {
            margin-top: var(--separator);
            margin-left: var(--separator);
        }
    }

    .box-group {
        display: flex;
        gap: var(--spacing-2);

        .box {
            flex: auto;
        }

        .actions {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-2);
        }
    }

    .box-1 label {
        cursor: move !important;
    }
}
