// button
$felem-btn-padding: .375rem .875rem !default;
$felem-btn-small-padding: .25rem .75rem !default;
$felem-btn-large-padding: .5rem 1.125rem !default;

// input
$felem-input-check-size: $font-size * 1.125 !default;
$felem-input-padding: .375rem .875rem !default;
$felem-input-small-padding: .25rem .75rem !default;
$felem-input-large-padding: .625rem 1.125rem !default;

// date
$date-cell-padding: .375rem;