/* --- notifications ----------------------------------------- */
.notifications {
  max-width: 990px;
  background-color: var(--regular-surface-color);
  padding: var(--spacing-4);
  border-radius: var(--rounded-md);
}