/* --- collection ---------------------------------------- */
.input-collection {
  position: relative;
}
.input-collection .dropdown-menu {
  width: 100%;
}
.input-collection .dropdown-menu > ul {
  margin: 0;
}
.input-collection .dropdown-menu > ul > li {
  padding: 0.375rem 0.875rem;
}
.input-collection .dropdown-menu > ul > li.active, .input-collection .dropdown-menu > ul > li:hover {
  background-color: var(--regular-bg-color);
}
.input-collection .dropdown-menu > ul > li ~ li {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--regular-border-color);
}
.input-collection .dropdown-menu > ul > li .dd {
  color: var(--regular-subtle-font-color);
  font-size: 0.875rem;
}
.input-collection-group {
  margin-bottom: 1px;
  padding-bottom: 1px;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: var(--regular-border-color);
}
.input-collection .just-use {
  text-align: center;
  font-weight: bold;
}

.crop-image {
  overflow: hidden;
  max-width: 820px;
  padding: 10px;
  box-sizing: padding-box;
  border-radius: 10px;
}
.crop-image > div {
  position: relative;
  margin-bottom: 10px;
}
.crop-image > div > img {
  width: 100%;
  display: block;
}
.crop-image > div > div {
  position: absolute;
  border: 2px dashed #fff;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
  cursor: move;
}
.crop-image > div > div > div {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}
.crop-image > div > div > div:nth-child(1) {
  top: -5px;
  left: -5px;
  cursor: nw-resize;
}
.crop-image > div > div > div:nth-child(2) {
  top: -5px;
  right: -5px;
  cursor: ne-resize;
}
.crop-image > div > div > div:nth-child(3) {
  bottom: -5px;
  right: -5px;
  cursor: se-resize;
}
.crop-image > div > div > div:nth-child(4) {
  bottom: -5px;
  left: -5px;
  cursor: sw-resize;
}

/* --- date ------------------------------ */
.input-date {
  font-size: 0.875rem;
  line-height: normal;
  text-align: center;
  max-width: 250px;
  background: var(--regular-surface-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--regular-border-color);
  border-radius: 0.375rem;
  box-shadow: 1px 1px 2px rgba(var(--solid-surface-rgb-color), 0.075);
}
.input-date table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.input-date th {
  font-weight: bold;
  padding: 0.375rem;
  overflow: hidden;
}
.input-date td {
  padding: 0.375rem;
  cursor: pointer;
  overflow: hidden;
}
.input-date td:hover {
  color: var(--regular-active-font-color);
  background: var(--regular-active-bg-color);
}
.input-date .header {
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--regular-border-color);
}
.input-date .ext {
  color: var(--regular-disabled-font-color);
}
.input-date .today {
  text-decoration: underline;
}
.input-date .marked {
  border: 1px solid var(--regular-border-color);
}
.input-date .selected {
  background: var(--regular-active-bg-color);
}
.input-date .nav {
  margin-top: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--regular-border-color);
  cursor: pointer;
}
.input-date .nav td {
  padding: 0.525rem 0;
}
.input-date .s-minutes td {
  padding: 0.75rem 0.375rem;
}
.input-date .s-months td,
.input-date .s-time td {
  padding: 1.125rem 0.375rem;
}
.input-date .s-days,
.input-date .s-months,
.input-date .s-years,
.input-date .s-time,
.input-date .s-hours,
.input-date .s-minutes {
  display: none;
}
.input-date.x0 .s-days, .input-date.x1 .s-months, .input-date.x2 .s-years, .input-date.x3 .s-time, .input-date.x4 .s-hours, .input-date.x5 .s-minutes {
  display: block;
}

/* --- upload handle --------------------------------- */
.input-file {
  color: var(--regular-disabled-font-color);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.input-file > div {
  width: 100%;
  height: 5rem;
  flex-shrink: 0;
  overflow: hidden;
}
.input-file > div > div {
  overflow: hidden;
}
.input-file .input-field.uh-img {
  padding: 0;
}
.input-file .input-field.uh-img > div {
  width: 5rem;
}
.input-file .input-field.uh-img > div img {
  max-width: 100%;
  min-height: auto;
}
.input-file.multiple > div {
  width: 5rem;
}

.uh-btn {
  border-style: dashed !important;
  text-align: center;
}
.uh-icon {
  text-align: center;
  font-size: 2rem;
}
.uh-proggress {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #009eff;
}
.uh-title {
  font-size: 0.875rem;
  white-space: nowrap;
}
.uh-cross, .uh-crop {
  text-align: center;
  position: absolute;
  top: 4px;
  right: 3px;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: rgba(var(--solid-surface-rgb-color), 0.4);
  border-radius: 50%;
  cursor: pointer;
}
.uh-crop {
  top: calc(1.5rem + 5px);
}
.uh-required {
  color: var(--regular-secondary-font-color);
  font-size: 0.9em;
  clear: both;
}

/* --- suite ----------------------------------------------------- */
.fe-suite {
  width: 100%;
  border-width: 1px;
  border-style: dashed;
  border-color: var(--regular-border-color);
}
.fe-suite ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.fe-suite > ul {
  display: table;
  width: 100%;
  vertical-align: top;
  table-layout: fixed;
}
.fe-suite > ul > li {
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding: 2px;
  white-space: pre-wrap;
}
.fe-suite > ul > li:last-child {
  width: 30px;
}
.fe-suite > ul > li:first-child label {
  cursor: move !important;
}
.fe-suite > ul > li div {
  margin: 0 5px 5px;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
}

/* --- Tags --------------------------------------------------*/
.input-tag-wrap {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: normal;
}

.input-tag-group {
  display: inline-block;
  margin-bottom: 1px;
}
.input-tag-group > :not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-tag-group > :last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-tag-group > :first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-tag-group ~ .input-tag-group {
  margin-left: 2px;
}

.input-tag {
  color: var(--regular-font-color);
  background: var(--regular-bg-color);
  padding: 0.375rem 0.875rem;
  text-decoration: none;
  border-radius: 0.375rem;
  display: inline-block;
  cursor: default;
}
.input-tag ~ .input-tag {
  margin-left: 1px;
}
.input-tag.selected {
  color: var(--regular-active-font-color);
  background-color: var(--regular-active-bg-color);
}

a.input-tag:focus, a.input-tag:hover {
  color: var(--regular-font-color);
  text-decoration: none;
  background-color: var(--regular-active-bg-color);
}