/* --- form ----------------------------------------- */
.form-wrapper {
  max-width: 1200px;
  margin-bottom: var(--spacing-8);
}
.form-wrapper > div {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.form-columns {
  display: flex;
  gap: var(--spacing-4);
}
.form-columns > div {
  flex: 1;
}

@media (max-width: 770px) {
  .form-columns {
    display: block;
  }
  .form-columns > div ~ div {
    margin-top: var(--spacing-4);
  }
}
.form-group ~ .form-group {
  margin-top: var(--spacing-4);
}
.form-group > div ~ div {
  margin-top: var(--spacing-2);
}

.form-label {
  font-weight: bold;
}

.form-help {
  color: var(--regular-subtle-font-color);
}

.form-header {
  padding: var(--spacing-2) var(--spacing-4);
  display: flex;
  gap: var(--spacing-2);
  vertical-align: bottom;
}
.form-header > div {
  align-self: center;
}
.form-header .fh-content {
  flex: auto;
}
.form-header .fh-toggle a i {
  color: var(--regular-font-color);
  transition: all 0.2s linear;
}

.form-body {
  border-top: var(--border-width) var(--border-style) var(--regular-border-color);
  padding: var(--spacing-4);
  display: none;
}

.form-fieldset > :last-child {
  margin-bottom: 0;
}

div.form-fieldset.expanded .fh-toggle i {
  transform: rotate(180deg);
}
div.form-fieldset.expanded .form-body {
  display: block;
}

fieldset.form-fieldset {
  margin: 0;
  padding: var(--spacing-4);
  background-color: var(--regular-surface-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--regular-border-color);
  border-radius: var(--rounded-md);
  box-shadow: var(--box-shadow-template);
}
fieldset.form-fieldset > legend {
  color: var(--regular-subtle-font-color);
}

.form-fieldset + .form-fieldset {
  margin-top: var(--spacing-2);
}

.form-actions {
  display: flex;
  margin-bottom: var(--spacing-4);
}
.form-actions .form-col-1 {
  flex: auto;
}
.form-actions .form-col-2 {
  text-align: right;
}